[2018-02-15 22:48] medijan opened #277 "Translation Bug in Access-Table from Ticket-Details"
### Is this a bug report?

* [x] yes
* [ ] no

### What branch did this occur in?
4.9.57.p

### What version of WordPress is on the site this issue happened?
4.9.4

In the file "ticket_details.template.php" the two slugs "Total Sold" and "Total Spaces Left" have an "%s" between, so they get not translated. Lines 174 and 181

In general i would suggest creating those alignment classes dynamicaly fo

[2018-02-15 22:58] joshfeck commented on #277
The strings actually do get translated. For example:

https://translate.eventespresso.com/projects/event-espresso-4/pt-br/event-espresso-pt_br/?filters%5Bstatus%5D=either&filters%5Boriginal_id%5D=22635&filters%5Btranslation_id%5D=106277

https://translate.eventespresso.com/projects/event-espresso-4/pt-br/event-espresso-pt_br/?filters%5Bstatus%5D=either&filters%5Boriginal_id%5D=20250&filters%5Btran

[2018-02-15 23:28] medijan commented on #277
not in german language. i had a mix german/english before i updated the file like written above.

[2018-02-15 23:39] joshfeck commented on #277
While the German translation may not have those strings translated, that's not because of a bug in the software. The strings can be translated and placeholders are common practice.

[2018-02-15 23:44] medijan commented on #277
maybe, but after my edit the german translations are correct, so the mo/po has those strings.

[2018-02-15 23:48] joshfeck commented on #277
That's not relevant because the strings that include the placeholders are present in the translation files.

[2018-02-15 23:55] medijan commented on #277
For me and my customer and from that point of view the consist use of "one" language on a website is most important. If some slugs get not traslated, i dig into the code and solve the problem. I just want to inform you about that issue, i solved it for me & my customer so..., if it's not a bug its a feature ;)

[2018-02-15 23:58] joshfeck commented on #277
You didn't actually solve the problem by removing the placeholders. The correct solution is update the translation file so it has translations for the untranslated strings.

The usage of placeholders in translatable strings is not only common, but best practice.

[2018-02-16 00:08] medijan commented on #277
Line 174: sprintf( esc_html__( 'Total%sSold', 'event_espresso' ), '<br/>' )
--> No german translation on the frontend for that slug! English Slug "Total Sold" in the span of th...

edited Line 174: sprintf( esc_html__( 'Total Sold', 'event_espresso' ), '<br/>' )
--> German translation "Teilnehmer Gesamt" as the correct translation from the translation file!!!

[2018-02-16 09:37] Stefanos-Stefanidis commented on #276
Thanks a lot for your response.

I am actually trying not to have a single page checkout logic.
Long story short i import a csv to single check out and split each user with comma(,) i create a different user with different ATT_ID in registration.
Also to spare me sometime can you tell me the files that send e mail when you add the attendees?

Thanks in advance.

[2018-02-16 14:43] joshfeck commented on #277
That's actually not the correct translation for that string though. There's actually a second string within the same template that uses that other translation.

I went ahead and updated the two missing translations on the Event Espresso GlotPress site, which is the correct solution and the solution that anyone with account there can contribute.

You can use download the .zip file attached here the

[2018-02-16 14:43] #277 closed

[2018-02-16 17:38] mnelson4 commented on #276
Hmmm, ok. So it sounds like you're building a fairly custom solution there.

It's a pretty long story there, but sending of messages gets kicked off by `core/business/EE_REgistraiton_Processor.class.php`'s `trigger_registration_update_notifications()`, which triggers an action which calls `modules/messages/EED_Messages`'s `maybe_registration()`, which makes a bunch of calls to `modules/messages/EE

[2018-02-16 17:38] #276 closed

[2018-02-16 17:39] tn3rb commented on #276
Sorry for the confusion but transactions are not created until you hit the checkout page.
You can look at the code in `EED_Single_Page_Checkout::_initialize_transaction()` (location: `modules/single_page_checkout/EED_Single_Page_Checkout.module.php`) to see how transactions are created and `EED_Single_Page_Checkout::_initialize_registrations()` to see how registrations are added to the transaction

[2018-02-16 17:41] tn3rb commented on #276
doh! didn't see your response Michael... was busy writing mine :\

[2018-02-16 17:43] tn3rb commented on #269
fiz has been pushed to branch:
https://github.com/eventespresso/event-espresso-core/tree/BUG/11268/session-ticket-release
plz feel free to test this on a non-production site (ie: a test site)

[2018-02-16 17:45] tn3rb commented on #267
going to assume that no news is good news since you haven't responded since December 2017.

[2018-02-16 17:45] #267 closed

[2018-02-16 17:47] tn3rb commented on #265
going to assume that no news is good news since you haven't responded since November 2017.

[2018-02-16 17:47] #265 closed

[2018-02-16 17:49] tn3rb commented on #264
going to assume that no news is good news since you haven't responded since December 2017.

[2018-02-16 17:49] #264 closed

[2018-02-16 17:59] tn3rb commented on #260
sorry for the lack of response... I think we were waiting for more information from you since the bit you have provided is too vague to confidently give you a solid answer.

That said, you could try the following:

[code]

which happens just prior to the attendee information data is processed for a registration.
That hook can be found in `EE_SPCO_Reg_Step_Attendee_Information::_process_registratio

[2018-02-16 18:04] tn3rb commented on #256
going to assume that no news is good news since you haven't responded since November 2017.

[2018-02-16 18:04] #256 closed

[2018-02-16 18:07] tn3rb commented on #271
going to close this since the problems are due to direct db manipulation (deleting records)

[2018-02-16 18:07] #271 closed

[2018-02-16 18:07] tn3rb commented on #270
going to close this since the problems are due to direct db manipulation (deleting records)

[2018-02-16 18:07] #270 closed

[2018-02-27 22:05] jonappleton opened #278 "Private events lose their private status when sold out!"
Yes EE Version 4.9.46.p

When submitting an issue, please follow this rough guideline for your report.

### Is this a bug report?

* [ X] yes
* [ ] no

### What branch did this occur in?
Version 4.9.46.p

### What version of WordPress is on the site this issue happened?
4.8.5

### If you were directed to create an issue here by the EE support team, what is the link to your original EE support foru

[2018-02-28 16:58] mnelson4 commented on #278
hey @jonappleton ya I'm reproducing the issue. When events get sold out, they're given a new status of "sold_out"... which is public! D'oh! It seems we should have a "sold_out_private" and "sold_out_protected" too.
I'm going to see if we already have an internal ticket for this...

[2018-02-28 17:08] jonappleton commented on #278
Thanks for checking

[2018-02-28 18:10] mnelson4 commented on #278
Hey @jonappleton believe it or not, this is the first report of this issue. (I guess not a lot of people use protected/private events that get sold out). We're going to work on a quickfix solution and a more long-term solution.
For now, you could increase the ticket limit on the sold-out event, (so that it won't be sold out anymore) and remove the ticket selector from the event (so people won't be

[2018-02-28 18:27] jonappleton commented on #278
Hi, Yes we can work with that as these private events should only be managed by site admins and registrations manually added in backend so Ill ask them for now to set the QTY available to be higher than the actual max they go up to so it never hits sold out :)

[2018-03-01 15:14] Stefanos-Stefanidis opened #279 "Secure my custom code from updates"
* [ ] no

Hi,
I have added some code inside EE_SPCO_Reg_Step_Attendee_Information.class.phpf file in the _process_registrations function, to add some functionality when there is a new registration.
 I also removed all the code inside from function in EE_Max_Length_Validation_Strategy_strategy.php
Because i do not want any validation when i am adding an attendee. This code will be overwritten
when

[2018-03-01 17:58] mnelson4 commented on #279
Cool @Stefanos-Stefanidis.
In order to protect your code during the next update, you need to keep it in your own plugin or theme's functions.php, and use actions and filters.
There is one filter in `EE_SPCO_Reg_Step_Attendee_Information::_process_registrations()` called `FHEE__EE_SPCO_Reg_Step_Attendee_Information___process_registrations__pre_registration_process`. Although it's a filter, you tech

[2018-03-01 18:03] tn3rb commented on #278
internal ticket: https://events.codebasehq.com/projects/event-espresso/tickets/11392

[2018-03-01 18:11] tn3rb commented on #279
although this is technically correct it's not advised to do this (but I understand that MIchael was simply trying to ensure that you were able to do what you need to do).

The reason is because performing what should normally be an action from within a filter callback adds an unexpected side effect to that filter call. If some other code at some point determined that it needed to remove all filter

[2018-03-02 09:07] Stefanos-Stefanidis commented on #279
Thanks a lot!
I want to remove the validation
in attendee registration form.
I will try to make my code with a hook!
But it is  a fairly custom solution to meet my
Ends.
You where a great help

[2018-03-02 17:57] mnelson4 commented on #279
This should probably be a separate issue- it gets really confusing for anyone else looking up issues when the are several topics discussed in a single GitHub ticket. But here goes anyways...

That code snippet is always grabbing the first registration it finds in the database (not necessarily the one that's being registered right now), which registration must be in a group of only 1.

So you shoul

[2018-03-02 17:57] #279 closed

[2018-03-05 09:21] individualae opened #280 "Which hook is available for registrations being updated?"
Hello,

I would like to trigger a custom function when a registrants status is updated. Any status should be possible. Which hook or action do I need?

Thanks!

August,

[2018-03-05 11:14] Stefanos-Stefanidis opened #281 "Adding custom code"
* [ ] no

Hi i have added some code to display my latest attendee
I have placed the code inside /core/admin/templates/admin_wrapper.template.php
it works fine but i want to know if there is a hook/action to add my code to this specific page
(code contains php to select from a table)

Thanks in advance

![latestreg](https://user-images.githubusercontent.com/16971672/36972249-1ec0d66e-2077-11e8-9488

[2018-03-05 13:15] nerrad commented on #281
All our actions are prefixed by `AHEE__` and all our filters are prefixed by `FHEE__`.  Your code editor should have a search function that allows you to find actions/filters in the code and you can use those prefixes to limit your search to EE related actions/filters.

I'm puzzled though, you said you placed your custom code directly in the `/core/admin/templates/admin_wrapper.template.php` file.

[2018-03-05 13:15] #281 closed

[2018-03-05 13:36] nerrad commented on #280
There are various actions found within `EE_Registration::set_status`.  You can take your pick from there.

[2018-03-05 13:36] #280 closed

[2018-03-06 12:32] Stefanos-Stefanidis opened #282 "Remove primary registrant validation"
* [ ] no

Hi
I have made some custom change in the plugin
and i do not want to have a primary registrant
so i added a `return true` to the  `function _validate_primary_registrant()`
in the beginning.
It works fine but i want if possible to have a hook to remove the validation
so i do not have to edit a file inside the plugin.

Thanks in advance.

[2018-03-06 12:37] nerrad commented on #282
The Event Espresso system is currently oriented around the concept of a primary registration attached to a transaction and is dependent on it.  So while it may appear to be working fine for you, its possible there's other parts of the system you have not covered yet in your tests after your changes (unless you've made other changes in the code you just haven't mentioned here).

Before adding code

[2018-03-06 13:01] Stefanos-Stefanidis commented on #282
Thanks for the quick response.

Yeah i thought so.
It is true i made customizations to fit my
requirements and maybe some other
functionality does not work.

I will keep it like this! Thanks

[2018-03-06 13:01] #282 closed

[2018-03-06 13:31] nerrad commented on #282
I don't know if you're new to WordPress development or not, but I can't emphasize enough that you are setting yourself for a lot of painful maintenance if you directly edit the files of a plugin.  Anytime you update the plugin you will lose your changes.  If you're doing work for a client you are also putting your client in a precarious position because they will be unable to safely make any updat

[2018-03-06 13:40] Stefanos-Stefanidis commented on #282
Thanks for your concern and your time!

But it is one line of code.
I recently updated the plugin
and i just re enter this one line.

[2018-03-06 16:41] #275 closed

[2018-03-08 22:24] jasonnehf opened #283 "Question: Steps necessary to POST a registration using REST API?"
### Is this a bug report?

- [ ] yes
- [x] no

Could someone please list the steps necessary to register a person to an event using the REST API?

I've been banging my head against it for the past two days, and every time I think I'm making some headway, I meet some gotcha or some issue that causes that registration to misbehave.

So far, here's what I've got:
(pseudocode, of course)
[code]
Which

[2018-03-08 22:56] tn3rb commented on #283
Are you simply trying to create a single record in the `wp_esp_registration` table or are you trying to simulate **everything** that happens when a registration is created normally using the registration checkout form on the frontend of a site?

If you are trying to do the latter, then you absolutely need to create and/or add relations to **ALL** of the objects that are associated with a registrat

[2018-03-09 08:30] raffyphl opened #284 "QUESTION: How can I assign a ticket number sequentially in increments of one (1) every time a registrant is approved"
This is not a bug report. It is a question.

I am using  Event Espresso - 4.9.58.p Running on Wordpress Version 4.9.4

I was directed here by Tony. The link to my original EE support forum thread is [https://eventespresso.com/topic/assign-an-attendee-number-sequentially-for-different-tickets/](https://eventespresso.com/topic/assign-an-attendee-number-sequentially-for-different-tickets/)

I am awar

[2018-03-09 16:25] jasonnehf commented on #283
Here's all of the fields on the wp_esp_registration table where a non-null value is required:

- REG_ID
- EVT_ID
- ATT_ID
- TXN_ID
- TKT_ID
- STS_ID (defaults to: RPP)
- REG_date (defaults to: 0000-00-00 00:00:00)
- REG_final_price (defaults to: 0.000)
- REG_paid (defaults to: 0.000)
- REG_session
-
-

[2018-03-09 17:05] tn3rb commented on #284
The following hook is triggered every time a registration has it's status changed to Approved:

[code]

so you could easily hook into that using something like:

---php
add_action(
    'AHEE__EE_Registration__set_status__to_approved',
    function(EE_Registration $registration, $old_STS_ID, $new_STS_ID, $context) {
        // do something with the registration
    }
);
[code]

or if you wanted to

[2018-03-09 17:11] jasonnehf commented on #283
I should mention that the service I'm trying to implement is meant to bridge two registration systems together -- the client has a separate phone service that registers to their internal system, and they want those phone-based registrations added to the EE system (and EE-based registrations to their phone system, but that's not your problem). So here I am, trying to bridge two systems.

Why aren't

[2018-03-10 07:55] raffyphl commented on #284
Thank you for the reply.

I want to keep the reg code. I want to assign the sequential number to the a registration like an additional registration_code of sorts which is unique to a registrant except this would be unique to an approved registrant.

I forgot to advise you that I am not a programmer but I will try to understand what you said and give it a shot. That said any additional tips on what

[2018-03-10 14:15] nerrad commented on #284
If you're not a programmer then you will unlikely be able to accomplish what you want as it will require some custom development.  The tips etc we give in our github repository are generally more technical in nature.  You may want to consider hiring a developer to do the necessary custom development to accomplish your needs :)

You could also make a feature request for something along the lines yo

[2018-03-10 14:15] #284 closed

[2018-03-10 14:29] nerrad commented on #284
If you are not familiar with WordePress hooks in general, it'd be good to read up on how WordPress hooks work (googling it should turn up some articles for you).  We expose a lot of Event Espresso functionality for customization via the WordPress hook system.  Most code editors with good search capabilities will help you find hooks throughout our code base by searching for `do_action` or `apply_fi

[2018-03-11 22:08] raffyphl commented on #284
Thank you for the replies, tn3rb and nerrad.

I'll give it a go.

[2018-03-12 14:47] emeraldjava opened #285 "Custom booking field using wp_dropdown_pages and WP_Query"
### Is this a bug report?

* [ ] yes
* [X ] no

I'm wondering is there a hook point which would allow me to define a custom booking field, where the details are populated using the wp_dropdown_pages() and custom WP_Query.

In my scenario, I need a person booking a ticket to select which company they work for. The list of companies is managed within wordpress as a custom post type.

[code]

Any hel

[2018-03-12 18:01] tn3rb commented on #285
So just to clarify, you want to add a select input (dropdown) to your registration form that is populated with the names of companies which are custom post types? So when someone is registering for an event, they have to select the Company they work for from the list?

[2018-03-12 20:18] tn3rb commented on #285
This idea seemed like it might be useful for others (and I wanted to ensure what I was going to suggest would work) so I created a code snippet.

Plz see:
https://github.com/eventespresso/ee-code-snippet-library/blob/master/checkout/bc_custom_post_type_input.php

[2018-03-13 17:55] tn3rb commented on #283
ya trying to get apples and bananas to function like they are the same thing doesn't sound like a lot of fun to me

because they are not required for the API requests to be successful which is not the same thing as having a complete data model that has been fully populated with its required data. Think about web applications where a user can edit single fields which get updated immediately on the

[2018-03-13 18:29] nerrad commented on #283
Another thing you can do is make a `OPTIONS` request to any endpoint and it will return you a schema of that endpoint which includes which relations exist for that endpoint.  That can help guide what relations apply to a registration.  For instance if you do a `OPTIONS` request to `/wp-json/ee/v4.8.36/registrations` - you'll discover this subset of json objects in the `schema` property of the resp

[2018-03-13 18:31] nerrad commented on #283
more about schema requests here: https://github.com/eventespresso/event-espresso-core/blob/master/docs/C--REST-API/ee4-rest-api-schema.md

[2018-03-13 18:47] jasonnehf commented on #283
Thanks to you both!

[rolls up sleeves]

Time to get back to it! :)

[2018-03-26 20:10] nerrad commented on #257
fix for this has been merged to master.  Thanks for the report!

[2018-03-26 20:10] #257 closed

[2018-04-05 13:15] nerrad opened #289 "Add helper methods for `Registry::getAssetsUrl` for individual asset type."
See [this pull request comment](https://github.com/eventespresso/event-espresso-core/pull/288#discussion_r179246853) for context.  Basically just need to add `getJsUrl` and `getCssUrl` methods to `EventEspresso\core\services\assets\Registry`.

[2018-04-06 12:29] #289 closed

[2018-04-13 21:41] joshfeck opened #297 "Filtering the defaults on creating a new event documentation"
### Is this a bug report?

* [ ] yes
* [ ] no
* [x] kind of

### What branch did this occur in?
master branch

### What version of WordPress is on the site this issue happened?
4.9.5

It seems that this document may need to be updated:
https://github.com/eventespresso/event-espresso-core/blob/master/docs/T--Tutorials/modifying-defaults-for-events.md#modifying-the-defaults-on-creating-a-new-event
T

[2018-04-13 21:49] nerrad commented on #297
I added the bug label because I think if the instructions in the documentation aren't working then that's as much as a bug as if expected behaviour in code wasn't working.  Unknown yet whether there's an actual problem with the filter referenced or the docs just need updated but agree needs looked at.

[2018-04-15 19:29] nerrad opened #299 "Add webpack-rtl-plugin for prepping rtl css files"
## Issue Overview
We should support rtl languages in the stuff we do and in order to do that we need to have rtl css.  There's a libary that gutenberg is using for their project that we could incorporate in our build process as well to automatically load those css files.  There will also be a loading component php side  needed as a part of this as well.

NPM install: `github:yoavf/webpack-rtl-plug

[2018-04-16 13:54] nerrad opened #301 "Change eejs.data api to use `wp_add_inline_script` instead of `wp_localize_script`"
## Issue Overview

Currently EE core uses `wp_localize_script` for [passing through arbitrary data from php to js](https://github.com/eventespresso/event-espresso-core/blob/master/docs/AA--Javascript-in-EE/eejs-data-api.md).  While this works okay, one potential problem with it is WP doesn't pass through data-types accurately in some cases.  For instance, `true` becomes `1`.   This is a [known iss

[2018-04-16 15:19] joshfeck commented on #301
Requiring WP 4.5 is fine by me.

[2018-04-16 15:51] tn3rb commented on #301
sry are you just changing this for the new code you have added recently or are you going through the entire codebase and updating all occurrences of  `wp_localize_script` ?

[2018-04-16 16:08] nerrad commented on #301
Heavens no, I'm not going to go through our codebase and change all occurrences of `wp_localize_script` :).  As mentioned in the original post, I'm simply looking to use `wp_add_inline_script` for the `eejs.data` api instead of `wp_localize_script`.  I envision we'll be using the `eejs.data` more and more in our new js builds which will over time replace the usage of `wp_localize_script` everywher

[2018-04-17 16:49] sethshoultes opened #303 "Testing Creating a new issue"
## Issue Overview

This issue can be deleted.

## Bug report or feature request?

* [ ] Bug
* [ ] Feature
* [ ] Neither

## Environment Data:

Version of EE:

Version of WordPress:

PHP Version:

Browser used:

## Steps to Reproduce (for bugs)

## Expected Behaviour

## Current Behaviour

## Related Information:

[2018-04-17 16:50] sethshoultes commented on #303
Updating the issue to add a new label

[2018-04-17 16:51] sethshoultes commented on #303
Closing issue

[2018-04-17 16:51] #303 closed

[2018-04-17 17:17] tn3rb commented on #301
all fine with me

[2018-04-17 17:27] tn3rb commented on #285
closing due to no response in past 30 days

[2018-04-17 17:27] #285 closed

[2018-04-17 17:29] tn3rb commented on #260
closing due to no response in past 30 days

[2018-04-17 20:35] tn3rb opened #306 "Implement Conditional Update Queries for Data Fields Requiring Millisecond Accuracy"
Because our data model system is currently following an Active Record pattern, we have been performing separate reads and writes when updating data.
This can increase the possibility of race conditions having a detrimental effect on the accuracy of our data, and can even lead to our data being outright corrupted.

consider the following events happening in the following order:

- Request A reads v

[2018-04-17 23:51] Khadreal opened #307 "Get Registrant Email"
I am trying to use the offsite skeleton module but I couldn't get the registrar email to process the payment, is there a way to get this

[2018-04-18 00:29] tn3rb commented on #307
I'm assuming you are referring to `\tests\mocks\addons\new-payment-method\payment_methods\New_Payment_Method_Offsite\EEG_New_Payment_Method_Offsite.gateway.php` when you say "offsite skeleton module" but can you please elaborate on what you mean by:

[2018-04-18 00:35] Khadreal commented on #307
Thanks.
Yes, am referring to` \tests\mocks\addons\new-payment-method\payment_methods\New_Payment_Method_Offsite\EEG_New_Payment_Method_Offsite.gateway.php`, I need to append the registrant email address to the payment payload data.
The payment plugin requires email address

[2018-04-18 01:00] #301 closed

[2018-04-18 15:37] tn3rb opened #309 "Remove unused Registration Confirmation reg step"
In https://events.codebasehq.com/projects/event-espresso/tickets/11450#update-50043274 Seth got the following error after merging in master branch:

[code]

I received the same error in another branch of mine I was working on yesterday and assumed it was something wonky that happened in that branch. Why?
Because that file in that location was removed 3-4 years ago. How it suddenly popped up again

[2018-04-18 16:05] tn3rb commented on #307
The answer depends totally on the payment provider you are trying to connect to.
What does their documentation say?
We can't help you connect to a service when we don't even know what that service is!
The payment provider very likely has example code that you can look at which will help you in building your integration with Event Espresso.

I'm sorry to say that that is also beyond the scope of th

[2018-04-18 16:12] tn3rb opened #311 "Fix PHP Warning in EED_Events_Archive_Caff"
following error appears in error logs:

plz see: https://events.codebasehq.com/projects/event-espresso/tickets/10139
for further information

[2018-04-18 16:47] garthkoyle opened #313 "Add Support for PayPal Express Smart Payment Buttons"
It is a new button that support alterative payment methods, like Venmo. It would be adding Java Script to the button code to make it dynamic.  It would detect if the customer has Venmo and it shows as an option during  checkout. PayPal is going to add more payment methods in the future too, like Apple Pay and Amazon Pay.

Docs PayPal provided:
[Muse_and_SPB_Best_Practices.pptx](https://github.com/

[2018-04-19 02:36] Khadreal commented on #307
Thank you @mnelson4.
This works fine

[2018-04-19 02:37] #307 closed

[2018-04-19 03:33] tn3rb opened #315 "WIP Update Editor Blocks and Editor Block Manager to Register Assets Utilizing New Build Process"
Editor block asset registration needs to work with new JS build process that Darren has been working on.

[2018-04-19 03:36] tn3rb opened #316 "Convert `[ESPRESSO_EVENT_ATTENDEES]` shortcode to gutenberg block"
# branch Gutenberg/event-attendees-block
plz also see https://events.codebasehq.com/projects/event-espresso/tickets/11426 for further commit history

[2018-04-19 11:12] nerrad opened #318 "Fix Unit Tests for Addons"
This error is showing up for a bunch of our nightly add-on test runs that happen against EE core master:

[code]

See [here](https://travis-ci.org/eventespresso/eea-affiliatewp/jobs/368502951) for an example.  What's odd, is it only appears to happen on PHP5.6 builds BUT, those builds are also running against WordPress 4.2 (which is the triggering factor I'm assuming).

I only created this ticket

[2018-04-19 14:54] #297 closed

[2018-04-19 15:32] sethshoultes commented on #318
@tn3rb can you please take a look?

[2018-04-19 15:38] tn3rb commented on #269
for testing plz see: https://events.codebasehq.com/projects/event-espresso/tickets/11268

[2018-04-20 01:24] nerrad opened #320 "Support Smart payment buttons for paypal express"
this is just a test for the issue duplicate detector bot.

[2018-04-20 01:35] #320 closed

[2018-04-20 01:36] nerrad opened #321 "Support Smart payment buttons for paypal express"
testing again

[2018-04-20 01:57] #321 closed

[2018-04-20 01:58] nerrad opened #322 "Another test: Support Smart payment buttons for Paypal Express"
just testing

[2018-04-20 02:00] #322 closed

[2018-04-20 19:07] tn3rb commented on #318
I've looked at the code and it's all good as far as I can tell, but it does rely on a WordPress function `tests_add_filter()` that is part of their test setup.
It's possible that that function's use changes in WP 4.2.
I feel that this issue is most likely a result of using that function and not a problem with our code in any way.

I personally like Darren's suggestion of bumping the version tested

[2018-04-20 19:11] tn3rb commented on #306
@mnelson4
Do you have any comments with regards to this?
If we were to implement conditional update queries like I have outlined, how would you like to proceed with that within the models?

Simplest / easiest way imo is to simply pass the full SQL to WPDB, but you may want to implement a way to build queries like that in a way that conforms with how the model system currently works.

Thoughts?

[2018-04-20 23:57] tn3rb opened #323 "Convert Espresso CPT Editor to utilize Gutenberg"
# branch Gutenberg/espresso-cpt-editor
Adds new `EventEspresso\core\services\editor\EspressoGutenbergEditor`  class that makes the Gutenberg Admin Editor function with Espresso Custom Post Types

[2018-04-20 23:58] mnelson4 commented on #306
Yeah I'd mostly build the SQL directly.
I'd probably use a few helper methods to get the table and column names though. Eg instead of the exact query you pasted above, I'd do

[code]

This way if the table or column name ever changes, this code doesn't need to be changed.
If we encounter this situation again, I'd be inclined to add a helper function in `EEM_Base` then, but for now, assuming you ag

[2018-04-22 13:24] nerrad opened #324 "Gutenberg Integration"
This epic covers the general integration of EE with Gutenberg.  Earlier this year, I did an exploration/review of Gutenberg and completed a [review](http://p2.eventespresso.com/2018/03/01/ee-gutenberg-discovery-and-evaluation/).  The purpose being to gather information to help us decide on next steps in what we need to do with EE within Gutenberg.  As a result of this, we identified the following

[2018-04-23 14:28] #144 closed

[2018-04-23 14:38] sethshoultes commented on #318
@nerrad is that something you can do?

[2018-04-23 14:41] nerrad commented on #318
Yes.  However, I'm _hoping_ bumping the tested against version of WP fixes, but if it does not we'll need to figure out what exactly is happening.

[2018-04-23 16:37] sethshoultes commented on #309
This is working as expected now

[2018-04-23 16:41] tn3rb commented on #309
@sethshoultes
#310 is the corresponding pull request for this issue. You can find it directly below this issue in the Q/A Testing pipeline.
That pull request was assigned to you for review for testing, so once you approve it, I can merge it into master, which will automatically close this issue.

[2018-04-23 16:41] tn3rb commented on #309
HA HA
looks like you were in the process of approving that pull request at the same time as I was writing the above. THNX

[2018-04-23 19:56] sethshoultes commented on #269
### testing

 * we need two browser windows that are using separate sessions, so either use two different browsers (like Chrome + FF) or use a private window for one of the sessions
 * in browser A find an event with an available ticket and select 3, proceed to checkout, but stop on the first step
 * in browser B go to the **same event** as above and select 5 of the **same ticket**, proceed to che

[2018-04-23 20:07] tn3rb commented on #306
right, ya I was just showing the basic query and used hardcoded values where we wouldn't in actual code.
Thanks for fleshing out the rest of that for me though :)

We definitely want to use this method of updating for the following table fields:

- esp_ticket.TKT_sold
- esp_ticket.TKT_reserved
- esp_datetime.DTT_sold
- esp_datetime.DTT_reserved

but there may be some others that would benefit from

[2018-04-23 20:26] mnelson4 opened #325 "Hook in EE Privacy Policy Content to WP for GDPR"
## Issue Overview
Site owners need to have a privacy policy, and we should help them know what EE is doing with regards to user privacy.
WordPress core is adding a special admin page for modifying the site's privacy policy, see https://core.trac.wordpress.org/ticket/43435. Ideally we should hook into this system (currently in WP trunk).

Here's a ticket related to WP core content for the privacy p

[2018-04-23 23:13] mnelson4 opened #326 "Add EE's user data to WordPress user data export for GDPR"
## Issue Overview

WordPress core is adding a system for users to export their personal data (at one point they intended to include comments and posts, but it's debatted whether that's required for GDPR).

https://core.trac.wordpress.org/ticket/43443 adds a system for users to request their data export and for admins to generate it
https://core.trac.wordpress.org/ticket/43546  is for creating the

[2018-04-23 23:16] mnelson4 opened #327 "Erase EE Registration data upon request for GDPR"
## Issue Overview
When users request to have their data anonymized, EE data should be part of that data.

https://core.trac.wordpress.org/ticket/43637 and https://core.trac.wordpress.org/ticket/43602 add a system for anonymizing WP data for users and commenters, we should just need to hook in to anonymize EE registraiton data

See our internal discussion: http://p2.eventespresso.com/2018/04/19/gdp

[2018-04-23 23:20] mnelson4 opened #328 "Anonymize registrant IP address for GDPR"
## Issue Overview
Migrated from codebase ticket https://events.codebasehq.com/projects/event-espresso/tickets/11364.
However, on the similar WordPRess core ticket https://core.trac.wordpress.org/ticket/43588 they planned to store IP addresses of commenters until they were either marked as spam or approved, because the IP address can help identify spammers. And then when they "anonymize" the IP add

[2018-04-23 23:23] mnelson4 opened #329 "Add option to deactivate payment method logging GDPR"
Migrated from https://events.codebasehq.com/projects/event-espresso/tickets/11365

The payment logs can include some personal data, like name and address etc (but shouldn't ever contain billing info like unmasked credit card numbers or expiry dates or CVV numbers).

[2018-04-23 23:27] mnelson4 opened #330 "Facilitate having checkbox for consenting to site's privacy policy for GDPR"
When users register for an event, they should explicitly consent to the site's privacy policy, so we should have an input on registration forms for this.
Right now I think it should be optional in case someone adamantly refuses to have their regform modified

[2018-04-24 14:01] nerrad commented on #318
Yes this works so I'm going to update all our add-on travis.yml files.  I'll just be doing them as commits against the add-on master branch

[2018-04-24 14:37] nerrad commented on #318
Okay I've updated all the `.travis.yml` files for add-ons that have tests building on travis.  The next step is just to see how the next nightlies goes so I'll put this in the testing column for that.

[2018-04-24 15:50] sethshoultes opened #333 "Move all ticket information so it's displayed before the registration form if there's only one attendee information form"
Codebase: https://events.codebasehq.com/projects/event-espresso/tickets/11099

Requested:

https://eventespresso.com/topic/personal-info-section-embedded-within-ticket-details-on-attendee-info-page/
https://eventespresso.com/topic/multiple-event-registration-checkout-customization/
https://secure.helpscout.net/conversation/458079216/450050?folderId=100570

In cases like these I've been sharing [th

[2018-04-24 15:53] sethshoultes opened #334 "Split up CSS and JS asset enqueuing for shortcodes and always load CSS"
Codebase ticket:
https://events.codebasehq.com/projects/event-espresso/tickets/11219

Due to shortcodes being parsed in widgets by default now, we will need to load all shortcode CSS on every request.

From Slack Chat:

So the core shortcodes either:
 * don't use any extra assets (like the reg cancelled shortcode)
 * or use a module (like the event list)

The shortcodes that don't enqueue addition

[2018-04-24 16:11] sethshoultes opened #335 "Add a filter to allow users to add custom classes to EE buttons"
Orginal Codebase ticket: https://events.codebasehq.com/projects/event-espresso/tickets/11123

From time to time we get requests on how a user can apply the themes custom button styles to EE's buttons.

It happens when the theme is using whatever custom class for the button to style and obviously EE doesn't have those classes so doesn't get the styles.

Can we add a filter to EE's submit buttons so

[2018-04-24 16:14] sethshoultes opened #336 "Allow unpaid Registrations to pay if tickets are still available after ticket sale end date is passed"
Original Codebase ticket: https://events.codebasehq.com/projects/event-espresso/tickets/11274
See also: https://events.codebasehq.com/projects/event-espresso/tickets/11420

Steps to replicate the issue:

1) Register for an event and either abandon after completing the reg form or choose an offline payment method, then finalize.
2) set the ticket's sale end date to yesterday's date
3) Return to SPC

[2018-04-24 18:26] tn3rb opened #337 "Add ReservedInstanceInterface and tag classes that need to operate like a "singleton" then prevent Loader from creating more than one instance"
Fixes some issues with Caching and interface aliases with the Loader and EE_Registry.

for backstory plz see https://events.codebasehq.com/projects/event-espresso/tickets/11450

[2018-04-24 18:39] mnelson4 opened #338 "Create Privacy Policy Content for GDPR"
Related to #325, except we need some actual content, not just "Lorem ipsum"...

I've made some notes about what data we store:
-ip address (although there is a ticket to change this on #328)
-some getaways store a few digits of card
-gateway logs for a week (plans to change this on #329)
-name and email (and address)
-registration answers
-payment history
-event attendance and check ins
-history o

[2018-04-24 20:45] nerrad opened #341 "Fix phpunit test that fails from being one second off."
Full fail message:

[code]

See https://travis-ci.org/eventespresso/event-espresso-core/jobs/370753306 for an example (unless the test got restarted).

This should be able to use `EE_UnitTestCase::assertDateWithinOneMinute` method for the test to avoid these kind of fails.

[2018-04-24 22:41] mnelson4 commented on #338
WP equivalent ticket: https://core.trac.wordpress.org/ticket/43473

[2018-04-24 22:54] mnelson4 commented on #325
create class `EventEspresso\core\domain\services\admin\PrivacyPolicyManager`
would get loaded from within EE_System sometime after addons loaded maybe `EE_System::initialize_last()` ??? assuming it doesn't need to load too early and that would only happen based on conditional checking so maybe something like:

[code]

[2018-04-24 23:12] mnelson4 opened #342 "GDPR Compliance"
This epic is for making EE GDPR-compliant.
Related to discussion http://p2.eventespresso.com/2018/04/19/gdpr-for-ee-plan-not-eventsmart-or-ee-com/

# Phases
## 1. Hook into WP core Systems
Hook into WP core's systems for showing privacy policy, and exporting and anonymizing data

## 2. Supplementary Event Espresso-specific Features
There are a few changes to EE core itself that should be made.

Mo

[2018-04-25 03:13] sethshoultes opened #344 "Add Request Stack Middleware app for detecting Maintenance Mode and use a key to control access"
See original Codebase ticket for details and discussion:
https://events.codebasehq.com/projects/event-espresso/tickets/11217

Right now, if Maintenance Mode (MM) is active because of data migrations or because an admin has activated it, any incoming requests to the server STILL have the potential to cause problems because  it takes far too long for us to detect that MM is active. In that time it i

[2018-04-25 03:17] sethshoultes opened #345 "Don't throw EntityNotFoundException for missing transactions for trashed Registrations"
See original Codebase ticket: https://events.codebasehq.com/projects/event-espresso/tickets/11221

While testing [#11063](https://events.codebasehq.com/projects/event-espresso/tickets/11063) for EventSmart
Garth somehow managed to get a couple of his registrations trashed !?!?!

When viewing the registrations  in the Registrations Admin List table, the following error appeared:

[code]

likely nee

[2018-04-25 03:20] sethshoultes opened #346 "Don't autoload ee_dms_map_Core_4.1.0_events options"
See original Codebase ticket: https://events.codebasehq.com/projects/event-espresso/tickets/11227

Per Josh:
I was working on a support token where they were having issues with the site going down (largely due to a runaway ee_transient_schedule option and ee_ssn_ transient options). While looking into this I saw that their options table has a number of fairly large autoloading options that store w

[2018-04-25 03:25] sethshoultes opened #347 "Fatal error when saving a contact and adding HTML to inputs"
See original Codebase ticket: https://events.codebasehq.com/projects/event-espresso/tickets/11229

While testing how well inputs handle receiving HTML on [#11215](https://events.codebasehq.com/projects/event-espresso/tickets/11215), I entered ``">'></textarea>FOOBAR` into all the form inputs I could on the EE edit contact page, and got this fatal error: https://drive.google.com/a/eventespresso.com

[2018-04-25 03:37] sethshoultes opened #348 "ACF Compatibility - Change Post Type 'show_ee_ui' to 'show_ui'"

[2018-04-25 03:40] sethshoultes opened #349 "Allow trashed events to be deleted and at the same time prevent them from orphaning other data records GDPR"
See original Codebase ticket:
https://events.codebasehq.com/projects/event-espresso/tickets/9009

This has come up in the forums and I think there's some room for improvement when it comes to making things easier for event managers.

Steps to reproduce:
1) Set up an event and assign some people CPTs to the event, save the event.
2) Trash the event
3) Go the trashed events view in the wp admin list

[2018-04-25 10:28] nerrad commented on #318
Looks like this did the trick.  Latest nightlies all pass (except for legit fails needing addressed).

[2018-04-25 16:24] sethshoultes commented on #349
Oops. Didn't mean to do that. I updated the category to GDPR.

[2018-04-25 16:59] sethshoultes opened #350 "Option to add a new question to a question group"
Codebase ticket:

We currently have a similar feature in the question group editor (https://www.screencast.com/t/I3tGd7Ota).

Here is what I am thinking. We could add a meta box in the question editor for new and existing questions, where the user can choose to add the current question to a group.

**For MVP:**

- I think it would be fine to limit the question group selections to one from this pag

[2018-04-25 18:05] sethshoultes opened #351 "Extract eejs vue library from core and put it into its own public repo"
@nerrad stated this in Trello: https://trello.com/c/XEZ229rq/498-eejsapi#comment-5ae0b69e8b519e93a4a2a4a1

[2018-04-25 20:54] nerrad commented on #350
@sethshoultes I wonder if this is something that should be held off and done as part of a general refactor of the questions/question groups interface?  I think @tn3rb  had something already started somewhere that would improve things (maybe you could chime in with your thoughts on this issue too Brent?)

[2018-04-25 20:57] nerrad commented on #350
Another consideration if you _do_ decide to go ahead with this anyways Seth, is how will this function with regards to how the questions are ordered in the group?  Questions are sortable within the Question Group interface, so if a question is added to a question group via the question group editor, what order should the new question get in that group?  Just append to the list of questions in it?

[2018-04-25 22:02] joshfeck opened #352 "Fix errant code example on failed migrations page"
The failed migration page gives this example code to add to the wp-config.php file:

`define( EE_MIGRATION_STEP_SIZE, 10 );`

This needs to be changed to:

`define( 'EE_MIGRATION_STEP_SIZE', 10 );`

[2018-04-25 22:07] joshfeck commented on #352
This text should also be changed:

The migration can actually be continued.

[2018-04-25 22:13] mnelson4 opened #353 "Avoid request data persisting between unit tests"
Since `EventEspresso\core\services\request\Request` was added, request data in that object persists between unit tests, which caused a failure in the EE infusionsoft tests, see https://github.com/eventespresso/ee4-infusionsoft/issues/1.
In slack Brent suggested we should instead be using a mock request for unit tests, that gets reset between tests. We should set an alias for the request during uni

[2018-04-25 22:30] mnelson4 commented on #352
right, more recently we added an option to re-start the migration. What woording would be better?
Maybe "Your last Database Update had a FATAL ERROR, and was stopped."?

[2018-04-25 22:31] mnelson4 commented on #352
work on **BUG/errant-code-example-for-migrations**

[2018-04-25 22:41] mnelson4 commented on #325
this is the logic in WP that detects if the private postbox should be added:

[code]

[2018-04-25 22:52] joshfeck commented on #352
No need for all caps.

[2018-04-26 11:26] nerrad commented on #341
Another one:

[code]

[2018-04-26 11:28] nerrad commented on #341
@sethshoultes I hope you're okay with me just grabbing this, it's super easy fixes in the unit tests and it avoids the "false" fails we've been getting more often in the unit tests so we're not being distracted by them unnecessarily.

[2018-04-26 12:04] nerrad opened #357 "Add phpcs linting to our build process/automated tests."
## Issue Overview
To aid in our code reviews, I think it'd be beneficial if we automate the code style checks using phpcs geared towards the EE php standards.  That way human reviews can be focused on the syntax/logic of the code, and phpcs will take care of linting for all code style problems in the code.  This can be incorporated with our automated tests on travis so that it shows up there.   We

[2018-04-26 12:51] nerrad opened #358 "Include phpunit in codecov.io reports."
I'm already uploading the jest code coverage reports to codecov but it'd be nice to get our phpunit tests uploaded as well.  I can generate the phpunit codecoverage just with one of the jobs so that it doesn't slow down builds too much.

This is advantageous because it helps us keep track in pull requests if code coverage when significantly decreased over its base branch and if it is, that's a goo

[2018-04-26 14:40] joshfeck commented on #269
@tn3rb can you resolve the merge conflicts from merging master into this branch?

[2018-04-26 17:03] tn3rb commented on #357
this is a great idea

[2018-04-26 18:26] mnelson4 commented on #326
Documentation on how to integrate with core at https://core.trac.wordpress.org/attachment/ticket/43546/EXPORT.md

[2018-04-26 18:52] joshfeck opened #360 "Allow page builder requests to have template_tags.php loaded"
@sethshoultes mentioned this in Slack:

[code]

I've seen something similar while working with the Elementor page builder plugin:

[code]

One possible solution would be to tweak the conditionals that determine whether to include the template tags file.

The underlying issue is the page builders are trying to load content as if it was the front end of the site, but it’s not the front end of the si

[2018-04-27 16:33] sethshoultes opened #362 "Build GutenbergBlockManager and supporting classes for locating and loading Gutenberg blocks"
Codebase ticket: https://events.codebasehq.com/projects/event-espresso/tickets/11400

already need something like this in place to start converting REM over to work with Gutenberg (otherwise the replacement code I write now for REM will just have to be converted **AGAIN** later on)

MVP will be really simple and straightforward as we don't yet know what functionality the various interfaces will re

[2018-04-27 16:47] mnelson4 commented on #326
Note that what exactly needs to be exported is a bit vague

see https://gdpr-info.eu/art-20-gdpr/

For that reason, it's debatted whether WP needs to export comments or not, because they're not personal data like name, email, etc. Likewise, it could be debatted whether we need to export anything more than attendee info, billing info, and maybe answers to custom questions.

[2018-04-27 17:41] sethshoultes opened #364 "Convert `[ESPRESSO_TICKET_SELECTOR]` to Gutenberg block"
Just need to Convert `[ESPRESSO_TICKET_SELECTOR]` to Gutenberg block

[2018-04-27 17:53] sethshoultes opened #365 "Convert `[ESPRESSO_BARCODE_SCANNER]` shortcode to gutenberg"
Codebase https://events.codebasehq.com/projects/event-espresso/tickets/11429

[2018-04-27 17:56] sethshoultes opened #366 "Convert `[ESPRESSO_MY_EVENTS]` shortcode to Gutenberg block"
Codebase https://events.codebasehq.com/projects/event-espresso/tickets/11435

[2018-04-27 19:45] sethshoultes opened #367 "Convert `[ESPRESSO_CALENDAR]` shortcode to gutenberg block"
Codebase https://events.codebasehq.com/projects/event-espresso/tickets/11430

[2018-04-27 19:47] sethshoultes opened #368 "Convert `[ESPRESSO_PROMOTIONS]` shortcode to gutenberg block"
Codebase https://events.codebasehq.com/projects/event-espresso/tickets/11434

[2018-04-27 19:48] sethshoultes opened #369 "Convert `[ESPRESSO_GRID_TEMPLATE]` shortcode to Gutenberg block"
Codebase https://events.codebasehq.com/projects/event-espresso/tickets/11433

[2018-04-27 19:50] sethshoultes opened #370 "Convert `[ESPRESSO_EVENTS_TABLE]` shortcode to gutenberg block"
Codebase https://events.codebasehq.com/projects/event-espresso/tickets/11431

[2018-04-27 20:28] #368 closed

[2018-04-27 20:28] sethshoultes commented on #368
Issue moved to [eventespresso/EE4-Promotions #2](https://github.com/eventespresso/EE4-Promotions/issues/2) via [**ZenHub**](https://www.zenhub.com/)

[2018-04-27 20:32] sethshoultes commented on #367
Issue moved to [eventespresso/ee4-events-calendar #2](https://github.com/eventespresso/ee4-events-calendar/issues/2) via [**ZenHub**](https://www.zenhub.com/)

[2018-04-27 20:32] #367 closed

[2018-04-27 20:34] #369 closed

[2018-04-27 20:34] sethshoultes commented on #369
Issue moved to [eventespresso/eea-events-grid-view-template #1](https://github.com/eventespresso/eea-events-grid-view-template/issues/1) via [**ZenHub**](https://www.zenhub.com/)

[2018-04-27 20:42] sethshoultes commented on #365
Issue moved to [eventespresso/eea-barcode-scanner #2](https://github.com/eventespresso/eea-barcode-scanner/issues/2) via [**ZenHub**](https://www.zenhub.com/)

[2018-04-27 20:42] #365 closed

[2018-04-27 20:43] sethshoultes commented on #370
Issue moved to [eventespresso/eea-events-table-template #1](https://github.com/eventespresso/eea-events-table-template/issues/1) via [**ZenHub**](https://www.zenhub.com/)

[2018-04-27 20:43] #370 closed

[2018-04-30 14:06] sethshoultes commented on #350
Yes, I would just append the new question to the end of the selected group, then add a link/icon that points each question group editor.

[2018-04-30 14:09] sethshoultes commented on #350
@tn3rb mentioned you were working on a refactor of the question/question group interface. Can you comment on that?

[2018-04-30 15:28] nerrad opened #372 "Fix error in console with exit-modal regarding jed initialization."
## Issue Overview

When loading the WordPress plugins list table page, the following error appears in the console:

[code]

This is related to the recent i18n work.  It's possible it is only an artifact of development builds and won't happen with production builds (because translation files will be present).  However at a minimum it should still be investigated.  It doesn't affect behaviour of the

[2018-04-30 15:29] nerrad commented on #372
I've added this to the 4.6.2 milestone because I think it should be considered a blocker to releasing it **until** its at least been investigated to see how severe the problem is.

[2018-04-30 16:05] #366 closed

[2018-04-30 16:05] nerrad commented on #366
Issue moved to [eventespresso/eea-wpuser-integration #9](https://github.com/eventespresso/eea-wpuser-integration/issues/9) via [**ZenHub**](https://www.zenhub.com/)

[2018-04-30 19:15] mnelson4 commented on #326
I put together a code snippet that adds EE's data to the WP Privacy data export first. For a first iteration I'm thinking about put this all into one service class, and we can improve it after that (the working code will be a good basis for the discussion too). Here it is:

[code]

[2018-04-30 19:44] nerrad opened #373 "Create `ee-core` data store for top level EE data used in various contexts (using wp.data api)"
## Issue Overview

This issue is broken out from #332 and relates to creating a "master" or "top-level" data-store of sorts that is subscribed to by any components utilizing ee data.  As mentioned in the pull request, this might involve:

- Keeping a top level store that keeps tracks of entities already retrieved and being worked with. For example `eventespresso/core` store might have a top level

[2018-04-30 20:45] tn3rb commented on #269
ready to go

[2018-04-30 20:52] tn3rb commented on #362
copied content of this ticket to 354 and closed in favour of that PR

[2018-04-30 20:52] #362 closed

[2018-04-30 21:28] nerrad opened #375 "Write documentation for the registered eventespresso wp.data stores and how to use them."
## Issue Overview

This is a companion to #332 where I started implementing usage of the wp.data api for our own data stores.  I didn't want to start writing documentation in that pull until we have started using this new HOC a bit more and have a better idea of what the final shape of it will be.    I've created this issue just to ensure that we don't forget to write developer documentation.

##

[2018-05-01 12:11] nerrad commented on #357
I'm going to _start_ on this because I have a bunch of tickets blocked by various things at the moment.

[2018-05-01 12:38] nerrad commented on #357
I think I'm going to start a package for our phpcs rulesets, that way it can be included as a dependency for core and all our add-ons.  So this will involve adding basic composer support to all codebase as well.

[2018-05-01 15:43] nerrad commented on #357
See the new [EventEspressoCS coding standards repository](https://github.com/eventespresso/ee-coding-standards).  So the work in here will consist of adding file exclusions etc to configuration specific to EE (and testing).  Any tweaks for global standards will get done in that new repository.

[2018-05-02 10:14] archergod opened #377 "handle_payment_update method is not called"
I am writing a new payment gateway which is quite similar to Paypal Express. I read through documentation on this Repo for how to write handle_payment_update and Offsite payment. But I cannot get it working. I am using return_url as My payment gateway do not use separate IPN, in fact it doesn't have IPN, it just return the User back to site and then using Transaction ID we have to make a Curl requ

[2018-05-02 10:30] archergod commented on #377
I just retest the Mockup Offsite. if return URL is send back as GET and IPN separate = false, then handler_payment_update doesn't get called. Is there any workaround for it.

[2018-05-02 16:58] mnelson4 commented on #377
hi @archergod,
I just tried to reproduce your issue using the Mock Offsite payment method, and I think I was able to.
For example, if I change `pretend_offsite_page.php` https://github.com/eventespresso/event-espresso-core/blob/master/tests/mocks/addons/new-payment-method/payment_methods/New_Payment_Method_Offsite/pretend_offsite_page.php so the form's method is `GET`, I get an error when the form

[2018-05-02 17:56] mnelson4 commented on #377
For example, if you rewrite `pretend_offsite_page.php` to this, it works even when you set the form's method to `GET`:

[code]

[2018-05-02 19:28] mnelson4 commented on #327
Here is a code snippet that does this. Pagination didn't seem necessary because it's all done in a query or two.

[code]

[2018-05-02 22:28] #357 closed

[2018-05-03 04:46] archergod commented on #377
Hello, thanks your solution is good. However, the payment gateway I am using (and mode I was using) do not allow to control those aspects, it has one ID that is token for payment verification. I am using Truevo Payment's Widget method. In this method they provide the JS and then it turn a FORM element to actual form (as if Onsite), but then when user fill the form it goes to their site, and then t

[2018-05-03 09:20] archergod opened #379 "Custom Setting Value from Payment Method is not setting in OnSite Gateway class"
As per Mockup class and sample, where in Offsite we create a Setting Form's Extra field and they get set in Gateway class for offsite. But for OnSite these values are not setting by its own. is there anything I am missing.

       public function generate_new_settings_form() {
		$form = new EE_Payment_Method_Form(array(
			'extra_meta_inputs'=>array(
				'truevo_user_id'=>new EE_Text_Input(array(

[2018-05-03 14:57] nerrad opened #380 "Setup new build-process and linting configurations for all add-ons"
## Issue Overview

This isn't an EE core project per-say, but I'm just documenting the issue in here as a way of tracking add-ons that have had the new build process and configuration setup.  I've already started on eventespresso/eea-automated-upcoming-event-notifcations, once that's done, it can serve as the model for setting up other add-ons.

Roughly here's what I do to setup an add-on (this is

[2018-05-03 16:53] mnelson4 commented on #377
Ya that's the problem, Event Espresso needs some of those querystring parameters to be set in order to know which transaction the payment should be attributed to.

A workaround would be to use [WordPress' URL Rewrite API ](https://codex.wordpress.org/Rewrite_API/add_rewrite_rule) to add a special redirection page that would act as a go-between Truevo and Event Espresso.  Instead of having users re

[2018-05-03 17:16] mnelson4 commented on #379
hey @archergod, that code looks correct, and so those settings should be set on the gateway class. It's not normally a problem with onsite gateways because `EEG_Aim` does this fine.

I'm suspicious that somehow `EE_Gateway::set_settings()`, which sets these properties, isn't get called. I'd suggest adding some debug lines in there (like `echo "got to this line!"; die;`) to make sure that's being c

[2018-05-03 19:47] joshfeck opened #381 "Remove reCAPTCHA challenge from SPCO re-visit"
A reCAPTCHA challenge is triggered when you try to pay. Is this wanted? I took a screencapture video that shows the issue along with a strange message added by the promotions add-on (you'll need to be logged into Slack to see the video).

https://eventespresso.slack.com/files/U03SRJ08M/FAHPU5FB6/recaptcha_issue.mov

[2018-05-04 06:41] archergod commented on #379
Thanks your guidance again help me find the issue. I accidently broke the set_settings when searching and that was causing the issue.

[2018-05-04 13:47] nerrad opened #382 "Implement a way to capture more information when wp_mail fails"
## Issue Overview

Currently when the messages system passes off things to `wp_mail` it only receives a boolean response on whether the message was successfully sent or not.  This means by default, there's no useful information to pass on the the end user for why an email failed to send.  For the longest time, I've thought there IS no way to access useful information without clobbering the native

[2018-05-04 14:30] joshfeck opened #383 "Remove [GOOGLE_MAP_IMAGE] from default message templates"
I did a support token today and found that I could get messages to not fail by removing the [GOOGLE_MAP_IMAGE] shortcode from the Registration Approved template.

It could be replaced with [GOOGLE_MAP_LINK] or removed entirely. I think it'd be best if the default templates avoided deliverability issues. Also, with the recent changes to Google Maps API (billing) it might be a better default to help

[2018-05-04 15:46] mnelson4 commented on #379
aha. Good find!

[2018-05-04 15:46] #379 closed

[2018-05-04 20:09] nerrad commented on #380
All done

[2018-05-04 20:09] #380 closed

[2018-05-04 22:28] mnelson4 commented on #338
This is WooCommerce's current privacy policy suggested text:

We coll

I think it's probably still a work-in-progress, but it's something

[2018-05-04 22:41] nerrad opened #387 "Fix horrendous translations strings."
## Issue Overview

While working on fixing phpcs violations on all files I discovered this awful set of strings in `Price_Types_List_Table`:

[code]

All kinds of wrong with those strings, and should be fixed at some point.

[2018-05-06 00:34] nerrad opened #389 "Fix DMS Stage not implementing all the methods declared in the abstract it extends"
## Issue Overview

While working on #388 I discovered that `EE_DMS_4_6_0_billing_info` is not implementing `_count_records_to_migrate`.  That will cause errors if that class is loaded as a part of a migration.  It should probably be investigated.

@mnelson4 I just assigned to you for the initial look-see.

Actually looks like there are more:

- `EE_DMS_4_6_0_question_types`
- `EE_DMS_4_6_0_state_s

[2018-05-06 17:01] nerrad commented on #389
This _may_ be related to some auto-fixes the phpcbf tool did.  I'll take this back and investigate.  I'm getting fatals just loading EE now so that's suspect.

[2018-05-06 17:13] nerrad commented on #389
Ya turns out this was a problem with the phpcbf auto-fixing tool removing an underscore.  So I have to make sure I review all the changes to make sure that didn't happen anywhere else.

[2018-05-06 17:13] #389 closed

[2018-05-06 17:50] nerrad opened #390 "Fix DomPDF timing out on generating pdfs in PHP7.1+ environment"
## Issue Overview

I cannot generate a pdf for an invoice or receipt in EE core while in a php 7.1 environment (what my local machine is running on).  However, if I switch to php 7.0 it works.  It's likely there's something in Dom PDF that is not PHP7.1+ compatible.

## Environment Data:

Version of EE: master

Version of WordPress: 4.9.5

PHP Version:  7.1

Browser used:  Chrome (Version 66.0.335

[2018-05-06 17:53] nerrad commented on #390
I marked this as high because we're promoting that people update to the latest php versions but that isn't good if the latest php version breaks functionality they may rely on.

You may want to assign this to @mnelson4 because he's done some investigation into potential dompdf replacements (or its possible updating to the latest dompdf might fix this)

[2018-05-06 18:30] nerrad opened #391 "Update phpcs linting in all add-ons"
## Issue Overview

This is just a tracking issue.  As a part of #388 and eventespresso/ee-coding-styles#1, I updated the phpcs style rules so that we have more fuller coverage across all our files (including legacy files).  The purpose of this ticket is to ensure all our add-ons (that have phpcs setup) gain the same benefits (and have any violations fixed).  The following add-ons need updated:

*

[2018-05-07 01:10] nerrad commented on #391
anddd.... done.

[2018-05-07 01:10] #391 closed

[2018-05-07 15:25] joshfeck opened #392 "First errant conditional in `espresso_event_tickets_available()` template tag"
The function's signature has 3 params:
[code]

so it's echo'ed by default and format is true. If formatting is set to false then an array of tickets is returned. However, this conditional causes nothing to be displayed if the defaults are used:

[code]

[2018-05-07 17:02] sethshoultes commented on #338
I think the WooCommerce text is pretty standard from what I've seen elsewhere. Here's the text you shared above but slightly tweaked:

We collect information about you during the checkout process on our store. This information may include but is not limited to, your name, billing address, mailing address, email address, phone number, credit card/payment details and any other details that might be

[2018-05-07 17:25] nerrad commented on #390
Turns out this was happening because I had xdebug on and that probably put things over the memory/timeout threshold.  I disabled xdebug and pdf's get generated just fine.

[2018-05-07 17:26] #390 closed

[2018-05-07 17:48] nerrad commented on #372
So the issue here is that there is an assumption that the `@wordpress/i18n` package is exposed as a global everywhere, when that's not necessarily the case if gutenberg is not installed/active (and the wp global is not enqueued).

So I think I'm going to have to wrap `@wordpress/i18n` with a property on `eejs` and then src will have to import from `@eventespresso/i18n` which will alias to `eejs.i1

[2018-05-07 18:24] joshfeck opened #394 "Fix error when editing active plugins via the built-in editor"
Steps to replicate with EE4 master activated:
1) Go to the WP > Plugins > Editor page and try to make an edit to any **active** plugin.
2) Click "Update File"

The unexpected result will be this message:

[code]
[code]

[2018-05-07 19:01] #372 closed

[2018-05-07 19:16] nerrad opened #395 "Update webpack config in all add-ons (to bring in i18n changes)"
See #372 for details.  This is just a tracking issue to track all the add-ons that have had the config update done on.

* [x] eea-automated-upcoming-event-notifications
* [x] ee4-infusionsoft
* [x] eea-barcode-scanner
* [x] eea-wpuser-integration
* [x] eea-people-addon
* [x] eea-payment-methods-pro
* [x] ee4-promotions
* [x] ee4-events-calendar
* [x] eea-attendee-mover
* [x] eea-wait-lists
* [x] e

[2018-05-07 19:28] #395 closed

[2018-05-07 19:32] nerrad opened #396 "Customize the "triage new issues" bot"
This isn't directly related to ee core but is used by all projects so just using this as a tracking ticket.  I'm going to make  the following modifications:

* [x] Change the status the ticket is given to `status:triage` instead of `triage` (then delete the `triage` label).  This ensures that we're always using a consistent label for tickets needing triaged.
* [x] Assign the issue to seth whenever

[2018-05-07 20:24] nerrad opened #398 "Testing a new issue"
## Issue Overview

## Bug report or feature request?

* [ ] Bug
* [ ] Feature
* [ ] Neither

## Environment Data:

Version of EE:

Version of WordPress:

PHP Version:

Browser used:

## Steps to Reproduce (for bugs)

## Expected Behaviour

## Current Behaviour

## Related Information:

[2018-05-07 20:26] #398 closed

[2018-05-07 20:26] nerrad opened #399 "Testing a new issue"
## Issue Overview

## Bug report or feature request?

* [ ] Bug
* [ ] Feature
* [ ] Neither

## Environment Data:

Version of EE:

Version of WordPress:

PHP Version:

Browser used:

## Steps to Reproduce (for bugs)

## Expected Behaviour

## Current Behaviour

## Related Information:

[2018-05-07 20:29] #399 closed

[2018-05-07 20:29] nerrad opened #400 "testing the creation of another issue"
## Issue Overview

## Bug report or feature request?

* [ ] Bug
* [ ] Feature
* [ ] Neither

## Environment Data:

Version of EE:

Version of WordPress:

PHP Version:

Browser used:

## Steps to Reproduce (for bugs)

## Expected Behaviour

## Current Behaviour

## Related Information:

[2018-05-07 20:34] #400 closed

[2018-05-07 20:35] nerrad opened #401 "testing creation of issue"
## Issue Overview

## Bug report or feature request?

* [ ] Bug
* [ ] Feature
* [ ] Neither

## Environment Data:

Version of EE:

Version of WordPress:

PHP Version:

Browser used:

## Steps to Reproduce (for bugs)

## Expected Behaviour

## Current Behaviour

## Related Information:

[2018-05-07 20:38] #401 closed

[2018-05-07 20:41] nerrad opened #402 "yet another test of triage bot"
## Issue Overview

## Bug report or feature request?

* [ ] Bug
* [ ] Feature
* [ ] Neither

## Environment Data:

Version of EE:

Version of WordPress:

PHP Version:

Browser used:

## Steps to Reproduce (for bugs)

## Expected Behaviour

## Current Behaviour

## Related Information:

[2018-05-07 20:42] #402 closed

[2018-05-07 20:43] nerrad opened #403 "One more test?"
## Issue Overview

## Bug report or feature request?

* [ ] Bug
* [ ] Feature
* [ ] Neither

## Environment Data:

Version of EE:

Version of WordPress:

PHP Version:

Browser used:

## Steps to Reproduce (for bugs)

## Expected Behaviour

## Current Behaviour

## Related Information:

[2018-05-07 20:49] #403 closed

[2018-05-07 20:55] nerrad opened #404 "Another test of issue creation"
## Issue Overview

## Bug report or feature request?

* [ ] Bug
* [ ] Feature
* [ ] Neither

## Environment Data:

Version of EE:

Version of WordPress:

PHP Version:

Browser used:

## Steps to Reproduce (for bugs)

## Expected Behaviour

## Current Behaviour

## Related Information:

[2018-05-07 21:13] #404 closed

[2018-05-07 22:02] joshfeck commented on #269
This is ready for merging.

[2018-05-07 22:36] tn3rb commented on #269
merged to master and all remotes deleted

[2018-05-07 22:36] #269 closed

[2018-05-08 12:33] nerrad commented on #396
K now just have to add the `triage.yml` to everything we want to track (so add-ons etc).  I'm going to copy the `.github` folder to all our repos.

[2018-05-08 14:53] #396 closed

[2018-05-08 14:54] #337 closed

[2018-05-08 15:42] joshfeck commented on #333
Another report:
https://eventespresso.com/topic/limited-to-one-ticket/#post-268942

[2018-05-08 16:56] joshfeck opened #405 "Restore missing additional ticket information to the registration information step"
There was some work done on reCAPTCHA in (codebase) 9795. This commit 12e193d30fea4cd8bcf1362ed2ab187edb4ec6e1 appears to have removed the display of additional tickets from the SPCO registration information step. This needs to be restored.

Support topic:
https://eventespresso.com/topic/limited-to-one-ticket/

possibly related to #333 because it's been requested to move what's been removed.

[2018-05-08 18:56] sethshoultes opened #407 "Fix form validation messages aka the "Chicken is a required question" issue"
From Codebase ticket: https://events.codebasehq.com/projects/event-espresso/tickets/11245

Apparently the registration forms default validation message, the one that displays in the pop up message, uses the first answer option as the question name. It's important that this gets fixed because if you set up a required question with radio buttons like below:
Choose your meal preference:*
Chicken
Beef

[2018-05-08 19:25] tn3rb commented on #407
should still likely be fixed so that be default, the question name is used instead of the option name.

[2018-05-08 21:27] #311 closed

[2018-05-08 21:28] #405 closed

[2018-05-08 21:40] Pebblo opened #410 "Allow custom sortable columns to be used in list table order_by param?"
Reported here: https://eventespresso.com/topic/sorting-by-custom-column-in-events-registration-table/

In short if you add a custom column to the registrations list, then use this filter:

```$_sortable = apply_filters("FHEE_manage_{$this->screen->id}_sortable_columns", $_sortable, $this->_screen);```

To enable sorting on that column, although you can click to sort, and if you've done it correctl

[2018-05-08 23:54] sethshoultes opened #412 "Review all text strings and fix typos/grammar mistakes before Wait list release"
Codebase ticket: https://events.codebasehq.com/projects/event-espresso/tickets/10926

Per Josh:
some strings need fixin' cause they aint right

`Recipient's are who will receive the message.` is one example. It could be changed to:
`Recipients are who will receive the message.`

Also, and this is a bit of a nitpick, but I think it'd be good to pick one standardized term for "wait list" so the lang

[2018-05-08 23:57] sethshoultes commented on #412
@joshfeck have you found any other grammar mistakes that need to be fixed?

[2018-05-08 23:58] #412 closed

[2018-05-08 23:58] sethshoultes commented on #412
Issue moved to [eventespresso/eea-wait-lists #5](https://github.com/eventespresso/eea-wait-lists/issues/5) via [**ZenHub**](https://www.zenhub.com/)

[2018-05-09 01:03] nerrad opened #413 "Bug Report Test"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment:**
 - Version of WordPre

[2018-05-09 01:03] #413 closed

[2018-05-09 01:37] nerrad opened #414 "Implement greenkeeper.io"
**Is your feature request related to a problem? Please describe.**

https://greenkeeper.io is a service that sits between npm and github and will automatically create pull requests for any package updates occurring in npm (which would then run tests so we can see if the package update breaks anything).  This automates package updates for us and we only have to attend to updates as needed.

Won't t

[2018-05-09 01:51] nerrad commented on #414
Other tools that may be useful as well (only listing tools that are free for public repos):

- https://codeclimate.com/quality/
- https://renovatebot.com/ (possible alternative to greenkeeper).

[2018-05-09 01:55] nerrad commented on #414
I might actually try renovate first.  I like the fact that it creates pull requests only vs greenkeeper which could do a pull request OR issue (depending on nature of dependency changes).  Greenkeeper would require turning on running tests against branches along with pull requests which means we'd see duplicate test runs on pull requests (which slows down test completion).

[2018-05-09 02:09] sethshoultes opened #415 "Only enqueue jQuery countdown plugin if needed"
Per @joshfeck in Codebase ticket:
https://events.codebasehq.com/projects/event-espresso/tickets/11463

Right now jQuery countdown.js loads on every SPCO page on the front end. Ideally this should only be enqueued if a countdown timer is actually displayed.

[2018-05-09 02:16] sethshoultes opened #416 "Fix UXIP option not saving without changing something else on the page"
Per @Pebblo from Codebase:
https://events.codebasehq.com/projects/event-espresso/tickets/11503

Found here: https://eventespresso.com/topic/user-experience-improvement-program-uxip/

The user reported that the UXIP setting wouldn't save and always defaulted to Yes.

I tested this on one of my test sites and sure enough, when I changed the option to No and saved, it displayed Yes again on reload.

[2018-05-09 04:44] mnelson4 commented on #410
IMO I think ideally, the default switch case would double-check they're requesting to filter by a valid column name, and if so, use it for ordering. We probably shouldn't order by just whatever is passed in, as the current user might not have permission to see that column they're requesting to filter by (so that would be a bit of a security issue)

[2018-05-10 18:01] mnelson4 commented on #313
So there are really 3 different features mentioned in those documents.

1. PayPal Marketing Solutions (Muse). "...is a snippet of JS that a merchant has on their site that gathers insights and provides marketing messaging to consumers from PayPal." (Their Woocommerce plugin demo shows it pretty clearly: https://www.youtube.com/watch?v=tsSHL8NarAE&feature=youtu.be)
2. Smart Payment Button. Basicall

[2018-05-10 18:28] garthkoyle commented on #313
We were contacted by PayPal for option 2.

[2018-05-10 19:27] shorrocks commented on #313
Hi Garth,

The goal is adding Smart Payment buttons because it is dynamic, this means that alternative payments will appear for the buyers during checkout.

This product pairs well with a few other things, which include:

-          Integration Sign Up (Fast Onboarding)

-          PayPal Marketing Solutions –

o   PayPal Credit Offers and Banners

o   Customer and Data Insights
Now that you are s

[2018-05-10 20:09] joshfeck opened #417 "Fix issue with constants related to `EE_Event_Category_Taxonomy`"
[TopOnline reports](https://eventespresso.com/topic/bug-two-small-bugs-fixes/):
in the file event-espresso-core-reg/core/db_models/EEM_CPT_Base.model.php
on line 2, it reads:
`define('EE_Event_Category_Taxonomy', 'espresso_event_category');`
and it should be, as used everywhere else in EE:
`define('EE_Event_Category_Taxonomy', 'espresso_event_categories');`
The above is problematic only in the sam

[2018-05-10 20:13] joshfeck opened #418 "Fix Invalid field (count) passed to constructor of `EE_Term_Taxonomy`"
[TopOnline reports](https://eventespresso.com/topic/bug-two-small-bugs-fixes/):

in event-espresso-core-reg/core/db_models/EEM_CPT_Base.model.php on line 323, it reads:
`'count' => 1,`
This throws an `EE_Error` Exception:
[code]
as the error indicates, it should be:
`'term_count' => 1,`
according to the model, in file event-espresso-core-reg/core/db_models/EEM_Term_Taxonomy.model.php
on line 66:
`

[2018-05-10 20:19] sethshoultes commented on #418
@mnelson4 want to fix this really quick?

[2018-05-10 20:36] mnelson4 commented on #418
https://github.com/eventespresso/event-espresso-core/pull/419 implements josh's fix

[2018-05-10 20:42] mnelson4 commented on #417
Pull request https://github.com/eventespresso/event-espresso-core/pull/420 impliments josh's fix

[2018-05-10 20:59] mnelson4 commented on #313
Here's their documentation for paypal One Touch: https://developers.braintreepayments.com/guides/paypal/overview/ios/v4#paypal-one-touch. I think we'd have folks first log in with PayPal, then they can use one touch instead of PayPal Express to pay

[2018-05-11 14:54] sethshoultes opened #421 "Fix UXIP option not saving without changing something else on the page"
Codebase ticket:
https://events.codebasehq.com/projects/event-espresso/tickets/11503

Per @Pebblo

Found here: https://eventespresso.com/topic/user-experience-improvement-program-uxip/

The user reported that the UXIP setting wouldn't save and always defaulted to Yes.

I tested this on one of my test sites and sure enough, when I changed the option to No and saved, it displayed Yes again on reload

[2018-05-11 14:56] sethshoultes opened #422 "Build facetwp integration"
Codebase https://events.codebasehq.com/projects/event-espresso/tickets/11454

Per @joshfeck

This could make it so facetwp results for EE event queries exclude expired events. This could also add some template helpers for displaying things like dates and other event related data that's not in post data or post_meta.

https://facetwp.com/
https://github.com/FacetWP

[2018-05-11 15:01] sethshoultes commented on #421
Duplicate

[2018-05-11 15:01] #421 closed

[2018-05-11 15:05] sethshoultes opened #423 "Migrations: Change DMS so that EE3 events with "Deleted" status and their associated data do not get migrated"
Codebase https://events.codebasehq.com/projects/event-espresso/tickets/10290

Per @joshfeck

One site in particular had a series of recurring events that was made by mistake (one event every day for 20 years). The series was quickly deleted by clicking on the "Delete all events in this series" link. This doesn't really delete the events, it acts more like the Trash bin in WP. When they tried to mi

[2018-05-11 16:44] #338 closed

[2018-05-11 16:45] mnelson4 commented on #325
This was merged into master. It hooks into WP's new privacy policy suggestions page (although this ticket wasn't for the work of creating that page, just for the infrastructure relating to it)

[2018-05-11 16:45] #325 closed

[2018-05-11 23:02] mnelson4 commented on #326
a bunch of EE data is now included in the WP personal user data export. We'll see what users think about all that

[2018-05-11 23:02] #326 closed

[2018-05-11 23:13] mnelson4 commented on #327
ok, so now when someone chooses to erase a user's personal data in WP, it also blanks out their attendee details and answers

[2018-05-11 23:13] #327 closed

[2018-05-11 23:16] mnelson4 commented on #342
Ok stage 1 is in EE core now. Now it's those other core tickets, add-ons, and then ES (that'll be done in a separate repo) that may need some work

[2018-05-14 10:27] nerrad commented on #323
@tn3rb this ticket has been assigned to me but you've done the initial description.  Can you elaborate on what you see the purpose of this issue being?  I also notice that there's work touching this ticket and am not sure whether that work is still relevant or what branch it is in.

[2018-05-14 11:30] emeraldjava commented on #285
Hi,

Sorry for the delay in replying to this issue. I got the basic drop down working using this code

https://github.com/emeraldjava/bhaa_ee_plugin/blob/master/src/CompanyPostTypeInput.php

The final blocking issue is for an existing WP_User where we know their company, how I ensure the dropdown is pre-selected. Is it possible to pass the ID or value of the company to be selected as part of the $

[2018-05-14 13:11] nerrad opened #425 "Reports improvements"
## Issue Overview

This epic covers all work that improves the registration and transaction reports within the EE4 admin.  Currently this list of improvements includes:

* [ ] Allow selection of reporting dates within registration reports
* [ ] Allow selection of reporting dates within transaction reports
* [ ] Allow selection of status within registration reports
* [ ] Allow selection of status w

[2018-05-14 13:15] nerrad commented on #425
Copied from the original ticket:

Some potential charting libraries to consider:

- https://github.com/uber/react-vis
- https://github.com/reactjs/react-chartjs
- https://github.com/react-d3
- https://github.com/recharts/recharts (see api docs here: http://recharts.org/#/en-US/api/AreaChart)

Out of that list, the one that is most appealing is recharts - their documentation looks straight up aweso

[2018-05-14 13:18] sethshoultes opened #426 "Add a category column to the events overview"
Codebase https://events.codebasehq.com/projects/event-espresso/tickets/8506

Per Seth:
Please add an option in the screen options menu to display a category column to the event overview in the admin. It can default to being turned off, but it would be very valuable to me to be able to see the categories a particular event is in.

Per Darren:
What about other list tables for things that have catego

[2018-05-14 13:20] sethshoultes opened #427 "Fix layout issue for ticket selector step when registering from the admin context"
Codebase https://events.codebasehq.com/projects/event-espresso/tickets/11282

Per Darren:

Screenshot:

![enter image description here][1]

The metabox is normally aligned to the top of the page but somewhere along the way its changed.  From a design standpoint its off.  A couple things should probably happen here:

1. Doublecheck there's no unclosed html tags that are causing this (which is a pos

[2018-05-14 13:22] sethshoultes opened #428 "Escape Template Names in Event Notification Metabox"
Codebase https://events.codebasehq.com/projects/event-espresso/tickets/10999

The Notifications meta box needs some love for the name of the custom template:

![enter image description here][1]

  [1]: https://files.slack.com/files-pri/T02SY781D-F6ZLANZM0/pasted_image_at_2017_09_07_09_46_am.png?pub_secret=7eaec422a0

[2018-05-14 13:23] nerrad opened #429 "Reporting Updates: Add way to view previous months"
**Is your feature request related to a problem? Please describe.**

From the original ticket (@sethshoultes post):

**Additional context**

See [original ticket here](https://events.codebasehq.com/projects/event-espresso/tickets/9568)

[2018-05-14 13:23] sethshoultes opened #430 "Feature Request - Show the number of availiable/remaining seats within the Event Overview."
Codebase https://events.codebasehq.com/projects/event-espresso/tickets/7582

Requested here :- http://eventespresso.com/topic/feature-request-number-of-availiableremaining-seats/

Right now we show the amount of approve registration on the event overview, is it possible to show the remaining available spaces?

I think that this could be different values depending on how you have the event set up,

[2018-05-14 13:43] nerrad commented on #430
@sethshoultes you could get feedback from @tn3rb on this, but if you'e asking for this number to be shown in the event list table I think it will _dramatically_ slow down the loading of the Event List table because of the calculations involved (plus that amount of slowdown could vary significantly depending on how events are setup).  It also sounds like from this statement you're not sure what the

[2018-05-14 13:54] joshfeck commented on #351
Dreamhost may have flagged the eejs-api.min.js file because their malware scanners found base64 encoding of the sourcemapping for the file at the end of the file.

https://eventespresso.com/topic/javascript-in-event-express-identified-as-malware/

[2018-05-14 15:59] youri-- opened #431 "SQL bug: update_term_taxonomy_counts() clears all term_counts when passed a term_taxonomy_id"
Using EE version 4.9.61.p.

**Description of bug**
When using custom code to assign an event category to an event, all term counts are reset to 0, except for the term_taxonomy that is the category assigned, which gets the count of all term counts combined. See "Additional context" for details and proposed change.

**Expected behavior**
Term count should be updated for the $term_taxonomy_id passed.

[2018-05-14 16:26] youri-- opened #432 "Assigning event category by slug, which also exists as regular post category, creates duplicates"
Using EE version 4.9.61.p.

**Description of bug**
When using custom code to assign an event category (using slug) to an event, EE looks up the term by slug/name to get an ID. It however fails to specify its own taxonomy in this query (ie. 'event_espresso_categories'), so if there is a regular post category with this same slug, it will fetch that.

After that it will try to fetch the term_taxonomy

[2018-05-14 16:40] mnelson4 commented on #285
hey @emeraldjava, yes you can pass the form input's initial value in `$input_settings['default']`, see https://github.com/eventespresso/event-espresso-core/blob/master/docs/J--EE4-Forms-System/ee-forms-system-overview.md#ee_form_input_base (I just noticed that wasn't properly documented, so I added it)

[2018-05-14 17:34] mnelson4 commented on #432
thanks for the bug report @youri--, I'll convert your sample code into a unit test and try to resolve it

[2018-05-14 17:42] mnelson4 commented on #431
thanks for the detailed bug report @youri--. I'll try to get to this ASAP, but if you'd like to submit a pull request with your suggested fix and some unit tests (probably to `EEM_Term_Relationship_Test`) that would move things along quicker

[2018-05-14 21:44] tn3rb commented on #350
I think now that React + Gutenberg is coming down the pipe, the refactor that I started (at least the JS portion) is kinda DOA.
There's some elements to what I started, such as updating the DB and models so that questions and question groups more closely resemble our form system inputs and form sections may still be applicable, but even that may need to be refactored to work better with React.

So

[2018-05-14 23:03] mnelson4 commented on #432
this should be addressed by https://github.com/eventespresso/event-espresso-core/pull/434

[2018-05-15 04:38] mnelson4 commented on #330
The easiest way to achieve this would be:
-add a new system question, whose label is something like "Do you consent to having your data stored according to the Privacy Policy (link)?" and there would be a checkbox with the value "I consent to the Privacy Policy".

This approach has a few drawbacks though:
1. Ideally this question will always appear at the very bottom of the reg form. We'd probably

[2018-05-15 04:43] mnelson4 commented on #328
I'm thinking that when a transaction progresses to complete or pending payment, we should anonymize the IP address. And maybe it should be optional?

Theoretically, having the IP address could be useful for identifying and blocking spammers, so it might be nice to keep it, like how WP comments keep it until the comment is approved. Thoughts @tn3rb ?

[2018-05-15 09:26] sethshoultes commented on #330
@mnelson4 i think that sounds like a good plan. Thanks for thinking this through.

[2018-05-15 10:34] sethshoultes opened #438 "Create Class or Helper for Donations Feature"
See original Codebase ticket https://events.codebasehq.com/projects/event-espresso/tickets/3455

Per @tn3rb

If an event has the EVT_donations boolean flagged in the event_meta table, then we need to add a text field somewhere in SPCO for a donation amount to be entered.
This would then be added to the cart total. The value for the donation would be saved in the txn_meta table.

Per @lorenzocaum

[2018-05-15 10:38] sethshoultes opened #439 "SPCO Improvements"
This project will improve SPCO over a period of time.

[2018-05-15 10:45] sethshoultes opened #440 "add a flag to indicate that a registration is in process"
Original Codebase ticket https://events.codebasehq.com/projects/event-espresso/tickets/4978
See also https://events.codebasehq.com/projects/event-espresso/tickets/5048

Per @nerrad
Something like this would be saved:

   $transient_name = 'reg_in_process_13`;
   add_transient( $transient_name, true, 60*5 );

Should be saved as a transient that expires after 5 minutes?  or 10?  whatever we think is

[2018-05-15 10:49] sethshoultes opened #441 "Customer request: Display prices with taxes consistently across the checkout"
Per @joshfeck

This customer left some feedback about how the prices with tax are displayed during the registration process:

They noted that the tax is included in price that labeled in the ticket selected (without itemization or mention that tax is added)
http://monosnap.com/image/InX5cPk7O9BtVVTEl79SATQFwqS3F3

Then later when you fill out the reg forms the tax is not included with the ticket p

[2018-05-15 10:52] sethshoultes opened #442 "Add or alter a hook/filter for attendee data on the payment screen"
See original Codebase ticket https://events.codebasehq.com/projects/event-espresso/tickets/6858

Per @Apina

I hope I havent missed an existing one, but at the payment screen there are various filters to allow modification of the price, but nothing seems to allow access to the attendee data at the same time. As such whicle you can modify the price there doesnt seem to be a way to base that modific

[2018-05-15 10:57] sethshoultes opened #443 "allow users to add more tickets from SPCO"
See original Codebase ticket https://events.codebasehq.com/projects/event-espresso/tickets/3267

Per @joshfeck

Pretty sure MER for EE4 does this, right? Except I guess where you have one event (and no MER installed), and you've selected a few tickets, and you want to change your ticket selection quantities somewhere later along the way through SPCO. So this might be something where we could add a

[2018-05-15 11:02] sethshoultes opened #444 "Create public methods for safely adding and/or removing reg steps to SPCO"
Original Codebase ticket https://events.codebasehq.com/projects/event-espresso/tickets/7938

Per @tn3rb

Currently the array of reg steps is just filtered with an array, but that doesn't provide any protection against having reg steps unintentionally removed.
pz see: #7664 - Investigate why SPCO doesn't display payment options when promotions + wp user integration are active

Per @nerrad

I wonder

[2018-05-15 11:35] sethshoultes opened #445 "fire "initialize_billing_form" to simplify payment method JS"
Codebase https://events.codebasehq.com/projects/event-espresso/tickets/8064

Per @mnelson4

As per the discussion between @br3nt and I on [#7988 - EE4 EVERTEC (Sponsored)](https://events.codebasehq.com/projects/event-espresso/tickets/7988), it would be nice if all payment methods' JS just needed to listen for one event fired from SPCO (or possibly any other page that wants to have payment methods

[2018-05-15 11:55] nerrad commented on #440
Just adding notes.  I'm not sure we'll want to use transients for this unless it ends up that it'll be okay if the transient gets deleted prematurely (i.e. before the expiry time).  So, worded differently, if we _depend_ on the transient to be _reliable_, then we should not use a transient and we should use an option or some other mechanism (maybe extra_meta attached to the registration).

[2018-05-15 11:55] sethshoultes opened #446 "Investigate EE_SPCO_Reg_Step_Attendee_Information – process_reg_step – 598 for some users"
Codebase https://events.codebasehq.com/projects/event-espresso/tickets/8268

Per @Pebblo

This is the thread I'm working on currently: http://eventespresso.com/topic/split-many-failed-transactions/#post-158975

But this has come up before and we've been unable to find a specific cause.

With this user if he registers onto any event from his office network, the above error is shown.

He added some

[2018-05-15 11:57] sethshoultes opened #447 "Fix SPCO displaying a single 'No payment required' ticket if multiple are selected along with a paid ticket."
Codebase ticket https://events.codebasehq.com/projects/event-espresso/tickets/8562

Per @Pebblo

Reported here: http://eventespresso.com/topic/how-to-add-instructions-below-event-title-and-above-everything-else/

Create an event with 1 paid ticket (I made it required but doesn't seem to matter)

Then create multiple free tickets, like so - http://take.ms/XKvRw

Register onto the event, select a si

[2018-05-15 12:02] sethshoultes opened #448 "Add another registration to this event button/link"
Codebase ticket https://events.codebasehq.com/projects/event-espresso/tickets/8662

Please add an option to add a filterable link/button to the end of the registration page. This allows registrants the opportunity to add an additional registration to an event. This came out of a need for onsite registrations in EE3, where "registrant a" fills out the form on an ipad, at the event, then "registrant

[2018-05-15 15:54] sethshoultes opened #449 "Previous payments not displayed in SPCO"
Codebase ticket https://events.codebasehq.com/projects/event-espresso/tickets/8878

Per @mnelson4
@lorenzocaum reported this issue on both [#4710 - EE4 Paypal tax settings](https://events.codebasehq.com/projects/event-espresso/tickets/4710) and [#7422 - Stripe. Get the TXN Total by an AJAX](https://events.codebasehq.com/projects/event-espresso/tickets/7422): when you register for an event, and ini

[2018-05-15 17:45] tn3rb commented on #328
ya the primary reason why I tracked the IP was to facilitate blocking spammers and bots, but thought it would also come in handy for metrics, ie: getting a rough idea where registrants were coming from. That's never been pursued so anonymizing the last 3 octets of the IP address would be ideal imho as that would still allow a site to approximately localize registrants but not with any precision (l

[2018-05-15 21:50] #315 closed

[2018-05-16 15:22] sethshoultes opened #452 "Fix transaction page paid column display back to 0.00"
It seems that the paid column monetary value for nothing paid changed from `$0.00` to `0` for some reason:
 https://www.screencast.com/t/RDqeLTKF

Can we please change that back to `$0.00`?

[2018-05-16 15:42] joshfeck opened #453 "Fix PayPal Pro gateway so it sends the correct value for the State/Province field"
Currently the PayPal Pro gateway sends the full state/province name instead of the expected state/province code. Examples:

https://developer.paypal.com/docs/classic/api/state_codes/#usa
https://developer.paypal.com/docs/classic/api/state_codes/#canada

[2018-05-16 15:46] #328 closed, assigned to mnelson4

[2018-05-16 18:32] joshfeck commented on #351
Another report:
https://eventespresso.com/topic/deleted-reinstall-plugin-malware/

[2018-05-16 19:20] nerrad opened #455 "Test creating an epic"
Just testing the creation of an epic to see if labels are broken.

[2018-05-16 19:38] sethshoultes commented on #418
@joshfeck can you please test?

[2018-05-16 19:38] sethshoultes commented on #417
@joshfeck can you please test?

[2018-05-16 20:21] #407 closed

[2018-05-17 13:29] #373 closed

[2018-05-17 15:13] joshfeck commented on #417
No @sethshoultes , because this cannot be tested.

[2018-05-17 15:16] joshfeck commented on #418
No, sorry @sethshoultes . Please see the discussion in the pull request ( #419 ) The fix cannot be tested because the method with the bug in it isn't used by EE core anywhere.

[2018-05-17 17:09] mnelson4 commented on #417
My bad for missing this- the PR has unit tests that test it, I just didn't get around to merging the associated PR after it passed code review. But I just merged it now.

[2018-05-17 17:09] #417 closed

[2018-05-17 17:16] mnelson4 commented on #418
ya, I should have noticed that. The associated pull request has been merged into master so this is resolved (it has unit tests to verify this works)

[2018-05-17 17:16] #418 closed

[2018-05-17 22:15] Pebblo commented on #452
Spotted this the other day and it got me curious, Brent helped figure out the problem in slack so committed.

[2018-05-18 01:13] nerrad commented on #414
Another option is dependabot which monitors dependencies for php as well as javascript (and other languages too) it also has a free plan. https://github.com/marketplace/dependabot/plan/MDIyOk1hcmtldHBsYWNlTGlzdGluZ1BsYW4zNTQ=#pricing-and-setup

[2018-05-20 19:29] nerrad commented on #316
@tn3rb I committed a number of fixes to the Branch attached to this ticket (`Gutenberg/event-attendees-block`) along with some fixes in #466 (that should get merged to Gutenberg/master once approved).  Fixes/changes include:

- fixing some of the import schema's in the js (use the package name instead of the `wp` global, webpack takes care of building correctly)
- fix jed "domain not found" error

[2018-05-21 10:36] nerrad commented on #316
Ya it works, I just whipped up a really quick proof of concept (against the latest master branch of gutenberg):

![Demonstration of working input](http://g.recordit.co/dUn9c5UzfJ.gif)

[2018-05-21 10:42] Pebblo opened #467 "Only load .php files in the Collection Loader"
Reported here: https://eventespresso.com/topic/website-crash-2/

In short, it looks like the Collection Loader is loading more than just PHP files

To reproduce go to `/event-espresso-core-reg-git/core/domain/entities/shortcodes`

Add a `.listing` file to that directory (which may be created by Wget) and then reload the site, you'll see:

[code]

[2018-05-21 17:48] Pebblo opened #468 "Fix "Warning: call_user_func_array() expects parameter 1 to be a valid callback, class 'EventEspresso\core\services\request\middleware\RecommendedVersions' does not have a method 'minimum_wp_version_error'""
Reported here: https://eventespresso.com/topic/ee4-not-activating-getting-a-does-not-have-a-method-minimum_wp_version_error/

To reproduce activate EE on a version of WP that would throw a notice stating it does not support it (WP4.4 for example).

You'll get this error:

Warning: call_user_func_array() expects parameter 1 to be a valid callback, class 'EventEspresso\core\services\request\middlewa

[2018-05-22 01:12] nerrad commented on #316
Before work on the branch related to this issue can be continued, #466  needs to be completed and merged into `Gutenberg/master` and then into this branch.  It in turn has a dependency on #471 which is currently up for review.  It's a fairly intricate chain but everything is ready to go, it just has to be done in order (and reviewed/discussed as necessary)

[2018-05-22 18:36] mnelson4 commented on #352
this PR was merged into master 14 days ago

[2018-05-22 18:36] #352 closed

[2018-05-22 19:57] nerrad commented on #316
K all necessary merges have been done and are now in the `Gutenberg/event-attendees-block` branch.

[2018-05-22 20:38] #329 closed

[2018-05-23 13:55] sethshoultes opened #473 "Start process for bumping PHP version to 5.5"
Codebase ticket: https://events.codebasehq.com/projects/event-espresso/tickets/11449

Per @nerrad

Just created this ticket to keep things bump bumpeting along.    We can take a look at the stats when time rolls around for doing this ticket and determine whether we can bump requirements directly to 5.6 or not but we'll stick with the conservative 5.5 as the next requirement bump for now.

* [ ] Re

[2018-05-23 16:34] mnelson4 commented on #432
PR merged into its parent

[2018-05-23 18:20] mnelson4 commented on #432
PR (https://github.com/eventespresso/event-espresso-core/pull/434) merged into master

[2018-05-23 18:20] #432 closed

[2018-05-23 20:01] mnelson4 commented on #431
this issue pull request was merged into master during 4.9.62 so moving this to that milestone

[2018-05-23 20:01] #431 closed

[2018-05-24 11:43] Pebblo opened #477 "Fix [ESPRESSO_EVENT_ATTENDEES] no longer parsing in the calendar content."
Reported here: https://eventespresso.com/topic/registered-members-short-code/

In ver 4.9.59+ the [ESPRESSO_EVENT_ATTENDEES] shortcode stopped parsing in the calendar content.

To reproduce just add the above shortcode to an event's description, then view that event on the calendar. The shortcode doesn't parse at all and just shows in the content -  http://take.ms/jKmrWi

Switching to EE core 4.5.

[2018-05-24 14:56] nerrad commented on #473
@sethshoultes I did some percentage graphs giving the latest stats on phpversions in use but I'm waiting on a response for whether I should post this here or not (see [the convo in slack here](https://eventespresso.slack.com/archives/C02SY781M/p1527173068000274) ).

[2018-05-24 14:58] nerrad commented on #473
@joshfeck based on the [charts I posted in slack](https://eventespresso.slack.com/archives/C02SY781M/p1527173009000789), do you think we should just table this ticket for another month and do another review or should we bump to required version of PHP to 5.5 for the next round of updates?

[2018-05-24 16:30] shorrocks commented on #313
Hi Mike,

Did you get all of your questions answered to start the integration?  If not, please let Nate, and I know.

@'Garth Koyle'<mailto:garth@eventespresso.com>  I am getting the final approvals from finance.  Once that is done I will send you a contract for this integration.  I think I should have this to you by early next week.

Thanks,
Sara

From: Mike Nelson [mailto:notifications@github.co

[2018-05-25 10:30] Pebblo commented on #360
Another report here:

https://eventespresso.com/topic/editing-in-elementor-gets-un-error-uncaught-error-call-to-undefined-function/

[2018-05-25 14:40] joshfeck commented on #473
Seeing that there's more PHP 5.4 installations than PHP 5.5 I do think we should table this for awhile.

[2018-05-25 14:49] joshfeck opened #478 "Fix JavaScript error on WP > Plugins page: Jed localization error: Error: Domain `event_espresso` was not found."
This happens in the current release, in master branch, and in the add-type-specific-asset-methods branch.

Simply go to WP > Plugins then view the console to see this JS error:

[code]

[2018-05-25 19:21] nerrad commented on #473
Just making note of this nifty thing buddypress did: https://github.com/buddypress/BuddyPress/blob/3efd14b0e8506f2f40827eeaf5571a491dc01565/src/bp-core/admin/bp-core-admin-functions.php#L1117

When I posted about the first negative Organize Series feedback related to me bumping minimum php version requirements in #poststatus slack, I got lots of feedback about the ability for plugins to _prevent_

[2018-05-25 19:30] #468 closed

[2018-05-25 19:46] nerrad commented on #478
I'm going to grab this because its something that should be fixed sooner rather than later.

[2018-05-25 20:36] nerrad commented on #478
Okay after spending some time troubleshooting I've determined that the cause for this error is when `translation-map.json` is not found by the plugin.  This is a special built file that maps javascript strings to handles that are used for on demand loading of only the strings needed for javascript on a given view.  If that map isn't present then the `wp_add_inline_script` call that sets up `eejs.i

[2018-05-28 22:09] tn3rb commented on #316
Currently the Event Attendees block :

* displays attendees for the selected event
* properly formats everything
* saves the selected event id so that upon refresh or return to the post, the previous event is automatically selected and the corresponding attendee list is displayed (yay)

PLZ pull the latest changes for this to see
(you'll need to rebuild the assets of course even though I had pushe

[2018-05-29 14:42] nerrad opened #485 "Work out route specific bundled assets."
## Issue Overview

As we work on the GB integration (and the js build process in general), one issue we run into is that with blocks being registered client side, it doesn't matter how we register things server side because any js loaded in the GB editor is executed.  So for instance if we bundle all our "core" blocks in one bundle, and in that bundle are blocks that are _not_ intended to load in

[2018-05-29 23:57] lorenzocaum opened #487 "Add failed emails back to the queue and try again with a limit on the number of automatic retries"
This is an idea that @nerrad shared in Slack eventsmart when we were investigating a couple of reports of failed emails. This was reported as issue 26 on the Event Smart project.

[2018-05-30 11:34] Pebblo opened #489 "Fix Level 2 maintenance mode causing fatal error from PrivacyPolicy.php"
**Describe the bug**
If you activate Level 2 maintenance mode by setting up a new site and activating an older version of EE and then switch to 4.9.62+ you'll get a fatal error:

[code]

The above happens if you trigger any migrations, so if you had an older version of the calendar active previously (but no longer use it), then activate the calendar with EE4 core v4.9.62+ you'll get a fatal so mar

[2018-05-30 12:06] #478 closed

[2018-05-30 18:04] mnelson4 commented on #489
created https://github.com/eventespresso/event-espresso-core/pull/490 to address this

[2018-05-30 20:54] nerrad opened #491 "Remove unused methods from AssetManager"
We currently have `getJavascriptAssets` and `getStylesheetAssets` in `AssetManager` which are not implemented anywhere and are also potentially gotchas since they return ALL registered assets in the `AssetCollection` (not just assets registered via the concrete manager).  After discussion with @tn3rb in slack, we both agreed that they can be nixed for now.

[2018-05-31 11:46] nerrad commented on #491
closing in favor of #492

[2018-05-31 11:46] #491 closed

[2018-05-31 12:38] joshfeck opened #493 "Account for "Index column size too large" database error"
There was a site that migrated data from EE3 to EE4 and none of the attendee data was migrated into `wp_esp_attendee_meta`. This error was captured when doing the migration:

```WordPress database error: [Index column size too large. The maximum column size is 767 bytes.] CREATE TABLE wp_esp_attendee_meta ( ATTM_ID INT(10) UNSIGNED NOT NULL AUTO_INCREMENT, ATT_ID BIGINT(20) UNSIGNED NOT NULL, ATT_

[2018-05-31 18:02] #452 closed

[2018-05-31 18:02] joshfeck opened #494 "Avoid PHP fatal error if PHP sessions are not available, notably on Pantheon servers"
See:
https://pantheon.io/docs/wordpress-known-issues/#php-sessions
and
https://pantheon.io/docs/wordpress-sessions/

tldr; Pantheon requires a plugin to enable PHP sessions. It seems that other plugins that require sessions do not throw a fatal (only a PHP warning) so this would be a nice bit of managing a worse-case scenario if the fatal could be avoided.

[2018-06-01 04:10] mnelson4 commented on #313
While waiting for a response to a few question, I'm going to take a stab at this. Here's the UI plan:
-from the SPCO payment options step, PayPal will appear as a regular button
-when clicked, we'll show the user the stacked button options, like on https://developer.paypal.com/demo/checkout/#/pattern/vertical
-when the user clicks one of those options, a pop-up will appear acquiring payment info
-

[2018-06-01 16:55] joshfeck opened #496 "Fix WordPress database error: [Not unique table/alias: 'wp2_esp_datetime']"
This is a new bug since 4.9.62.p

Steps to replicate:

1. Switch to the twentyseventeen theme
2. Unzip and upload the attached custom archive template to the twentyseventeen folder
3. View the /events/ archive on the front end of the site
[archive-espresso_events.php.zip](https://github.com/eventespresso/event-espresso-core/files/2063566/archive-espresso_events.php.zip)

[2018-06-01 17:13] joshfeck commented on #496
Posting the template code in case there's any trouble with the attached file:

[code]

[2018-06-04 17:08] #496 closed

[2018-06-05 08:30] Pebblo opened #500 "Message Queue triggers a fatal error if the site is in MM2"
Whilst testing #489 I've had a site in MM2 for a prolonged period and noticed that the message queue is triggering a fatal:

[code]

To reproduce you can add: `update_option('ee_maintenance_mode', 2);`

In functions.php or a plugin to set EE Mainteance mode lvl 2.

Then visit the front end of the site after a few mins and check your error log.

I don't have messages in the queue for generation/sen

[2018-06-05 16:03] joshfeck opened #501 "Avoid fatal errors related to "The namespace for this manifest file has already been registered""
This fatal error has been reported in 3 support topics:
https://eventespresso.com/topic/nav-menu-php-wont-load/
https://eventespresso.com/topic/white-screen-error-on-wp-admin-nav-menus-php/
https://eventespresso.com/topic/problems-when-people-try-to-register-an-event-on-there-mobile-phone/#post-270951

In each case the error happens on a specific admin page related to a specific plugin. So far the

[2018-06-05 16:04] joshfeck commented on #501
![screen shot 2018-06-05 at 11 39 27 am](https://user-images.githubusercontent.com/891156/40988235-9345090e-68b8-11e8-96a5-0c48f1c0fb9f.png)

[2018-06-05 17:18] mnelson4 commented on #313
thought about it some more, and following the above plan will result in a UI that will look like this:
![paypal with smart button v1](https://user-images.githubusercontent.com/1766382/40991556-011b4f5c-68a9-11e8-8762-243c21b2bf00.png)
where there are two "PayPal" buttons, which will be really strange.
So I'm prioritizing making the regular PayPal button instead be a smart button.
Talked with Brent

[2018-06-05 19:48] sethshoultes commented on #501
@tn3rb can you please look into these errors?

[2018-06-06 18:14] joshfeck opened #505 "Avoid fatal errors caused by uncaught exceptions related to persistent admin notices"
This fatal error was reported to support:

[code]

The user reported they had just updated to the current version of EE4 and PUE stats showed the prior version was 4.9.48.

This was what was stored within the `ee_pers_admin_notices` option at the time the fatal error was thrown:

[code]

[2018-06-06 20:06] mnelson4 commented on #313
status update:

issues:
* what JS action can I listen for to initialize the smart button? there's `spco_display_step` which fires when the user goes from the attendee info step to the payment options step (well, at the start of all steps), but it doesn't fire when someone just reloads SPCO while already on the payment options step, or they revisit the payment option step
* after authenticating, al

[2018-06-06 20:06] mnelson4 commented on #313
view of what I have so far: https://drive.google.com/file/d/1jfhFrYXi-Hr6b2oajuzJucykzIiIEtiR/view

[2018-06-06 21:20] shorrocks commented on #313
Adding Nate

Sara

From: Mike Nelson [mailto:notifications@github.com]
Sent: Wednesday, June 6, 2018 3:07 PM
To: eventespresso/event-espresso-core <event-espresso-core@noreply.github.com>
Cc: Horrocks, Sara <shorrocks@paypal.com>; Manual <manual@noreply.github.com>
Subject: Re: [eventespresso/event-espresso-core] Add Support for PayPal Express Smart Payment Buttons (#313)

view of what I have so f

[2018-06-06 21:21] shorrocks commented on #313
From: Mike Nelson [mailto:notifications@github.com]
Sent: Wednesday, June 6, 2018 3:07 PM
To: eventespresso/event-espresso-core <event-espresso-core@noreply.github.com>
Cc: Horrocks, Sara <shorrocks@paypal.com>; Manual <manual@noreply.github.com>
Subject: Re: [eventespresso/event-espresso-core] Add Support for PayPal Express Smart Payment Buttons (#313)

status update:

issues:

  *   what JS acti

[2018-06-06 22:59] ppnsanders commented on #313
@mnelson4, for bullet 3 in the above, the size can be set to align with the other button sizes on the page.

https://developer.paypal.com/docs/integration/direct/express-checkout/integration-jsv4/customize-button/#button-styles

`style.size`:

Value | Dimensions | Description
-- | -- | --
`small` | 150 pixels by 25 pixels | `default`
`medium` | 250 pixels by 35 pixels | Use to match the size of ot

[2018-06-07 03:43] joshfeck opened #507 "Preserve double line breaks in venue description when displayed within the event page (maybe add wpautop?)"
Steps to replicate the issue:

1. Compose a venue description for a Venue CPT and include lots of double line breaks between lines of text.
2. View the Venue CPT, note that WordPress changes the double line-breaks in the text into HTML paragraphs (`<p>...</p>`).
3. Assign an event to the Venue
4. View the Event CPT and you'll notice no double line breaks in the Venue description.

I think this may

[2018-06-07 14:23] Pebblo opened #508 "Fatal error on WP4.5 - Call to undefined function EventEspresso\core\services\assets\get_user_locale()"
Currently master will give a fatal error on the plugins page when using WP 4.5:

[code]

This is a clean install using WP 4.5.14

[2018-06-07 16:06] Pebblo opened #509 "GDPR - Remove phone number from the EE Contact when person data erase request is fulfilled."
The 'Phone number' answer is not removed from the EE contact when using WP's new GDPR erase feature.

Before - http://take.ms/cds2A

After  - http://take.ms/3dQwD

To reproduce create an event that collects Address info and add a registration using dummy data, be sure to provide the phone number.

Open up the registration in EE and note the email address for the EE Contact.

To reproduce, go to To

[2018-06-07 16:20] Pebblo opened #510 "GDPR template - Billing information does not show any example text if you only use offsite payment methods."
To reproduce go to the WP privacy policy guide:

/wp-admin/tools.php?wp-privacy-policy-guide
(Dashboard -> Priviacy -> Checkout our guide)

Make sure you have the latest version of EE active and only an offsite payment method (offline payment methods don't matter so if you have invoice active leave it as is).

Look under billing information - http://take.ms/y1L9N

On that site I only have the PayP

[2018-06-07 18:07] mnelson4 commented on #330
PR https://github.com/eventespresso/event-espresso-core/pull/470 was just merged into master

[2018-06-07 18:07] #330 closed

[2018-06-07 18:13] mnelson4 commented on #313
thanks @ppnsanders. Ya I think I'll default to using `responsive` and putting it into a container that's the same size as the other buttons.

[2018-06-07 22:17] #489 closed

[2018-06-08 21:28] nerrad commented on #358
I had done some playing around with this a few weeks ago and forgot to update this ticket.  It takes a LOOOONG time to create code coverage for our phpunit tests (took me 3 hours locally).  Too long to make it worth our while especially since travis will time out before its finished (limit 50min for a build).  So even if I pushed off doing the code coverage report weekly via  nightly task we still

[2018-06-09 15:13] nerrad opened #516 "Implement React Strict Mode for our components"
## Issue Overview

React introduced a tool in 16.3.0 to run in development builds that assists with spotting problematic components and warn of them in the browser console.  This will assist us in catching any thing we import that might not be wise to use.

Problematic components would be ones that use deprecated lifecycle methods, experimental apis etc.

More on this can be found here: https://re

[2018-06-11 15:36] joshfeck commented on #477
Other shortcodes seem fine. The breakage appears to have started with the merge of the Add Bot Detection Middleware branch. https://events.codebasehq.com/projects/event-espresso/tickets/11174

[2018-06-11 20:52] nerrad opened #519 "Investigate usage of getDerivedStateFromProps."
## Issue Overview

See #515 for context.  I'm not going to do a big description here because the investigation (and any fixes) will likely be documented in a pull anyways.  This is more of a placeholder so I don't forget to address this.

[2018-06-11 22:15] garthkoyle opened #520 "Ticket Editor UI: Archive Tickets"
This has been reported/requested several times, but I thought I would document it too.

People would like to simplify the ticket editor UI by archiving tickets so they can't be seen after the sale date passes. Being able to archive a ticket would help keep the UI cleaner for events with lots of ticket options and it might make the UI more performant.

Here is a recommendation for the UI based on h

[2018-06-12 01:43] nerrad commented on #519
Some initial thoughts of what I'd like to try once this is implemented in blocks:

- instead of `getDerivedStateFromProps` setting the _entire_ `selectConfiguration` object, let's just set the options and the defaultSelected value in state.  Then render simply combines the props and state via spread for the select control, i.e. `<Select { ...this.props.selectConfiguration } { ...this.state } />`
-

[2018-06-12 09:37] #510 closed

[2018-06-12 10:00] Pebblo commented on #477
Apologies, I missed this.

As Josh mentioned standard WP shortcodes work (and other plugins shortcodes) but EE's shortcodes do not.

These work:

[code]

These do not:

[code]

I wouldn't actually expect the first 2 of the second set of shortcodes to work in the calendar anyway but wanted to test various EE shortcodes.

[2018-06-12 14:08] sethshoultes commented on #416
@nerrad can you please take a look?

[2018-06-12 14:16] nerrad commented on #516
I'm going to close this because <ReactStrict> has been implemented by the GB team for the editor and thus will pick up any thing needing taken care of that's loaded in the editor.  I'll just keep this in mind when we start building non-editor centric apps.

[2018-06-12 14:16] #516 closed

[2018-06-12 14:28] nerrad commented on #416
There were also some [comments made in our slack](https://eventespresso.slack.com/archives/C080L8G68/p1528810769000423) about changing this to default to opt-in vs the current default of opt-out.  Did you want me to change that as well for this ticket?

[2018-06-12 15:17] joshfeck commented on #416
p2'ed:
http://p2.eventespresso.com/?p=5141

[2018-06-12 16:01] sethshoultes commented on #416
@nerrad yes, please update that to be opt-in, instead of opt-out by default.

[2018-06-12 16:39] joshfeck commented on #501
Also reported in a plugin deactivation:
https://secure.helpscout.net/conversation/599822051/538574?folderId=100572

[2018-06-12 18:22] joshfeck commented on #416
per the discussion in Slack, we're going to try to make this a single checkbox where you check the box to opt-in.

[2018-06-12 19:52] mnelson4 commented on #313
created a core PR for the core work needed for this (I'll probably create a few but so far there's just one): https://github.com/eventespresso/event-espresso-core/pull/517
Also, we're preferring to have this be an add-on, at least initially, so created https://github.com/eventespresso/eea-paypal-smart-buttons

[2018-06-13 17:38] mnelson4 opened #527 "Sold out events can't be accessed over the REST API without authentication"
When an event is sold out, its status is changed from `publish`, `protected` or `private` to `sold_out`.
Right now, the REST API only shows events with the status `publish` to unauthenticated users. So when an event becomes sold out, it's suddenly not viewable publicly over the REST API.

This would be fixed if we treated `sold_out` events the same way as `publish` events, but we don't know if the

[2018-06-13 20:22] sethshoultes commented on #527
Ha! Number 3 has been requested a few times over the years...

@mnelson4 how much time to implement option one?

[2018-06-14 00:31] #501 closed

[2018-06-14 10:55] Pebblo opened #529 "EE_Event object not attached to post data on ajax requests."
Reported here: https://eventespresso.com/topic/ajax-request-return-data-doesnt-include-ee_event-information-in-post-data/

A quick way to reproduce is to use WP Debug bar console and add:

[code]

With master, you'll just get WP_Post objects with no EE_Event objects.

The same code used in a template file returns the WP_Post and EE_event object.

If you switch to 4.9.59.rc.009 you'll get both obje

[2018-06-14 13:42] joshfeck commented on #477
Possibly related to #529

[2018-06-14 13:42] joshfeck commented on #529
Possibly related to #477

[2018-06-14 14:00] joshfeck commented on #527
I'll advise against adding a setting that allows for the site admin to choose what happens. An option would be confusing with imperceptible utility at best.

Related to #278

[2018-06-14 15:15] nerrad commented on #416
closing in favor of #530

[2018-06-14 15:15] #416 closed

[2018-06-14 21:34] lorenzocaum opened #532 "Add support for new config options for Invisible reCaptcha"
From issue 49 on the Event Smart project.

We need a way to use another constant for Invisible reCaptcha. Invisible reCaptcha is opt-in as in an event organizer that is using the original reCaptcha needs to make the switch on their own and part of doing that is creating a separate set of keys.

[2018-06-14 21:39] mnelson4 commented on #313
FYI I created a video showing how to setup a paypal REST API app: https://drive.google.com/file/d/1QW5btK7UP8FU4JehgENkzApA-TZkANuI/view (it requires going to developer.paypal.com, which is a bit weird IMO, especially for live credentials), but that's the same thing shown in this video: https://www.youtube.com/watch?v=jlnXFs7vxRs

[2018-06-15 04:42] mnelson4 opened #533 "Mock Add-Ons Missing A Lot of Setup files"
Like:

* .github
* assets ?
* eslink.js ?

and all the other top-level files (like .babelrc, composer.json, etc) that EE core and most add-ons have now. I encountered this while working on https://github.com/eventespresso/eea-paypal-smart-buttons/pull/1

[2018-06-15 04:52] mnelson4 commented on #527
@sethshoultes lemme see what, if anything, we're saving...

@joshfeck I think agree, but I'm not 100% I follow. Did I or someone else suggest that? That sounds different from the very vague approaches I've suggested, it seems to me

[2018-06-15 11:59] shorrocks commented on #313
Adding Nate

Sara

From: Mike Nelson [mailto:notifications@github.com]
Sent: Thursday, June 14, 2018 4:39 PM
To: eventespresso/event-espresso-core <event-espresso-core@noreply.github.com>
Cc: Horrocks, Sara <shorrocks@paypal.com>; Manual <manual@noreply.github.com>
Subject: Re: [eventespresso/event-espresso-core] Add Support for PayPal Express Smart Payment Buttons (#313)

FYI I created a video sh

[2018-06-15 12:07] lorenzocaum opened #534 "Fix typo in help tab for PayPal Express"
From the WP-admin (WordPress dashboard), go to Event Espresso --> Payment Methods. Then click on the Help tab in the top right and click on PayPal Express.

There is a typo: https://cl.ly/3Y0Y2n2N3C2h

[2018-06-15 13:14] joshfeck commented on #527
In this case, adding an option is the very vague approach because what would the options be?

I think either of the first two approaches you presented here could work fine. The first could be leaned on as a quick fix (store the previous post status and make use of that) with the idea that we'll eventually deprecate the sold_out post status.

[2018-06-15 14:46] ppnsanders commented on #313
@mnelson4, I understand that it might seem a little different, having to go to the developer site to generate the app.  There is an alternative, but it requires using third party permissions via Integrated Sign-Up (ISU).  This is an additional integration step and would change your first party Onboarding you have today.

Would you like to discuss this further? Or keep the requirement that the merc

[2018-06-15 16:03] sethshoultes commented on #534
@mnelson4 or @knazart can one of you please fix this really quick?

[2018-06-15 16:09] mnelson4 commented on #534
created https://github.com/eventespresso/event-espresso-core/pull/535 to address this

[2018-06-15 16:09] knazart commented on #532
@lorenzocaum regarding ES - I can fix that, it should still work. But yeah, it could be nice to have a separate `$config->invisible_recaptcha_publickey` for the Invisible recaptcha as it requires a different key from the regular one.

Just to note: I think @tn3rb was the one adding the Invisible reCaptcha to EE Core.

[2018-06-15 17:30] mnelson4 commented on #313
The initial version of our integration probably won't feature ISU, but it would be nice to know what our options are. I tried searching online for documentation about it but couldn't find any. Could you please point me to the documentation?

Also, for PayPal Express and PayPal Pro we needed to provide a "BUTTONSOURCE" argument in order to show payments were generated using our integration. How sho

[2018-06-15 17:31] mnelson4 commented on #313
Thanks @ppnsanders.
The initial version of our integration probably won't feature ISU, but it would be nice to know what our options are. I tried searching online for documentation about it but couldn't find any. Could you please point me to the documentation?

Also, for PayPal Express and PayPal Pro we needed to provide a "BUTTONSOURCE" argument in order to show payments were generated using our

[2018-06-15 17:46] mnelson4 commented on #527
Oh I see, Seth said "Also, what about adding a setting that allows the site admin to choose what happens?" Somehow I skimmed over that. Sorry!! (I try to avoid that, but obviously not well enough this time).

aha, yes we do store "_previous_event_status" postmeta when an event is sold out...

I created an exploratory branch on https://github.com/eventespresso/event-espresso-core/pull/536. If that

[2018-06-16 20:38] nerrad commented on #99
There's some basic composer support available in EE, we forgot to update this issue.  Still not on packagist though.

[2018-06-17 08:41] nerrad commented on #299
not stale.

[2018-06-19 16:04] ppnsanders commented on #313
@mnelson4, Here are the links to documentation for Integrated Sign-Up (referred to as "Connected Path") in the documentation.

Overview Document: https://developer.paypal.com/docs/marketplaces/connected/

API Docs: https://developer.paypal.com/docs/api/partner-referrals/

Interactive Walk-Through: https://www.paypal.com/apex/product-profile/connected/getAccessToken

Sample Code (NodeJS): https://g

[2018-06-21 15:31] sethshoultes commented on #529
@Pebblo can you please test?

[2018-06-21 15:48] #534 closed

[2018-06-21 18:21] #529 closed

[2018-06-21 20:20] #313 closed

[2018-06-21 20:25] sethshoultes opened #544 "Payment logs: if we can't record the payment the log is for, at least record the transaction"
**Codebase ticket:**
https://events.codebasehq.com/projects/event-espresso/tickets/11367

**Testing notes:**
To test this use master and the iPay88 payment method (it doesn't need to be set up to function, just add M03222 as the merchant code and Tmnx7fmSu4 as the merchant key)

The reason for using that payment method is right now it creates logs that use the transaction object rather the the pay

[2018-06-21 20:28] sethshoultes commented on #544
@Pebblo does this still need to be tested? I see a related Codebase ticket that still needs to be merged:
https://events.codebasehq.com/projects/event-espresso/tickets/11361

[2018-06-22 16:08] Pebblo commented on #544
Yes, this still needs to be tested, but I got multiple conflicts on when merging master so I've created a new branch with the changes.

WRT - https://events.codebasehq.com/projects/event-espresso/tickets/11361

That's for the iPay88 payment method and the reason I haven't merged it in yet is to help with testing this branch. The iPay88 payment method uses the transaction object for all log calls c

[2018-06-22 17:04] #477 closed

[2018-06-23 19:07] tn3rb opened #546 "Type conversion of OPTION_SELECT_ALL constant value in build-options module for the ModelSelect component results in values not being selected"
Discovered a minor gotcha with the `build-options` module for the `ModelSelect` component when used for selecting query arguments (like filtering event attendees by datetime)...

we use the following constant:

[code]

to indicate that any/all values in the list are acceptable.

The problem occurs when the value for the list is an integer (like a datetime ID) and you are performing logic on that v

[2018-06-23 23:52] nerrad commented on #546
Hmm ya, this is a tricky one.  Part of the dilemma here is that in most cases ALL is really just an alias for "no filtering" (or an equivalent to "none").   So I wonder if we even NEED a "ALL" option, and instead parent components implementing the selectors could just change the default text for no selection to be labelled (All Datetimes).  I think this would be the better solution.

[2018-06-25 15:19] sethshoultes opened #548 "Add Two Factor Authentication to the GH Bot"
It was mentioned in Slack that 2FA needs to be added to the Github Bot.

[2018-06-25 15:21] #548 closed

[2018-06-25 15:21] sethshoultes commented on #548
Issue moved to [eventespresso/eventespresso.com-website #17](https://github.com/eventespresso/eventespresso.com-website/issues/17) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-25 16:16] tn3rb commented on #546
that won't work because there needs to be an actual option to select to indicate no selection.
Placeholder text only works when the input has no value because no option has even been selected.
Once that happens and the input has a value, the placeholder text disappears and there is no way to "unselect" options and return the input to having no value.

[2018-06-25 16:23] nerrad commented on #546
With react-select, if the `defaultValue` of zero (or no value is) passed to it is treated as no selection and thus the placeholder text shows (if you're not seeing that behaviour, there might be a setup issue in your branch).  If there's nothing selected, then the current setup of our select hocs will not include the filtering information.

I'm not sure how "unselect" options is needed here becaus

[2018-06-25 17:02] nerrad commented on #546
So in discussing things in slack, I realized that a feature we configured  for react-select (an `x` ui element for clearing the select) was not implemented fully.  In `ModelSelect` I need to listen for the `onChange` and capture the `action` callback to handle the `clear` event.

[2018-06-25 19:15] nerrad commented on #546
fixed in #549

[2018-06-25 19:15] #546 closed

[2018-06-26 12:41] lorenzocaum opened #551 "Review third party dependencies"
The last review was in early March and a list was shared here: https://events.codebasehq.com/projects/event-espresso/tickets/5944#update-49363606

Some were completed and others were in progress so this issue could be used to determine the ones that need to be worked on next so they can be moved over from Codebase.

Then the next review will trigger near the end of the year which will put us on a

[2018-06-26 14:40] mnelson4 commented on #347
huh sorry somehow I never noticed this @sethshoultes. Yeah this could either be a forms issue or an SPCO issue. First I'll see if I can reproduce...

[2018-06-26 14:42] mnelson4 commented on #349
thanks Stale bot, but I'm pretty sure we still intend to work on this

[2018-06-26 23:04] mnelson4 commented on #313
thanks @ppnsanders for the links. Is it ok if we only provide the `PayPal-Partner-Attribution-Id` during the server-side `execute` request? or does the client-side javascript need to set that instead?

[2018-06-27 21:54] joshfeck commented on #505
Reported again:
https://eventespresso.com/topic/collection-fatal-error-post-update/

[2018-06-27 22:40] sethshoultes commented on #505
@nerrad will you please look into this and see if it's something you can fix within an hour or two.

[2018-06-28 16:47] tn3rb commented on #532
@knazart
can you plz link this issue to your pull that adds the new config options

[2018-06-28 17:11] knazart commented on #532
Here is the pull: https://github.com/eventespresso/eventsmart.com-website/pull/53

do you mean in zenhub @tn3rb ?

[2018-06-28 17:33] #533 closed

[2018-06-28 17:34] mnelson4 commented on #533
related PR merged in

[2018-06-28 17:39] mnelson4 opened #557 "Allow payment method's default front-end name to differ from its admin-only name"
For https://github.com/eventespresso/eea-paypal-smart-buttons/issues/7, we'd like the front-end name of the payment method to be different than the back-end name. (On the frontend we want something fairly short but not necessarily unique, like "PayPal Express Checkout", but on the back-end we need something unique so admins can tell "PayPal Express" apart from "PayPal Express Checkout with Smart B

[2018-06-28 20:01] mnelson4 commented on #557
related PR https://github.com/eventespresso/event-espresso-core/pull/558 merged in

[2018-06-28 20:01] #557 closed

[2018-06-28 20:10] nerrad commented on #505
This will have to go to Brent for fixing.

As far as I can tell, the error indicates that under the right conditions, `Collection->has()` will return false and thus with the conditional usage in `PersistentAdminNotice::registerPersistentAdminNotice`, an object could potentially get added to the collection twice (or maybe have a reference to the object linked to a new identifier).

The `Collection:

[2018-06-29 15:38] ppnsanders commented on #313
@mnelson4, my apologies for not getting back to you on the `PayPal-Partner-Attribution-Id` question.

If you're doing the client-side JS to create the payment, you'll want to pass that Attribution-Id in the client-side, but if the client-side JS is calling your server first, then your server only needs to pass it.

For context, we have monitors that track conversion on the integrations, so seeing

[2018-06-29 17:57] mnelson4 commented on #313
No worries, thanks @ppnsanders.
Yes, we're creating the payment client-side, but then executing it server-side. (I thought executing it server-side was important to verify the payment actually occurred, because it's possible someone could hack the client-side code to simulate a valid payment happening and then tell our server the payment was successful when it actually never happened).
So now we'r

[2018-06-29 17:58] ppnsanders commented on #313
Excellent!  Thank you @mnelson4!

[2018-07-02 13:58] gettyhub opened #562 "Decaf: adding required questions does not show up at registration checkout"
When going to registration questions and wanting more than First Name, Last Name and Email, and selecting the required information to be added to the checkout, the only questions that show are still only the critical three.

[2018-07-02 16:40] mnelson4 commented on #346
they certainly don't need to be autoloaded. Changing that for future updates would be a very quick fix

[2018-07-03 14:11] Pebblo commented on #544
OK, this was fixed with #545 so closing out.

[2018-07-03 14:11] #544 closed

[2018-07-03 18:59] sethshoultes commented on #505
@tn3rb will you please help with this issue? Thanks

[2018-07-05 17:33] sethshoultes opened #569 "Add recent addon releases to core Extensions & Services page"
The following add-ons need to be advertised in the Extensions & Services page:

- Wait List Manager
- PayPal Express Checkout SB
- Authorize.NET Accept addons

[2018-07-06 15:16] sethshoultes commented on #381
@joshfeck is this still an issue?

[2018-07-06 16:43] sethshoultes commented on #494
@mnelson4 is this something you can fix?

[2018-07-06 16:52] mnelson4 commented on #494
I could investigate a bit, but session-related stuff is usually @tn3rb 's domain

[2018-07-06 16:54] sethshoultes commented on #508
@Pebblo is this something you can fix? If not, please pass along to @mnelson4.

[2018-07-06 16:55] sethshoultes commented on #487
@nerrad would it be possible to get an estimate of time for this?

[2018-07-06 17:16] sethshoultes commented on #453
@Pebblo is this something you can fix?

[2018-07-06 17:47] joshfeck commented on #381
Yes this is still an issue.

To replicate: Activate Invisible reCAPTCHA and select the option to enable Invisible reCAPTCHA on the Registration Form. Also activate the Promotions add-on.

[2018-07-06 20:51] mnelson4 commented on #509
the PR was merged into master

[2018-07-06 20:51] #509 closed

[2018-07-09 15:33] joshfeck opened #570 "Avoid fatal errors on WP 4.5 & 4.6 sites due to usage of `get_user_locale()`"
Currently the minimum required WordPress version is 4.5.

I18nRegistry.php uses `get_user_locale()`. `get_user_locale()` was added in WP 4.7.

`EEH_DTT_Helper` has a shim for this.

[2018-07-09 17:40] joshfeck commented on #570
I guess this is a dupe of #508

[2018-07-09 17:40] #570 closed

[2018-07-09 17:41] joshfeck commented on #508
I tested this locally on a site with WP 4.5 and this branch resolves the issue for me.

[2018-07-09 18:03] joshfeck commented on #562
Hi,

It sounds like you need to go in to edit the event, then check the checkbox next to “Address Information”, located in the Questions for Primary Registrant box on the side of the event editor page.

Here’s a screenshot that shows that option:

![screen_shot_2018-07-04_at_1 38 37_pm](https://user-images.githubusercontent.com/891156/42467781-e195929e-8380-11e8-8563-7cfc9f6802c9.png)

[2018-07-09 18:03] #562 closed

[2018-07-10 09:49] 5Hemant opened #573 "Reset Database after reverting "soldout""
I have an issue with soldout sessions. I have manually deleted the tickets that has been reserved once the session is cancelled in the process of registration. But the status is still "Sold out". But the strange thing is, once i go to the event from backend the status gets chnaged to upcoming because this session was cancelled in the process of registration. After going through backend only the st

[2018-07-10 15:55] joshfeck opened #574 "Improve rewrite slug escaping"
Originally reported here:
https://eventespresso.com/topic/warning-message-at-the-top-of-the-menu/

Steps to replicate the issue:
- Activate WP_DEBUG
- Switch Site Language to Français
- Refresh permalinks
- View a single post (of any post type), where you'll see PHP warnings like these:

[code]

I did some troubleshooting and tracked this down to the translation of the `event-type` text string, wh

[2018-07-10 16:31] joshfeck opened #575 "Improve sanitizing of Event Slug option"
Found while troubleshooting the issue that led to #574. It appears that instead of stripping accents from the Event slug option field, it's trying to convert them. e.g. the following screenshots:

![user input](https://user-images.githubusercontent.com/891156/42523803-ce10d2c6-843c-11e8-97d4-69a5e1a7f320.png)
_user input_

![broken URL after saving](https://user-images.githubusercontent.com/891156

[2018-07-11 22:03] sethshoultes opened #577 "MER reg form only displays Primary Registrant Question Groups from first Event"
See Codebase ticket for full details:
https://events.codebasehq.com/projects/event-espresso/tickets/10377

setup two events that each have a separate set of custom questions asked for the primary registrant
ie:

Event A : Primary Registrant Q Groups = Personal Info + Diet Requirements
Event B : Primary Registrant Q Groups = Personal Info + Medical Information
add one ticket from each to the cart,

[2018-07-12 00:02] sethshoultes commented on #532
@knazart what's the status of this?

[2018-07-12 08:42] knazart commented on #532
Closing this. No work regarding this issue was done on EE core. This Issue was connected (in zenhub) to the PR in the ES repo.

[2018-07-12 08:42] #532 closed

[2018-07-13 08:16] #508 closed

[2018-07-13 15:50] lorenzocaum opened #579 "x_currency_code and Authorize.net AIM"
In the Authorize.net AIM payment gateway, I saw a few currencies like these:

AUD, USD, CAD, EUR, GBP, or NZD.

However, when testing, I don't see the x_currency_code parameter in use in the logs but I do see others: https://cl.ly/3P2T2M233Q0q

From this doc (https://www.authorize.net/content/dam/authorize/documents/AIM_guide.pdf), you can use x_currency_code to accept payments in another currency

[2018-07-13 16:48] sethshoultes commented on #579
@knazart or @mnelson4 thoughts on this issue?

[2018-07-13 16:59] mnelson4 commented on #579
yeah good point @lorenzocaum. I just checked the code and we're definetely not sending the currency code to AIM, or Authnet Accept actually. I think we've gotten by because most people set the same currency on their Authorize.net account as what's in EE. But if someone set that incorrectly, it would really stink if they're getting paid in the wrong currency!
So ya, I think we should address this,

[2018-07-13 17:15] lorenzocaum commented on #579
That scenario is a possibility but I think the occurrence would be low as compared to most event organizers that expect the currency to be consistent with the selected country by default.

Using the currency that is linked to the base of operations through the general settings page would likely be the best choice for most event organizers.

@Pebblo Could you share a recommendation here for how we

[2018-07-15 12:10] sethshoultes opened #580 "Auto-populate a Registration Question with Answers from Another Question"
Would it be possible to have registration questions linked in a way that the available options are populated from another question?

An example of this would be a registration form for sporting leagues, where a question on the registration form is "Team Name," which is previously populated with a list of known team names, then below that is a field to add your team name (if it's not listed). By ad

[2018-07-16 10:58] knazart commented on #579
Yeah, not sending a currency in this situation is a no-no. But in the DOCs the `x_currency_code` parameter is marked as optional and that makes me remember that some gateways we encountered along the way, in fact, didn't allow to override/change the default (set in the merchant account) currency when creating a transaction through the API. I am not sure that this is the case here, but there is a p

[2018-07-16 11:58] lorenzocaum commented on #579
@sethshoultes could you triage this please? It is a blocker for someone using ES. Thanks

[2018-07-16 13:23] sethshoultes commented on #579
Ya, it's already in the 'Next' pipeline

[2018-07-16 21:45] joshfeck commented on #493
Possibly related codebase ticket:
https://events.codebasehq.com/projects/event-espresso/tickets/10435

I took a quick glance at the comments in 10435 and it seems this issue is resolved if updating from EE4.9.x to newer 4.9.x. If you're updating from EE3 and it's migrating data to 4.1 the same "WordPress database error: [Index column size too large. The maximum column size is 767 bytes.]" error oc

[2018-07-17 04:26] joshfeck opened #584 "Filters get applied to first event post only when event post is listed twice on the same page"
**Describe the bug**

Additional content added via filters on `the_content` is not added after the first time an event is listed on a page using the `[ESPRESSO_EVENTS]` shortcode.

https://eventespresso.com/topic/book-now-button-on-event-missing/

**To Reproduce**

Post content filters should be applied to all posts.
**Example URL**

https://ee4m.eventespresso.com/two-event-category-lists/

Note b

[2018-07-17 16:05] lorenzocaum opened #585 "INR currency for India and PayPal Express"
If you update your currency to India and then enable PayPal Express, then you'll see this message:

`This payment method does not support the currency set on your site (INR). Please activate a different payment method or change your site's country and associated currency.`

- You can pick up a merchant account in India with PayPal now. See this screen: https://www.paypal.com/in/webapps/mpp/account

[2018-07-17 17:43] mnelson4 opened #586 "EE_Error::add_error() notices appear in the wrong spot"
## Issue Overview

When using `EE_Error::add_error()` (and possibly other notices setup via `EE_Error`) they always appear ABOVE the page's title, where @knazart and I think below the title would be more natural (see https://github.com/eventespresso/eea-vanco-pm/pull/3#issuecomment-405291003, especially https://monosnap.com/file/0BUkSUD49KDavuDjmzFQ1NwAOXNePX#)

## Bug report or feature request?

[2018-07-17 17:45] mnelson4 commented on #586
This is primarily Brent's code, I think, so he'll probably have some input on this (especially on whether this is a good proposed change, and whether it would be easy. My spidey senses say it would be easy.)

[2018-07-18 16:43] mnelson4 opened #589 "Javascript error on pages with an error message and persistent notice"
## Issue Overview

If there is a page where both `EE_Error::add_error()` and `EE_Error::add_persistent_admin_notice()` are used, there will be a javascript error saying `ReferenceError: ee_settings is not defined` pointing to line  `EE_Error.js:30`. This javascript error can cause other javascript (like media selector) to not work.

## Bug report or feature request?

* [x] Bug
* [ ] Feature
* [ ]

[2018-07-18 16:48] mnelson4 commented on #589
this might be related to https://github.com/eventespresso/event-espresso-core/issues/589.
Because of this bug, we chose to circumvent using `EE_Error::add_error()` on https://github.com/eventespresso/eea-vanco-pm/pull/3

[2018-07-19 09:40] knazart commented on #579
So I guess this is the gateway I mentioned above, the one that didn't allow to change the currency through the API to anything other then set as default in the account.

But adding the currency parameter should help anyways, because of this:

That should help prevent incorrect currency payments and allow to debug the issue.

Another maybe possible idea is to add some notification on settings form

[2018-07-19 13:02] nickheyvaert opened #594 "Customizing the message system"
Hi,

I’m currently trying to send an email using the Event Espresso system. I have written the code below:

[code]

It seems not to work though, what am I doing wrong?

Messages won't generate and output an error saying there is "no generation data found".

I want to send e-mails with Event Espresso so they become available to be accessed from the messages overview.

[2018-07-19 16:51] joshfeck opened #595 ""You need to select a ticket quantity" notice only displays for logged in users"
Reported here:
https://eventespresso.com/topic/error-message-when-zero-0-tickets-selected-not-displaying/
and confirmed locally

**Describe the bug**

No error message is displayed if you're logged out of the site and do not select a ticket quantity and just click the submit the button below the ticket selector.
**To Reproduce**

**Expected behavior**

There should be an error message, and there w

[2018-07-19 17:00] #589 closed

[2018-07-19 18:13] nerrad commented on #594
Are you just wanting to hardcode the content of the message and not have it parse shortcodes in the content using data related to the message?

[2018-07-19 18:33] nickheyvaert commented on #594
Indeed, I just want to code the content. If I need to pass data to it, I will get it using a hook. It just seems that my code misses a piece for the message to be generated correctly.

[2018-07-19 19:00] joshfeck commented on #360
Another report:

https://eventespresso.com/topic/fatal-error-after-using-upcoming-event-widget/

[2018-07-19 19:15] nerrad commented on #594
We haven't really done that use-case so what I'm about to suggest may or may not work for you.  Since you are just hard-coding content, it sounds like the "state" of the `Message` is `EEM_Message::status_idle` (which essentially means its ready for sending).  So you'd likely want to do something like this:

[code]

[2018-07-19 20:04] nickheyvaert commented on #594
Sadly, that doesn't work. The error message is the following:

An error has occurred:
No message was sent because of problems with sending. Either all the messages you selected were not a sendable message, they were ALREADY sent on a different scheduled task, or there was an error. If there was an error, you can look at the messages in the message activity list table for any error messages.
EED_Me

[2018-07-19 20:38] nickheyvaert commented on #594
I have managed to make it work, it was simply a missing subject when calling the wp_mail.
All I needed to do was adding `$message->set_subject( 'test' );` to my code.

Thanks!

[2018-07-19 20:50] nerrad commented on #594
ahh yah, that would be it.  Glad you got something working for your needs.

[2018-07-19 20:50] #594 closed

[2018-07-20 17:11] mnelson4 commented on #360
This is more Brent's domain, but if you really want to offload stuff from him, I can attempt it.

I'm torn between just always including `template_tags.php` and using a filter only load the file when a known page builder needs it.
Reasons to always include `template_tags.php`:
* loading the template tags file takes about 1 millisecond, and the conditional to determine if we should include it also

[2018-07-20 17:58] mnelson4 commented on #360
Yeah using functions meant for the front-end from the back-end does seem problematic... yes, things might blow up further down the road. In that particular example, `wp_reset_query()` and `wp_reset_postdata` first check if `global $wp_query` is defined. I'd think the page builders would define it if it's needed, and even if they don't, those particular functions shouldn't blow up.

So I think this

[2018-07-23 12:04] sethshoultes commented on #584
@mnelson4 is this one you can fix?

[2018-07-23 12:14] sethshoultes commented on #595
@mnelson4 can you fix this? If not, please pass to @tn3rb .

[2018-07-23 12:40] sethshoultes commented on #586
@tn3rb do you have any feedback on this change?

@mnelson4 is it something you or @knazart can tackle?

[2018-07-23 16:48] mnelson4 commented on #584
I can certainly help investigate, but it is outside my usual domain

[2018-07-23 16:52] mnelson4 commented on #586
I can look into it; it might be an easy fix. (Brent would probably be better, but I understand we're trying to free him up)

[2018-07-23 20:22] mnelson4 commented on #360
PR merged to master that addresses this

[2018-07-23 20:22] #360 closed

[2018-07-25 18:33] joshfeck commented on #595
@mnelson4 I'm not sure if you've looked into this, but one other thing I found while investigating this is it appears to be something going awry related to part of the `getStoredNotices()` method in EE_Error.core.php. I did a `var_dump($session_data);` inside that method's second conditional and it always returns an empty array when I'm logged out of the site and submit a ticket selector form with

[2018-07-26 04:42] mnelson4 commented on #527
this issue was addressedby https://github.com/eventespresso/event-espresso-core/pull/536

[2018-07-26 04:42] #527 closed

[2018-07-26 04:47] mnelson4 commented on #278
in the REST API, on pull request https://github.com/eventespresso/event-espresso-core/pull/536, we made use of the postmeta `_previous_event_status` to determine if the sold out event was PREVIOUSLY public. IMO we should probably do something similar on the frontend

[2018-07-27 18:19] joshfeck opened #604 "Avoid undefined index when adding registration via the admin"
Steps to replicate this issue:
Activate `WP_DEBUG` mode
Go to the WP admin and add a new registration to the event, uncheck the Send Related Messages? option so no messages get triggered, submit the registration
Check the PHP error log and you'll see a PHP notice like this one:

[code]

[2018-07-27 18:34] joshfeck opened #605 "Make license key check request more resilient"
For the backstory see this forum topic:
https://eventespresso.com/topic/api-timeout-calls-crashing-admin-on-high-traffic-site/

and this slack chat starting here:
https://eventespresso.slack.com/archives/C080L8G68/p1532457321000038

(Note to future readers: the slack chat may not be available due to free account constraints)
So the tldr; version of that chat is we think there may be another plugin

[2018-07-27 19:41] sethshoultes commented on #605
@nerrad is this something you can fix before you go on vacation? Or maybe @knazart can help?

[2018-07-27 20:37] joshfeck commented on #595
Another clue is everything works as expected if MER is activated. So you can be logged out of the site, hit the ticket selector submit with 0 ticket selections, and the error notice **does** display.

From what I can tell, the session vars aren't getting saved to the db in the above reported scenario because of the checks at the beginning of the _save_session_to_db method. Note also the comment th

[2018-07-27 21:16] joshfeck commented on #595
Brent mentioned in chat that "we could maybe add some logic to the session to also check for notices when saving since I don't think there's many other (if any) cases where notices get saved without a cart -- so it wouldn't be increasing the usage of the session much -- otherwise those notices have the potential to go to someone else"

[2018-07-27 23:31] nerrad commented on #605
@sethshoultes I doubt I'm going to get to this before I go on vacation.  Nazar may be able to look at it.  However, this isn't super critical, it's been this way for a while and various logs I looked at indicated that not a lot of site seem impacted.  So while I do agree its something that _should_ be done I think its safe to wait until I get back and in the meantime @joshfeck has a workaround for

[2018-07-30 14:02] joshfeck opened #609 "Fix the 1-click upgrade from Decaf"
Many users are reporting they've purchased an Event Espresso support license, entered a support key, and are not getting a prompt to upgrade to Caffeinated. So I've been advising them to manually do the upgrade.

I've replicated this issue on my test site at josh.eventespresso.com by deactivating EE4 regular, installing and activating EE4 decaf, then saving the General Settings page with the corre

[2018-07-30 14:11] lorenzocaum commented on #609
I've seen this issue recently. Here is an example:

https://secure.helpscout.net/conversation/604054489/540558

[2018-07-30 15:57] sethshoultes commented on #609
@knazart can you please look into this? If you need assistance, please ping @mnelson4.

[2018-07-30 19:41] mnelson4 commented on #494
@joshfeck where does the fatal error happen? I've disabled sessions by adding `ini_set('session.use_cookies', '0');` to my localhost's `wp-config.php`, and I can't register for an event, but have yet to see a fatal error. Or got any tips on how to reproduce the issue?

[2018-07-30 20:54] garthkoyle opened #613 "More gracefully degrade the PDF Icon on the View Full Order Confirmation Receipt button in the Checkout"
Josh said we can probably degrade this more gracefully

Reported here: https://secure.helpscout.net/conversation/630966403/552862?folderId=284418

[2018-07-30 23:46] joshfeck commented on #494
One way is get a free Pantheon hosting account (dev sites are free) and don't install their plugin that adds support for PHP sessions.

This is the error I get if I deactivate that plugin:

```Warning: session_start(): user session functions not defined in /code/wp-content/plugins/event-espresso-core-reg/core/EE_Session.core.php on line 567 ```

```Fatal error: session_start(): Failed to initializ

[2018-07-31 17:30] mnelson4 commented on #507
related PR merged in

[2018-07-31 17:30] #507 closed

[2018-08-01 16:53] mnelson4 commented on #493
Addressed by related PR

[2018-08-01 16:53] #493 closed

[2018-08-02 04:08] mnelson4 commented on #494
Ok thanks @joshfeck. Ya I'm just reproducing the fatal error on Pantheon's server.
What plugins do you know of that only produce a warning though? I actually didn't know any offhand that even used the session (that I could think of anyway), but found the "Wise Chat" did, but it also had a fatal error on Pantheon.
If you know of any that would probably help me to identify how to fix this

[2018-08-02 05:06] mnelson4 commented on #494
aha, I've isolated the problem. Pull request imminent. (Although if you do know of any other plugins that don't have the fatal, just a warning, that would still be useful for comparison)

[2018-08-02 05:15] mnelson4 commented on #494
links useful for reference:
https://www.drupal.org/project/civicrm_starterkit/issues/1978796
https://phppot.com/php/php-session-configuration/
https://wordpress.org/plugins/wp-native-php-sessions/

[2018-08-02 12:59] joshfeck commented on #494
It's noted [here](https://pantheon.io/docs/wordpress-sessions/) that WooCommerce uses PHP sessions and requires the Native PHP sessions plugin to work properly on Pantheon. If you deactivate the Native PHP sessions while WooCommerce is activated, no fatal errors though.

[2018-08-02 17:03] mnelson4 commented on #494
aha, thanks. Yeah I first thought of Woocommerce but didn't see the function `session_start()` called anywhere. I took another look once I knew Pantheon specifically said they used it, and I see they *now* use a custom PHP-session-like class, `WC_Session_Handler`, which actually stores their session data in the database table `wp_woocommerce_session`.
So it seems they got tired of this error comin

[2018-08-02 18:11] joshfeck commented on #505
This continues to be a problem:

https://eventespresso.com/topic/collection-fatal-error-when-updating-ee-4/

[2018-08-02 19:09] mnelson4 opened #618 "URL validation strategy sometimes fails on valid URLs"
## Issue Overview

If you add a URL field to an EE registration form, and then provide `https://www.njadvancemedia.com/` as the URL, despite that being a valid URL, it fails form validation. That's because it's using cloudflare and there's a 403 Access Forbidden response.

We've had other problems with checking URLs are valid and work too (especially with payment method button URLs on HTTPS).

It

[2018-08-02 19:40] mnelson4 commented on #392
PR is off for review

[2018-08-02 23:10] tn3rb commented on #505
Ya the purpose of the Collection is to maintain a bunch of unique objects without duplicates which is why we perform a `contains()` check prior to adding. It is intended for object identifiers to also be unique so that either can be used to determine object existence within the Collection. There should probably be an additional `has()` check performed within `Collection ::add()` in the same line o

[2018-08-03 05:01] #585 closed

[2018-08-03 17:45] mnelson4 commented on #579
merged the PR into master.
For the record, folks can't use multiple currencies with Authnet. All we could do is have an error if their Authnet account's currency doesn't match the currency of EE

[2018-08-03 20:04] mnelson4 commented on #392
related pull request was merged in

[2018-08-03 20:04] #392 closed

[2018-08-03 23:36] #505 closed

[2018-08-06 19:27] joshfeck opened #624 "filter_var FILTER_VALIDATE_URL isn't always reliable"
in \event-espresso-core-reg\core\services\assets\Registry.php the registerManifestFile() method does a validation check with:
[code]

One user tried to set up a dev server where the domain includes underscores in its name and the error got triggered.

For context see:
https://d-mueller.de/blog/why-url-validation-with-filter_var-might-not-be-a-good-idea/

and

https://eventespresso.com/topic/regist

[2018-08-06 19:40] tn3rb commented on #624
ya I think when we started using `filter_var($url, FILTER_VALIDATE_URL)` multibyte characters were not allowed in URLs but of course are now acceptable so we should purge all uses of this method and replace with a service that can better accommodate modern URLs.

[2018-08-06 20:41] sethshoultes commented on #624
@mnelson4 is this one you can take on?

[2018-08-06 22:25] mnelson4 commented on #624
I can, but if anyone has any suggestions on where to start I'm open to hear them. (Otherwise I'm just going to start Googling)

[2018-08-07 15:24] Daronspence opened #626 "Encoding Bug for Email From Address"
**Describe the bug**

When an email is sent, the apostrophe in the [CO_EMAIL] from address is rendered incorrectly in Gmail.

Screenshot
https://cl.ly/002F1646173c

https://cl.ly/2o28041W3P08

**To Reproduce**
Set the organization name to have an apostrophe eg: Bob's Candy

**Expected behavior**
Emails should display a correctly formatted from address label

**Screenshots**

See above

**Environme

[2018-08-07 16:10] nerrad commented on #626
@sethshoultes this looks like an encoding issue and probably should receive an initial look by @mnelson4

[2018-08-07 16:44] mnelson4 commented on #626
yeah, we shouldn't be converting "from" address to HTML entities...

[2018-08-07 16:47] Pebblo commented on #626
Previous internal ticket ref: https://events.codebasehq.com/projects/event-espresso/tickets/11397

[2018-08-07 17:00] Pebblo commented on #626
@Daronspence, are you using a plugin to send your emails via SMTP, or any plugin to filter the from name on the emails?

I can't reproduce this on my test sites, e.g - http://take.ms/2nK2b

I found the site in question and the site title is also "Steve's Floral" so if you set Org name not to have an apostrophe, but leave the site title as is, do you get the same issue?

[2018-08-07 17:40] mnelson4 commented on #626
Hmm I can't reproduce it yet... It would be helpful to see what @Daronspence has in WP dashboard -> Settings General, and in WP dashboard -> Event Espresso -> General Settings

[2018-08-07 17:52] Daronspence commented on #626
Well this is embarrassing. I think it may be related to @Pebblo suggestion about the email service. We're using Sendgrid on this site. I just came on for this project so I overlooked that portion.

Sending a test email from the Sendgrid settings screen returns an email with the same formatting error. Here is what I see when removing the sender name and letting it fall back.

https://cl.ly/0x1y2n30

[2018-08-07 18:13] mnelson4 commented on #626
Aha, good find @Daronspence and @Pebblo. Ya this isn't the first time we've had an issue with SendGrid...
Ya I think the problem is in the SendGrid plugin... which I actually see you're on top of! https://github.com/sendgrid/wordpress/issues/79
No worries.

[2018-08-07 18:16] #626 closed

[2018-08-07 21:12] tn3rb commented on #485
from chat:

*BUNDLE SEPARATION*

*FRONTEND*

- all-blocks.js/css
- {specific-route}.js/css i.e. may include:
    - EE CPT routes (events, event, venue, etc)
    - checkout
    - thank you page
    - IPN/payments route

*ADMIN*

- all-post-type-blocks.js/css (loaded for every gb editor instance for post types supporting gb)
- {post_type}-blocks.js/css (post type specific blocks)
- {admin-route}.js/

[2018-08-07 23:31] mnelson4 commented on #575
the problem is happening inside WordPress' `sanitize_title_with_dashes()` function...

[2018-08-07 23:47] mnelson4 commented on #575
well, that's where it's becoming crazy-looking letters. But I think that's intended. I think the problem might be happening somewhere else...

[2018-08-07 23:48] mnelson4 commented on #575
however, I see when I save a post with accents in its name, it just removes the accents...

[2018-08-07 23:57] mnelson4 commented on #575
kk I studied how WP core does it, and have a PR...

[2018-08-08 05:27] mnelson4 commented on #575
hmmm, although there's the more general problem: what to do with unicode in the slug. I see CPTs with unicode slugs created with the CPT UI plugin work fine though...

[2018-08-08 10:59] Pebblo opened #630 "Promotions end point throwing a fatal error"
Reported here: https://eventespresso.com/topic/getting-internal-server-error-500-when-querying-promotions/

**Describe the bug**
If you navigate to the rest api promotions endpoint:

/wp-json/ee/v4.8.36/promotions

You'll get a fatal error:

[code]
(Note you'll need to be authenticated)

**Additional context**
This is an issue with promotions, however the REST API is in core so I think this should

[2018-08-08 13:05] nerrad opened #631 "Stop any travis builds for docs only changes"
I stumbled across a [travis configuration](https://github.com/facebook/react/pull/2000/commits/233af7e2dff4c79619f5cda6943388ff9e21581b) that cancels builds when a pull request only has documentation changes.  I think this will be useful for us to implement so we don't have unnecessary builds happening.  Doesn't have to be implemented right away but should be fairly trivial to implement (under 30

[2018-08-08 14:11] maverstef opened #632 "Question"
Hi  i register the attendee through the api endpoint (/v4.8.36/registrations with the following keys
{
“EVT_ID”:9986,
“ATT_ID”:10001,
“TXN_ID”:9,
“TKT_ID”:3,
“STS_ID”:”RAP”,
“REG_url_link”:”1-aaaf6d26ac8e67effe9d07e427caf804″,
“REG_final_price”: 20.00,
“REG_paid”: 20.00
}
)

..on the registration panel the registration is approved but the mail (Ticket Notice)  is not triggered.. is there any idea

[2018-08-08 16:38] mnelson4 commented on #618
PR merged

[2018-08-08 16:38] #618 closed

[2018-08-08 16:49] mnelson4 commented on #575
aha, I see more of what's going on. When we save the EE event CPT slug, it gets percent-encoded, which seems to be the thing to do, according to this stack overflow question: https://stackoverflow.com/a/2742985/1493883.
Plus, when someone goes to visit a URL with those funny-looking percent encoded characters, the browser automatically converts them to the unicode characters so it looks good... bu

[2018-08-08 18:36] tn3rb commented on #575
Option 3 should be the right answer, but if it is not working due to issues in WP core, then we may need to temporarily drop down to option 2 and just do nothing for the time being.
If and/or when the issue is resolved in WP core, then we can return to percent encoding the URLs. We may want to also investigate the issue in WP core to help find a solution.

[2018-08-08 18:45] tn3rb commented on #575
*IF* we can identify the problem in core more closely, *AND* there appears to be a clear fix, then we can pursue that, but I'm guessing this will be a quagmire of back compatibility and security issues, so I also wouldn't invest too much time into pursuing a fix

[2018-08-08 19:42] mnelson4 commented on #575
for reference, WooCommerce calls `wc_sanitize_permalink()` cleans their permalinks (although doesn't verify their valid, if you enter a plethora of special characters, their URLs don't work anymore), it just does `$wpdn->strip_vainlid_text_for_column()`, `esc_url_raw()` and `str_replace('http://','',$value)`, and `untrailingslashit()`.
But then they also do `wp_unslash()` then `wp_clean()` (which

[2018-08-09 12:43] sethshoultes commented on #632
@mnelson4 any ideas on this question?

[2018-08-09 15:08] joshfeck commented on #630
Some additional info in case it's helpful to know:

If you send a request for the promotion via the line item you get a similar error:
e.g.
/wp-json/ee/v4.8.36/transactions/2037/line_items

error logged is:
[code]

[2018-08-09 16:54] mnelson4 commented on #632
Registrations created through the REST API don't cause messages to automatically be sent. You're not the first person to ask about this @maverstef.
The easiest way to achieve this, besides clamouring for us to add the feature, is to use the code snippet from https://github.com/eventespresso/event-espresso-core/issues/254#issuecomment-340730103, which creates a custom endpoint that will trigger sen

[2018-08-09 16:54] #632 closed

[2018-08-09 17:27] mnelson4 commented on #630
thanks guys, I see this only comes up if there is a null date...

[2018-08-09 17:56] tn3rb opened #636 "Add Data Model Foreign Keys to REST Responses"
Currently, the REST API JSON responses do not include any database foreign keys and all relations have to be explored via the related fields (`_links`).
This can increase the amount of querying that needs to be performed and/or increase the complexity of queries because one has to manually indicate that they want the foreign keys included.

This feature request is to have ALL foreign keys for dire

[2018-08-09 18:08] sethshoultes commented on #630
Quick fix?

[2018-08-09 18:16] mnelson4 commented on #630
probably

[2018-08-09 19:26] mnelson4 commented on #636
for the record, the REST API clients could have used `include=...` to include the related models, thus avoiding needing to send another HTTP request. But that's pretty non-standard and we may as well add this anyway.

[2018-08-09 20:26] tn3rb commented on #636
right, that's what I was trying to get across by saying "manually requesting it be included in the response" which I guess I could have clarified by stating the actual mechanism for doing that.

[2018-08-13 14:53] sethshoultes commented on #500
@mnelson4 and @Pebblo does this need to be tested? Are there testing notes?

[2018-08-13 15:39] sethshoultes commented on #494
@mnelson4 What's the status of this issue? I see that the connected pull request is closed.

[2018-08-13 16:32] mnelson4 commented on #575
PR was merged in

[2018-08-13 16:32] #575 closed

[2018-08-13 16:36] mnelson4 commented on #423
PR was merged in

[2018-08-13 16:36] #423 closed

[2018-08-13 16:39] mnelson4 commented on #500
there are testing notes on the PR: https://github.com/eventespresso/event-espresso-core/pull/622. Once the PR is created, basically all discussion continues there. (I just thought we were supposed to keep updating the ticket, which is admittedly a bit silly but that's what I thought we were supposed to do. I'd almost like to have a status for ticket like "has-pull-request" and then we don't need t

[2018-08-13 17:10] mnelson4 commented on #500
PR merged in

[2018-08-13 17:10] #500 closed

[2018-08-13 17:17] mnelson4 commented on #574
PR merged in

[2018-08-13 17:17] #574 closed

[2018-08-13 17:36] mnelson4 commented on #636
PR merged in

[2018-08-13 17:36] #636 closed

[2018-08-13 19:37] #605 closed

[2018-08-13 22:38] mnelson4 commented on #630
this was fixed in EE core (so Tony's suspicions that this was an EE core issue, not a promotions issue, were correct). PR was merged in.

[2018-08-13 22:38] #630 closed

[2018-08-14 04:37] mnelson4 commented on #394
note: `wp_ajax_edit_theme_plugin_file` is what calls the extra asynchronous request to check if a fatal error was added.

[2018-08-14 04:51] mnelson4 commented on #394
note: `wp_ajax_edit_theme_plugin_file` is what calls the extra asynchronous request to check if a fatal error was added.

[2018-08-14 19:05] #579 closed

[2018-08-14 19:14] lorenzocaum commented on #415
I'm seeing a 404 on this file during registration checkout:

[code]

[2018-08-15 14:02] aaron-price commented on #278
I'm having an issue related to this. I'm accessing the events via the REST API, but after an event is sold out, it's no longer available. Trying to GET it directly results in

[code]

[2018-08-15 16:29] mnelson4 commented on #394
What's really odd: when I use `wp_remote_get` as a "loopback" request, it doesn't work. But if I use CURL directly, like on https://stackoverflow.com/questions/5412069/can-i-do-a-curl-request-to-the-same-server, it works fine. So VVV and laragon setups have some setup, combined with something in how wp's `wp_remote_get` works, that's causing the loopback requests to fail...

[2018-08-15 16:45] #609 closed

[2018-08-15 17:07] mnelson4 commented on #394
aha- I think I pinpointed the problem being `Requests_Transport_cURL::stream_headers()`. If I disable that method from being invoked, the loopback request works fine

[2018-08-15 18:58] Pebblo commented on #410
I think the work done in #525 covers the original request in this ticket, however, it doesn't filter the sortable columns based on what the user has access too as Mike suggested.

So @mnelson4 do you still think that is something that should be done or can this be closed?

[2018-08-15 19:14] mnelson4 commented on #394
...well, except somewhere further down the request things blew up still. I haven't managed to get WordPress' built-in file editor to work locally still. I managed to get it to work on a poopy.life server and made a band-aid PR

[2018-08-15 22:48] mnelson4 commented on #410
Hmmm, ya. That is technically still an issue. We shouldn't accept just any user input, we should have a filter that accepts the user's input, which plugin code can use (and validate the user's input), rather than just accepting any input user's submit.

[2018-08-16 14:41] mnelson4 commented on #584
hmm, I'm not reproducing this issue locally...
![screenshot-laragonee test-2018-08-16-07-39-16](https://user-images.githubusercontent.com/1766382/44215539-9f1bdd00-a127-11e8-87f2-71eee64abe1e.png)
But I see it's still happening on ee4m like in Josh's link (thanks!). So I need to see how my config is different

[2018-08-16 14:48] mnelson4 commented on #584
I made my template settings the same, but that didn't reproduce. I'm going to make sure I have all the same add-ons active next, and try the same theme.

[2018-08-16 16:55] mnelson4 commented on #584
hmmm, I've got the same theme, same page template settings, and the same gateways active, (except for all the payment method ones) and am not yet reproducing...

[2018-08-16 17:00] mnelson4 commented on #584
hmmm, @joshfeck if you have any clues as to why this is happening on ee4m but not on my local site, I'm all ears! Otherwise I'll keep investigating...

[2018-08-16 17:27] mnelson4 commented on #584
In slack DM, @joshfeck said it's not a really high priority issue then, considering the difficulty of reproducing and the few reports. If we get more reports, or isolate how to reproduce, we can pick it up again.

[2018-08-16 17:27] mnelson4 commented on #584
@sethshoultes I propose putting this in the "icebox" pipeline until we get another report or more info (@joshfeck suggested that in Slack DM)

[2018-08-16 19:52] joshfeck commented on #415
Opened PR #649

[2018-08-17 04:43] mnelson4 commented on #595
:+1: ya that's exactly what's going on. And that explains why it works with MER (MER must override that behaviour).

man, you guys really laid out the fix for me!

[2018-08-17 11:06] #415 closed

[2018-08-17 20:27] joshfeck commented on #613
I looked into this and I had no trouble loading the PDF Icon going back to IE9. The user that reported this may have had a browser setting set to not allow loading font icons.

[2018-08-17 22:32] mnelson4 opened #653 "Fatal error submitting invisible-recaptcha form after logging out"
## Issue Overview

This error was originally reported on https://github.com/eventespresso/event-espresso-core/pull/650#issuecomment-413717078, where I wasn't quite sure how to reproduce.

To state it here, I get the following fatal error:

[code]

See "Steps to Reproduce"

Not too huge of an issue, because only site users logging in and out will get this. But here's a report, and explanation of ho

[2018-08-17 22:44] tn3rb commented on #653
so basically you're using a TS that was generated when you were logged in,
but then submitting it while logged out, which is expecting a reCAPTCHA token to exist

you can likely achieve the same thing by using multiple tabs like so:

- open a browser tab and log into the admin
- open a second browser tab and go to an event page (should still be logged in)
- in tab 1, log out of the admin
- in tab

[2018-08-18 04:51] mnelson4 opened #654 "Form system labels use the form input's name instead of ID"
## Issue Overview

Form system labels's `for` attribute uses the input's name, not its ID.

I was playing with the HTML Code Sniffer for Accessibility (see https://squizlabs.github.io/HTML_CodeSniffer/), and saw a warning saying our reg form inputs don't have labels. I thought "sure they do", but then I noticed clicking on the labels didn't select the input. So something was wrong. It's because th

[2018-08-20 10:20] Pebblo opened #655 "ESPRESSO_TICKET_SELECTOR throws an exception for all users if the event ID doesn't exist."
**Describe the bug**
If you add `[ESPRESSO_TICKET_SELECTOR event_id=999999]` to a page and view said page both logged in and out of the site.

Both outputs show the exception with various details, if you have WP_Debug enabled you'll get a 'pretty' output but shouldn't this exception only be thrown to admins, or at least editors rather than all users?

**Expected behavior**
iirc the exception shoul

[2018-08-20 13:13] joshfeck commented on #655
Previously reported in Codebase:

https://events.codebasehq.com/projects/event-espresso/tickets/10883

where it was suggested to replace the exception with the following:

1) If the user is logged in and has the edit_pages capability they should see a friendly error message that says something to the effect of "Oops! The [ESPRESSO_TICKET_SELECTOR] shortcode on this page has an event ID that's not

[2018-08-20 13:53] Pebblo commented on #655
I realized, the exception was thrown when WP_Debug was true, however, setting it to false throws a fatal error:

[code]

[2018-08-20 17:53] tn3rb opened #656 "Don't use current time in unit tests OR account for dates being bumped into next day due to UTC offsets, timezone transitions, etc"
One of the JS unit tests in `assets/src/components/form/select/test/build-options.js` does not account for UTC offset correctly because running tests late in the day in Pacific time results in dates being generated for the next day in UTC. The test assumes that the generated datetimes start and end on the same day, but because the unit tests on Travis run in UTC, the end date for the test gets bum

[2018-08-20 18:49] #595 closed

[2018-08-20 19:32] sethshoultes commented on #656
@tn3rb is this something that should be resolved right away or added to the backlog? It sounds like it needs to be fixed sooner rather than later. Also, are you asking me to make a decision on which option to go with? If so, it sounds like we should go with option one.

[2018-08-20 19:58] tn3rb commented on #656
I was only passing to you to triage for Darren, since it is his code that is affected. I didn't want to assign to him directly without it going through you first or at least having you be aware of it. It should happen sooner rather than later but it's also not critical since it only affects unit tests. I can simply run tests again in the morning when this happens so it's really just a PITA as oppo

[2018-08-20 19:58] sethshoultes opened #657 "Error when saving Select option with very, very, long option value"
@sethshoultes commented on [Mon Aug 20 2018](https://github.com/eventespresso/eventsmart.com-website/issues/107)

[code]

While testing a ticket (https://github.com/eventespresso/event-espresso-core/pull/542) for the August 2018 update, I was able to produce the above error by adding a really long option to a select type question, here:
http://sethtest15.makeeventsnotwar.com/wp-admin/admin.php?pag

[2018-08-20 20:03] sethshoultes commented on #657
@joshfeck what are your thoughts? Should we continue to cap the question options at 255 characters or allow for more than 255 characters?

[2018-08-20 21:00] joshfeck commented on #657
I've yet to see this cause an issue reported in the wild. Usually the long text ends up in the description field (which is what the other PR with the CSS fix was about). The description field is MEDIUMTEXT, which allows for up to, what, a novel? So if someone needs more than 255 characters to describe a question option, they can use the description field.

I think if we were to allow more than 255

[2018-08-20 23:26] mnelson4 commented on #657
Yeah crazy long option values are bad for the UI (because those option values get shown in emails, registration CSV reports, admin, etc), so it would probably be better to just have some validation to prevent having really long option values.
Did a customer have this issue @sethshoultes ?

[2018-08-20 23:40] sethshoultes commented on #657
Thanks, @joshfeck.

@mnelson4 no customers have reported this, I just noticed while testing another ticket.

[2018-08-22 04:59] #251 closed

[2018-08-22 15:06] sethshoultes commented on #251
@tn3rb how long will it take to add that filter?

[2018-08-22 16:17] joshfeck opened #658 "Remove database field names appended to Registrations CSV report column headings"
The Registrations CSV reports have column headings that include the database field name (wrapped in square brackets). These seem to be unneeded and customers have asked about how to remove them.

I've put together a little snippet that removes them on-the-fly via a filter hook:

https://gist.github.com/joshfeck/a4d95889cf4b9bfbe8d09e9eb9d8f590

It'd be cool if those were not included by default, b

[2018-08-22 16:27] sethshoultes commented on #658
I don't remember seeing the database field names in the CSV before. Is that something that was added recently?

@mnelson4 this something you can fix really quick?

[2018-08-22 17:31] mnelson4 commented on #658
Ya that should be a pretty quick fix

[2018-08-23 00:42] #316 closed

[2018-08-23 18:02] joshfeck opened #659 "Add UI to add new registrations via the EE Contacts admin"
This is a feature request to add a “add new registration” feature to the EE Contact record page.

We could reuse the attendee mover add-on's select event UI, then progress on to the regular EE admin SPCO steps.
The possible workflow steps would be: (edited)

1) a) From a single contact record admin page click an "Add new registration"
or b) from the contact list table click a new icon that links t

[2018-08-24 10:20] knazart opened #661 "Support License Key field is displayed on sub-sites"
The Support License Key field under General >> Organization settings is being displayed on sub-sites on a network install, whereas it should be hidden there by default and displayed only on the main site. Unless there was a decision for that to work otherwise ?

[2018-08-24 12:29] knazart commented on #661
What I found is that there was some code refactoring done between core versions 4.9.63.rc.004 and 4.9.67 where the "Your Event Espresso Support License Key" settings area was moved from the ` event-espresso-core/admin_pages/general_settings/templates/your_organization_settings.template.php
` into the ` event-espresso-core/admin_pages/general_settings/OrganizationSettings.php
`  and it looks like t

[2018-08-24 17:05] mnelson4 opened #662 "non-ascii characters sent to authnet produce 270 error and HTML should be removed"
## Issue Overview

If your event title, ticket name or ticket description have non-ascii characters (eg emojis, Chinese characters, accented characters, or curly quotes) in it, you'll get an error

while paying for the event with Authorize.net AIM.

On https://eventespresso.com/topic/authorize-net-payment-declines-line-item-1-is-invalid-reason-code-270/#post-276437 PJ Doland reported

ie, so we sh

[2018-08-24 17:46] mnelson4 commented on #662
Ah, we actually previously had a very similar issue: https://events.codebasehq.com/projects/event-espresso/tickets/10298. So we actually fixed it for when emojis were used, but it seems curly quotes were still a problem.

[2018-08-24 18:06] mnelson4 commented on #662
I hope it's ok, in the process of investigating this issue, I create a quickfix in a PR

[2018-08-24 18:39] mnelson4 opened #664 "Fix unnecessary repetition of event name in line items sent to AIM"
**Describe the bug**

On https://eventespresso.com/topic/authorize-net-payment-declines-line-item-1-is-invalid-reason-code-270/#post-276437, Pj suggested

Specifically, Authorize.net is receiving line item descriptions like the following:

Notice that the event's name, "15th Anniversary Party" occurs twice. That's because it's being added by `GatewayDataFormatter::formatOrderDescription()` (`Gatew

[2018-08-24 19:00] sethshoultes commented on #664
Oh, I saw a pull request (#662) and thought it was related to, so moved this to the next pile.

[2018-08-24 19:46] mnelson4 commented on #664
anyways, this needs a bit more analysis to assess where all the pieces are coming from, and where, if anywhere, we ought to change thins. Here is a sample screenshot of the data that arrives in Authnet:https://drive.google.com/a/eventespresso.com/file/d/1JlrBTP_JmSZHC_JpWUJwKVq0SnQ2aaXh/view?usp=drivesdk, although I'd like to make a clearer example

[2018-08-25 22:38] cenomla opened #665 "Register Question Type"
I am writing an add-on for event espresso and I need to extend the event registration forms with a custom form input type. I have created a new form input that extends EE_Form_Input_Base and the display, normalization, etc... strategies for it. However I could not find documentation on how to register a new question type with EE core. Does anyone know if this is supported and if so how to do it?

[2018-08-25 23:40] sethshoultes commented on #665
@tn3rb or @nerrad any suggestions?

[2018-08-26 12:38] lorenzocaum opened #666 "Åland Islands shows as &#197;land Islands in countries dropdown"
This was seen while testing Event Smart. I don't think its specific to a recent version.

**Summary**
In the countries dropdown menu, Åland Islands has some characters at the beginning which I understand is to get that "Å" character:

https://cl.ly/e43c7e353b5f

**Steps to reproduce**
Go to a website with a current version of Event Espresso. Then go to General Settings --> Countries.

[2018-08-26 16:27] tn3rb commented on #665
Hi @cenomla,

Thanks for your interest in developing an add-on for Event Espresso.

All of the question properties such as the question type are filtered in `EEM_Question::__construct()` and includes the following:

- `FHEE__EEM_Question__construct__allowed_question_types`
- `FHEE__EEM_Question__construct__question_type_categories`
- `FHEE__EEM_Question___construct__question_types_with_max_length`

[2018-08-29 11:45] sethshoultes commented on #661
This was merged with the pull https://github.com/eventespresso/eventsmart.com-website/pull/126

[2018-08-29 14:05] knazart commented on #661
Right, but this is related to the core and needs to be fixed here. The fix applied on ES is just a workaround.

[2018-08-29 16:48] joshfeck opened #670 "Remove timing component of bot trap"
We see quite a few support requests where they get a false positive "server timing error", like this one:
![image](https://user-images.githubusercontent.com/891156/44802314-5c2b2200-ab89-11e8-9193-ed34bd5a9801.png)

Since there could be reasons why a ticket selector form could be over 1 hour old (interruptions, caching, or even someone really taking their time to mull over whether they want to att

[2018-08-29 18:34] mnelson4 commented on #666
this might be an easy fix... we'll see...

[2018-08-29 18:56] sethshoultes opened #672 "Remove the duplicated Ticket description information from the ticket details"
See Codebase ticket for background:
https://events.codebasehq.com/projects/event-espresso/tickets/8720

Per Josh:

https://eventespresso.com/topic/split-ticket-related-question/

[2018-08-30 15:33] mnelson4 commented on #666
PR merged in

[2018-08-30 15:33] #666 closed

[2018-08-30 18:11] #661 closed

[2018-08-30 20:01] mnelson4 commented on #624
Started on branch BUG/better-url-validation, right now it's mostly just unit tests.

Technically, multibyte characters are still not allowed in URLs (see https://wordpress.stackexchange.com/questions/310894/why-dont-wordpress-post-slugs-allow-accents/311020#311020) although we ourselves are currently relying on browsers handling IRLs just like URLs... So i think we should basically regard them as

[2018-08-31 05:43] mnelson4 commented on #624
resources for better URL validation:
http://halfelf.org/2015/url-validation/
https://github.com/franksrevenge/StrictUrlValidator
and I want to see what WP currently does to validate commenter's websites

[2018-08-31 12:46] lorenzocaum opened #677 "Default to the country that is selected for base of operations in the your organization settings"
A customer (https://secure.helpscout.net/conversation/651312341/561622/) shared a suggestion to improve the registration process.

If you are an event organizer in the United Kingdom, then have the country field dropdown on the registration form and the payment form default to the United Kingdom by default.

[2018-08-31 14:54] joshfeck opened #678 "Fix admin event list table orderby sorting when events have multiple datetimes"
**Describe the bug**

When an event has more than one datetime, the admin event list table can display the events & start dates in an inconsistent way when using the order by start date feature.

What happens is the _next upcoming datetime_ is displayed in the Start Date column, but the orderby sorting uses a different datetime set in the event.
**To Reproduce**
Example 1: An event with one dateti

[2018-08-31 21:32] #604 closed

[2018-09-01 04:50] mnelson4 commented on #377
I think this issue is resolved. Thanks stalebot, you're so on top of things.

[2018-09-01 04:50] #377 closed

[2018-09-04 12:49] sethshoultes commented on #654
@mnelson4 is this something you can fix?

[2018-09-04 18:53] mnelson4 commented on #654
I think so

[2018-09-05 18:28] sethshoultes opened #682 "Add ability to style the ticket selector embed on a per-site basis"
This is an idea from a customer on Event Smart, where they would like the ticket selector embed to match the style of the site it's embedded on.

[2018-09-05 19:59] tn3rb commented on #682
ummm... I don't think that is possible because the TS embed uses an iframe which is not affected by the host site's stylesheets.
AS well, browsers have clamped down on communication between domains that has been initiated by scripts and embeds (look up "Cross-Origin Resource Sharing" aka "CORS") so it is pretty much impossible to do this from our position.

The far better solution would be to do w

[2018-09-05 23:04] sethshoultes commented on #682
Okay, that's what I thought.

@tn3rb Here's another idea. Could we add some style options to the embed code? Example URL for the embed:
`http://mysite.com?event=32&ticket_selector=iframe&button_style=orange&background_color=black&font_color=white`

[2018-09-06 17:26] tn3rb commented on #682
ya absolutely that could be done and would be one of the only ways to control the iframe style from the other site

[2018-09-07 13:35] joshfeck commented on #682
It'd be awesome if the WP Customizer could be used for the options for this. I'll add though: having an option to allow a per event basis would be more complex than a simple global set of options.

One way the per-event styles could work would be to allow saving predefined style combinations, where the style combo name could be selected as an event meta key/value pair within the event.

[2018-09-09 18:52] lorenzocaum opened #684 "Recover from error code 10486"
**Seen on a current release and this is not specific to a recent version**

**Summary**
When there is a problem with the funding source, then an attendee is taken back to registration checkout and an error code 10486 is shown:

![image 2018-09-09 at 2 43 37 pm](https://user-images.githubusercontent.com/1079138/45267710-e738d180-b43f-11e8-932a-0b04ad923d01.png)

However, an attendee doesn't know wh

[2018-09-10 11:35] sethshoultes commented on #573
@tn3rb any way to make this happen?

[2018-09-10 15:19] mnelson4 commented on #684
thanks for the steps to reproduce. I'll get to this once it's next in my next list

[2018-09-10 15:34] sethshoultes commented on #494
@joshfeck can you please test this one?

[2018-09-10 15:48] joshfeck commented on #494
Actually testing the PR. No need to assign the issue when there's an open PR.

[2018-09-10 19:38] sethshoultes commented on #662
Pull request has already been merged.

[2018-09-10 19:38] #662 closed

[2018-09-10 19:42] #394 closed, assigned to mnelson4

[2018-09-10 20:37] #655 closed

[2018-09-13 18:48] lorenzocaum opened #687 "count(): Parameter must be an array or an object that implements Countable in RegistrationsReport.php"
**Summary**
This shows up if you are on PHP 7.2:

`PHP Warning: count(): Parameter must be an array or an object that implements Countable in /dom16100/wp-content/plugins/event-espresso-core/core/libraries/batch/JobHandlers/RegistrationsReport.php on line 207`

**Steps to reproduce**
1) Set up Event Espresso on a website that uses PHP 7.2.

2) Then create an event and add a couple of registrations

[2018-09-13 20:06] lorenzocaum opened #688 "Fatal error: Uncaught TypeError: Argument 1 passed to EE_Session::__construct() must implement interface"
**Summary**
This was seen in logentries for Event Smart:

`PHP Fatal error: Uncaught TypeError: Argument 1 passed to EE_Session::__construct() must implement interface EventEspresso\core\services\cache\CacheStorageInterface, null given, called in /bacon/wp-content/plugins/event-espresso-core/core/EE_Session.core.php on line 194 and defined in /bacon/wp-content/plugins/event-espresso-core/core/EE_S

[2018-09-13 20:37] sethshoultes commented on #687
@mnelson4 is this your realm? Something you can fix?

[2018-09-13 20:41] sethshoultes commented on #687
Related ES issue: https://github.com/eventespresso/eventsmart.com-website/issues/185

[2018-09-13 23:03] joshfeck opened #689 "Fix Fatal error related to usage of REST API"
Steps to replicate:
EE4 Master + Attendee Mover
Go to Event Espresso > Registrations and click the icon to move an attendee

```Fatal error: Uncaught ArgumentCountError: Too few arguments to function EventEspresso\core\libraries\rest_api\controllers\model\Read::__construct(), 0 passed in /srv/www/wordpress-default/public_html/wp-content/plugins/32-core/core/libraries/form_sections/inputs/EE_Select

[2018-09-14 03:33] mnelson4 commented on #687
yeah I can address this...

[2018-09-14 04:29] mnelson4 commented on #624
The related PR was merged in, so this is fixed.

[2018-09-14 04:29] #624 closed

[2018-09-14 16:34] tn3rb commented on #688
@lorenzocaum
Was there a stack trace available with the above error?
Do you know if there were any other errors that occurred immediately before that that could have then caused this?
It's almost impossible to follow up on if we don't know what kind of request was being made... obviously the session loads fine in other cases or registrations would not even be possible, so this is either a result o

[2018-09-14 16:51] mnelson4 commented on #689
PR merged

[2018-09-14 16:51] #689 closed

[2018-09-14 16:51] lorenzocaum commented on #688
Hi Brent, I added what I saw in new relic and I also sent you an invite to view that error in new relic.

[2018-09-14 17:25] Pebblo opened #693 "Registration Report: headers already sent error"
If I run a registration report using a site with PHP 7.2 and WP 4.9.8 I'm getting this on each report:

[code]

To reproduce to make sure you have error logging enabled and run a registration report.

This is a clean install with only core activated, not other plugins.

[2018-09-17 16:45] mnelson4 commented on #494
PR https://github.com/eventespresso/event-espresso-core/pull/620 merged

[2018-09-17 16:45] #494 closed

[2018-09-18 19:34] mnelson4 opened #694 "Skeleton payment methods use wrong pue slug"
## Issue Overview

The skeleton payment method has `espresso_new_payment_method` for the PUE slug, but it should probably instead be `eea-new-payment-method`. We should also check the find-and-replace creates it properly. Eg if you replace `New_Payment_Method` with `Foo_Bar`, the slug will become `eea-foo-bar`. If that doesn't work, we may want to just leave this string blank

## Bug report or fea

[2018-09-20 14:30] lorenzocaum opened #697 "Capabilities sometimes not set up on an initial activation of Event Espresso"
**This isn't specific to a recent version**

**Summary**
From time to time, a customer will report that they've activated Event Espresso but they don't see it in their menus so they cant get started with Event Espresso.

Recently two members who started with decaf ran into this issue.

- https://secure.helpscout.net/conversation/662674495/566423
- https://secure.helpscout.net/conversation/66622300

[2018-09-20 15:48] mnelson4 commented on #694
PR merged

[2018-09-20 15:48] #694 closed

[2018-09-20 16:16] mnelson4 opened #698 "URL Validation annoyances (in the admin)"
## Issue Overview

In the admin, our URL validation strategy for URL fields still verifies the URL is actually accessible using an HTTP request. This continues to often be annoying because sometimes servers have unexpected setups that cause the HTTP ping to fail and then admins can't set the URL properly.
We most recently removed the HTTP request as part of validation for the front-end on https://

[2018-09-21 14:49] joshfeck opened #701 "Add filter hook to allow overriding batch size limit"
I was working on a customer's site today where one of their issues was they could not download the CSV registration report. What happened was there were over 3000 registrations and when the report tool got to about the 10th batch, it threw an error and stopped.

![screen shot 2018-09-21 at 9 53 07 am](https://user-images.githubusercontent.com/891156/45888310-ba63b300-bd8b-11e8-9b71-2463245cd365.pn

[2018-09-22 18:28] lorenzocaum opened #702 "Remove please note help text from Custom Display Order setting"
**This is not specific to a recent version of Event Espresso**

**Summary**
A few years ago we introduced the custom display order setting to rearrange the event details. Prior to that being available, we used some filters to help with the change and this message was added:

![image 2018-09-22 at 11 27 01 am](https://user-images.githubusercontent.com/1079138/45920548-712e6480-be5a-11e8-99fd-4457fe

[2018-09-24 10:43] Pebblo opened #703 "Batch CSV system not adding the UTF-8 BOM characters"
Reported here: https://eventespresso.com/topic/issues-after-upgrading-from-4-8-25-p-to-4-9-56-p/#post-262482

And again here: https://eventespresso.com/topic/chinese-characters-not-showing-up-on-export/

The batch job handlers use `create_file_from_job_with_name()` to create a temporary file and write the CSV data to it, but that means the new system completely skips the hoop jumping that `EE_CSV-

[2018-09-24 14:23] joshfeck opened #704 "Improve UI to reduce confusion about Currency & Country settings"
This is quite likely one of the top 5 gotchas for new users. What happens is they'll try to change currency settings on the Event Espresso > General Settings > Countries tab, and then not see any change to the currency displayed. This is because they have not changed the country set under Organization settings.

Here are two things that will help:
1) Add help text just under the Country field that

[2018-09-24 14:29] joshfeck commented on #704
See also codebase ticket:

https://events.codebasehq.com/projects/event-espresso/tickets/7452