[2013-01-18 16:53] dgilfoy opened #2 "ESPRESSO_TXN_PAGE shortcode"
Not sure if this is an issue or is a known issue but the ESPRESSO_TXN_PAGE shortcode on the transaction page isn't working and I don't see a corresponding function in the shortcodes.php file.

Are you phasing out the page itself or something similar?

[2013-01-21 18:47] #2 closed, assigned to nobody

[2013-03-12 08:11] remcotolsma opened #4 "Improve gateway support"
Within the Pronamic iDEAL plugin we add an iDEAL gateway (for a lot of providers and iDEAL variants) to the Event Espresso plugin. We don't like it that the gateways have to be in the Event Espresso folders. We had to add an fix in our plugin to void error on the 'require_once' calls to the 'init.php' files.

https://github.com/eventespresso/event-espresso-core/blob/master/gateways/process_payment

[2013-05-14 20:59] garthkoyle opened #5 "Testing GH Issue Tracking"
This is the content, blah blah blah.

[2013-05-14 22:29] garthkoyle opened #6 "Message System Settings Confusion"
Video: http://www.screencast.com/t/mOvkiaHk

Internal Discussion (screenshot):
![cb_2490](https://f.cloud.github.com/assets/3094547/504373/c08958d6-bce5-11e2-84b6-88c60c98831c.png)

Codebase ticket: https://events.codebasehq.com/projects/event-espresso/tickets/2490

[2013-05-14 22:30] #5 closed, assigned to garthkoyle

[2013-05-15 21:47] #6 closed, assigned to Pebblo

[2013-05-15 21:50] garthkoyle opened #7 "Payment Methods - Settings Show additional payment options"
http://www.screencast.com/t/9szHRXwT

Codebase notes:
![cb_22354](https://f.cloud.github.com/assets/3094547/509630/6a32ffc2-bda9-11e2-95d7-3cedc24aa50f.png)

[2013-05-15 21:58] garthkoyle opened #8 "transactions getting marked as incomplete on 2nd pending payment"
Codebase Ticket: https://events.codebasehq.com/projects/event-espresso/tickets/2448

![cb_2448](https://f.cloud.github.com/assets/3094547/509669/9a816bfe-bdaa-11e2-9647-00e4817b772d.png)

[2013-05-15 22:03] garthkoyle opened #9 "Verify Affiliate Tracking Hook upon Payment Confirmation still works"
Codebase Ticket: https://events.codebasehq.com/projects/event-espresso/tickets/2323

![cb_2323](https://f.cloud.github.com/assets/3094547/509687/2b58d9be-bdab-11e2-861f-d186b323d014.png)

[2013-05-15 22:06] garthkoyle opened #10 "add link back to SPCO from thank you page if payment fails"
Note: SPCO = Single Page Checkout

Codebase ticket: https://events.codebasehq.com/projects/event-espresso/tickets/2300
![cb_2300](https://f.cloud.github.com/assets/3094547/509696/ab14fa84-bdab-11e2-91f8-83401e403fb3.png)

[2013-05-15 22:08] garthkoyle opened #11 ""Try payment again" doesn't work"
Codebase Ticket: https://events.codebasehq.com/projects/event-espresso/tickets/2361

http://www.screencast.com/t/9I9kO0xt37Yg

Codebase Discussion:
![cb_2361](https://f.cloud.github.com/assets/3094547/509705/f475733e-bdab-11e2-9ead-323a2bc5b45d.png)

[2013-05-15 22:11] garthkoyle opened #12 ""Additional Attendee Registration info" dropdown has no effect"
Codebase Ticket: https://events.codebasehq.com/projects/event-espresso/tickets/1918

![cb_1918](https://f.cloud.github.com/assets/3094547/509708/5417ca94-bdac-11e2-95c6-918ac3b65400.png)

[2013-05-15 22:25] Pebblo opened #13 "Can not trash Custom Message Template"
I created this template through the Event Editor, attempted to switch back to Global Templates within the event but Custom Template stays active and template does not get trashed. (Payment Template)

Attempted to trash the custom template in Message System Overview. But the template remains after the page reloads. (After clicking move to trash)

Removed the event in-case the active event was preve

[2013-05-15 22:26] garthkoyle opened #14 "Address settings are not working"
Codebase Ticket: https://events.codebasehq.com/projects/event-espresso/tickets/2344

http://www.screencast.com/t/nkYhor5rl

![cb_2344](https://f.cloud.github.com/assets/3094547/509755/67b7c854-bdae-11e2-9d1f-ff3e1dbf3fd8.png)

[2013-05-16 11:36] #13 closed, assigned to Pebblo

[2013-05-16 11:38] nerrad opened #15 "Bulk Actions don't work on Message Template overview"
reported by @Pebblo - basically the bulk actions dropdown is present but there are no checkboxes to actually execute the bulk actions.

[2013-05-16 15:32] #7 closed, assigned to nobody

[2013-05-16 18:15] Pebblo opened #16 "Event Espresso - Payment Methods - Settings Page - Header already sent"
Warning: Cannot modify header information - headers already sent by (output started at C:\xampp\htdocs\eetesting\wp-admin\menu-header.php:80) in C:\xampp\htdocs\eetesting\wp-includes\pluggable.php on line 876

Get this error after hitting the settings and hitting save. Vanilla install, only plugin installed are default and ee.

[2013-05-16 18:30] Pebblo opened #17 "Thank You Page Errors"
Notice: Undefined index: e_reg_url_link in C:\xampp\htdocs\eetesting\wp-content\plugins\event-espresso-core-master\includes\classes\EE_Thank_You_Page.class.php on line 62

Notice: Undefined index: e_reg_url_link in C:\xampp\htdocs\eetesting\wp-content\plugins\event-espresso-core-master\includes\models\EEM_Transaction.model.php on line 509

Catchable fatal error: Argument 1 passed to EEM_Gateways::

[2013-05-16 19:25] Pebblo opened #18 "Event Espresso - Events Page - Zoom Bug"
Not a major issue and not likely a common one.

Create an Event as usual.

Change one of the Notification message templates to custom.

Now Zoom on the page. I'm using Chrome. Held CTRL and scrolled the mouse wheel one click.

The custom template page is displayed again. Press Save to close. Zoom again. Custom template page is displayed once more.

Save the event and this pattern stops.

[2013-05-16 21:26] #15 closed, assigned to Pebblo

[2013-05-16 21:36] Pebblo opened #19 "Message Templates Bulk Actions - Default action throws error."
Go to Message Overview.

![bulk1](https://f.cloud.github.com/assets/4345417/515247/6166ea3a-be70-11e2-9636-fbc885057d5e.jpg)

Hit Apply with the settings as above.

It throws this error:

![bulk2](https://f.cloud.github.com/assets/4345417/515251/8030e920-be70-11e2-8254-9d8c955a703f.jpg)

[2013-05-16 22:39] #19 closed, assigned to Pebblo

[2013-05-16 22:44] Pebblo opened #20 "Messages Settings - Multiple Global Templates"
With the fix from #2732 when you turn OFF the messages service in settings you get an error regarding a table column:

![messages settings](https://f.cloud.github.com/assets/4345417/515539/dfb2741e-be79-11e2-8a36-c00df40695df.jpg)

This also causes duplicate global templates to be created:

![duplicates](https://f.cloud.github.com/assets/4345417/515544/1da24164-be7a-11e2-8c70-22170c334820.jpg)

Ea

[2013-05-17 15:54] #20 closed, assigned to Pebblo

[2013-05-19 20:33] Pebblo opened #21 "Editing any question causes fatal error."
To view this go to:

Management - Registration Form.

Open any question to edit. Press Save.

You'll see an error similar to this:

Notice: Array to string conversion in C:\xampp\htdocs\eetesting\wp-content\plugins\event-espresso-core-4.0-BETA\includes\classes\EE_Base_Class.class.php on line 244
An EE_Error exception was thrown!   code: CLS-BSCLS-SANFIEINP-245
"Allowed values for 'Question Type' a

[2013-05-20 14:29] #9 closed, assigned to nobody

[2013-05-20 14:31] #11 closed, assigned to nobody

[2013-05-20 14:39] #8 closed, assigned to nobody

[2013-05-21 16:34] #14 closed, assigned to tn3rb

[2013-05-21 18:06] #12 closed, assigned to garthkoyle

[2013-05-21 18:51] #17 closed, assigned to mnelson4

[2013-05-21 19:32] #21 closed, assigned to mnelson4

[2013-05-21 21:12] Pebblo opened #22 "'Your Organisation' Settings - Error when nothing changes."
Not sure if this is really an issue.

When nothing is changed witihin the 'You Organisation' settings page and save is pressed:

'An error occured. The Your Organization Settings were not updated.'

Is displayed on the top. All other pages I've tested will just display 'Settings updated' or something similar when nothing is changed.

Thinking more for an end user, the error may well seem that ther

[2013-05-21 21:18] Pebblo opened #23 "Currency sign not updated."
Settings -> Your Organisation

Currency sign not updated when changing country - always $.

![currency](https://f.cloud.github.com/assets/4345417/545187/e65a10d4-c25b-11e2-912e-1f5c1a811de0.jpg)

[2013-05-23 13:20] #16 closed, assigned to mnelson4

[2013-05-23 13:22] #22 closed, assigned to nobody

[2013-05-23 13:28] Pebblo opened #24 "Event Categories - Error on update with no changes."
Pretty much the same as the #22

When no changes are made 'The category TestCat has not been updated' is displayed on save.

[2013-05-23 14:42] Pebblo opened #25 "Offline Payment methods."
When an attendee registers and pays with (I'm my test Cheque) there Registration is then pending which counts towards the total attendee's. We don't use offline payments currently (well we do but not offered online) so I have never noticed this in 3.1.x (which I now know is also the same) but I can see an issue with this.

May not be a problem for large events but we run plenty of small events (20

[2013-05-23 18:39] garthkoyle opened #26 "Default Registration Status setting is not working"
It seems that all registrations get marked as pending no matter what setting is used (screenshot: http://www.screencast.com/t/3CrsdQrlo).

Also, the question mark popup shows outdated information (screenshot: http://www.screencast.com/t/h4CIEc6PF).

Codebase notes: http://www.screencast.com/t/QaWqB85AB9, https://events.codebasehq.com/projects/event-espresso/tickets/2360

[2013-05-23 19:55] Pebblo opened #27 "Free events do not approve automatically"
Enable Attendee Pre-approval = No.
Default Registration Status = Approved.

Free events still require you to view the registration and approve.

[2013-05-27 19:42] #4 closed, assigned to sethshoultes

[2013-06-11 14:26] garthkoyle opened #28 "Upcoming Events Widget"
There have been a lot of changes so we need to see if the Upcoming Events Widget (generally used in the sidebar) works correctly. No other background than that.

Codebase ticket: https://events.codebasehq.com/projects/event-espresso/tickets/2916

[2013-06-11 20:24] garthkoyle opened #29 "fix attendee list template and corresponding shortcodes"
http://eventespresso.com/wiki/shortcodes-template-variables/#attendee-list

[LISTATTENDEES]
[LISTATTENDEES limit="30"] //Number of events to show on the page
[LISTATTENDEES paid_only="true"] //Show completed and pending registrations only
[LISTATTENDEES show_expired="true"] //Show expired events
[LISTATTENDEES show_deleted="true"] //Show deleted events
[LISTATTENDEES show_secondary="true"] //Show

[2013-06-17 13:34] #27 closed, assigned to nobody

[2013-06-19 22:35] #29 closed, assigned to nobody

[2013-06-19 22:36] #28 closed, assigned to nobody

[2013-06-19 22:39] #26 closed, assigned to nobody

[2013-06-21 13:59] #25 closed, assigned to nobody

[2013-07-09 19:20] psmagicman opened #30 "Events Manager - Personnel Manager Error"
Hi there,

I recently requested access to your private repo to help in finding bugs in the beta version of EE4.0. So one thing I noticed with the current version that I pulled from github is that the staff/personnel manager doesn't currently work. If activated, the event creation admin page breaks and a fatal error shows up in the "Event Staff / Speaker" box. Fatal error below:

[code]

![screen s

[2013-07-09 19:27] #30 closed, assigned to nobody

[2013-08-30 20:45] harveybeck opened #31 ""Duplicate an Event" missing from V4"
Way back in V3, we used to have the ability to duplicate an event. That was a handy time-saver, especially (but not only) for setting up Waitlist events.

I don't see it in 4.0.

[2013-08-30 20:46] harveybeck opened #32 ""spill over to a Waitlist event" missing"
We do have the ability to create a Waitlist event in V4. However, I don't seem to be able to "spillover" the main event to a Waitlist event, as I could in V3.

[2013-09-02 16:07] #32 closed, assigned to nobody

[2013-09-02 16:08] #31 closed, assigned to nobody

[2013-09-12 23:05] #18 closed, assigned to nobody

[2014-01-21 15:16] #10 closed, assigned to mnelson4

[2014-01-21 15:17] #24 closed, assigned to nobody

[2014-01-21 15:17] #23 closed, assigned to nobody

[2014-05-12 03:14] jeignology opened #36 "Problems with email templates"
Problems:
Social buttons aren't appearing as in Outlook as in WYSIWYG
Email links aren't working

Solution:
Styles need to be inlined: http://zurb.com/ink/inliner.php
add 'mailto:' in templates before any default email fields

Sorry, but I'm not sure where these are stored in the file system

[2014-06-04 12:08] #36 closed, assigned to nerrad

[2014-09-25 07:27] jonathan-dejong opened #39 "Timezone is Africa/Khartoum"
Hi,

Checking the datetime object retrieved via espresso_event_date_obj reveals that the timezone being used is for some reason Africa/Khartoum.

"DTT_EVT_start" and "DTT_EVT_end" in the global $post variable for an event is therefore incorrect. It should take into account what timezone has been chosen by the user in settings > general.

I just made a pull req to development branch which atleast f

[2014-09-29 10:39] jonathan-dejong opened #41 "pre_get_posts filter incorrectly assumes EE post_type *possible bug"
Related links:
http://code.eventespresso.com/classes/EE_CPT_Strategy.html#method_pre_get_posts
https://github.com/ericandrewlewis/WP_Query_Multisite
https://github.com/jonathan-dejong/Network-posts-widget

I've created a plugin which creates a widget that displays the most recent network wide posts (link above). Now it seems that EE tries to inject it's own "supercharge" into the query. The only f

[2014-10-28 09:16] ilanco opened #43 "Plugin hooks"
Hi,

I'm writing a coupon plugin for EE.
On the admin site the hooks are pretty straightforward. I'm using using extra_meta to save the coupons for each event.
Wondering if there are any hooks i can use, without modifying the core source, to check the coupon on registration and add a discount if it exists.

[2014-11-06 09:56] Kenshino opened #44 "Events using admin.php instead of edit.php"
Hi,

Espresso_events is a CPT so shouldn't it be using standard edit.php instead of going through admin.php?page=espresso_events&action=edit ?

I'm asking this as typical hooks such as shortcode icon adding doesn't work - with themes from WooThemes and some popular plugins like TablePress. ( I asked on support forums about this http://eventespresso.com/topic/ee4-visual-editor-not-hooking-custom-ti

[2014-11-25 07:59] Kenshino opened #48 "Ticket price gets 'rewritten' wrongly likely because of float sanitisation"
Hi,

**Ticket 1** When trying to save a Ticket Price - Manually keying in (eg) 2500 works as expected.

The system then rewrites that as a float, becoming 2,500.00 upon re-entering the edit screen.

*_Ticket 2 *_ When I decide to create a second ticket, and key in (eg) 3500, this ticket saves as expected.

However, ticket one ends up being saved again as $2 instead of $2500.

This behaviour is als

[2014-11-25 17:20] #43 closed, assigned to tn3rb

[2014-11-25 17:38] #41 closed, assigned to tn3rb

[2014-12-01 16:08] ameeker opened #49 "String offset "hex" error when choosing an invoice as payment option"
Sorry if this isn't in the right place...
Using 4.7.0.dev.001, when choosing an invoice as the payment option for a ticket bundle, then clicking Finalize Registration, the next screen showed this error. Also, the invoice sent by email doesn't include the ticket information itself.

`Warning: Illegal string offset 'hex' in /home1/ameeker/public_html/ohiogeo/wp-content/plugins/event-espresso-core-de

[2014-12-03 19:26] #39 closed, assigned to tn3rb

[2014-12-09 15:58] #49 closed, assigned to nerrad

[2014-12-12 01:51] ameeker opened #51 "Calendar addon creates broken payment urls"
EE Version 4.6.0.alpha.014
EE Calendar Version 3.2.1.p
WordPress 4.0.1

The EE version works as expected. However, when I install the Calendar add on, I get the following error, and then the EE pages only show the shortcodes, not the output of those shortcodes.

Payment Method 'Bank' had a broken button url, so it was reset
Payment Method 'Cash' had a broken button url, so it was reset
Payment Met

[2014-12-12 03:27] #48 closed, assigned to nerrad

[2015-01-02 16:11] NateWr opened #54 "Apostrophes in Organization Name cause \ to multiple in test emails"
If the Organization Name in the settings includes an apostrophe, like ```Nate's Thing```, the name is escaped with a ```\'s``` in the subject of the test email that is sent from the messages interface. When the page reloads, the ```\'s``` will be tripled to ```\\\'s```. This multiplies with each test email sent, so that after several tests it's easy to have so many ```\``` that it can cause memory

[2015-01-02 16:21] NateWr opened #55 "Line breaks in templates converted to <br>"
I noticed that line breaks in several of the PHP/HTML templates get converted to `<br>` elements. The two I wrote down were on the Single Page Checkout (which I believe is already being rewritten) and on the Thank You page (after registration).

An example of this can be seen in [registration_page_attendee_information.template.php](https://github.com/eventespresso/event-espresso-core/blob/master/m

[2015-01-02 16:49] NateWr opened #57 "Request a filter for $template_args"
It would be nice if it was possible to hook into the ```$template_args```  before they're passed to a template. In a couple instances I had to duplicate an entire template when I just wanted to modify one piece of data (like who an Invoice should be addressed to).

The most abstracted place to put this filter would be in ```EEH_Template::locate_template()``` before the template is loaded:

```appl

[2015-01-08 15:23] #44 closed, assigned to nerrad

[2015-01-09 11:03] #55 closed, assigned to tn3rb

[2015-01-20 15:24] sbolognini opened #58 ""Select quantity" alert message not firing up when using ESPRESSO_TICKET_SELECTOR in index page"
Using the [ESPRESSO_TICKET_SELECTOR event_id='xxx'] shortcode we notice a very strange behaviour. We use this shortcode to allow user to show a styled ticket selector form inside our themes, eg.
http://www.showthemes.com/dummy-demo

The problem is:
if you click Register Now without selecting some tickets quantities a message should appear alerting the user that he has to select at least one ticket

[2015-02-11 00:05] KelseySheely opened #59 "Custom payment option's generate_new_billing_form() generates incorrect form code on ajax"
When using EE_Billing_Info_Form, the form content that is created after the payment option is selected seems to be incorrect and when submitted emits error 'billing_form_invalid'.  When I reload the page with the payment method selected, the form code that is generated is different and submits successfully.  Below is the code for my generate_new_billing_form() function.
[code]
When loaded through

[2015-02-18 17:21] #58 closed, assigned to tn3rb

[2015-02-18 17:22] #51 closed, assigned to tn3rb

[2015-03-11 22:13] tlaw259 opened #62 "Mock Payment Gateways"
I'm trying to use the skeleton payment classes which are provided in the repo. In particular, the Offsite payment class.

I added the payment_methods directory under the wp-content/plugins directory in WP (as advised in the online documentation) but nothing showed up in the Plugins section of Wp Admin.

So, I added some standard plugin comments to the files to see if that worked, but no joy. I'm n

[2015-03-11 23:24] #62 closed, assigned to mnelson4

[2015-03-12 14:06] tlaw259 opened #63 "Offsite Payment Gateway - passing values / callback"
Hi,
I'm using the skeleton code in tests/mocks/addons/new-payment-method to implement an offsite payment method.

All is going OK and after selecting the payment type I'm getting sent to the offsite form and posting through the merchant credentials and payment amount.  The next steps are to pass some additional data through and to implement the callback. Couple of questions on these if that's OK?

[2015-03-12 17:32] #63 closed, assigned to mnelson4

[2015-03-13 15:39] tlaw259 opened #64 "Offsite Payment Gateway - $payment object methods & properties"
Hi,
I'm using an offsite payment method and I need to pass a an EE transaction id  through to an offsite payment gateway so that it comes back via a callback when a payment is processed - and can then be used to retrieve the payment for processing in handle_payment_update().

So, in set_redirection_info() I would have something like:

$payment->set_redirect_args(
    array(
        // other stuff

[2015-03-18 21:56] ghost opened #65 "'html_label_text' Not Working for EE_Credit_Card_Month_Input"
When building the billing form I am using the 'html_label_text' array parameter to set the input label text, however EE_Credit_Card_Month_Input does not seem to process this option, while EE_Credit_Card_Input, EE_Credit_Card_Year_Input and EE_CVV_Input all do. Here is my implementation of generate_new_billing_form():

[code]

![screen shot 2015-03-18 at 2 39 48 pm](https://cloud.githubusercontent.

[2015-03-18 22:49] #65 closed, assigned to mnelson4

[2015-03-31 17:40] tlaw259 opened #66 "Return HTML from callback URL?"
Hi,
We're using the example new-payment-method code to develop a payment gateway for a Worldpay hosted (offsite) payment installation.  We're passing the callback URL that is generated by EE to Worldpay via the POST parameters.
Worldpay has functionality whereby it will render any HTML that is returned by the callback URL and we've used this in other Worldpay gateway implementations (non EE) such

[2015-04-07 22:38] pjsupport opened #67 "Direct Refund Implementation"
Hi, I've written an onsite gateway module for the PayJunction Trinity REST API. I noticed that the documentation on http://developer.eventespresso.com/docs/ee4-payment-method-development/ that it is possible to enable direct refunds by setting the $_supports_sending_refunds property and implementing do_direct_refund(), however there is no further documentation that I am finding or an example in an

[2015-04-30 23:45] nerrad opened #68 "Scrutinizer Code Cleanup"
see https://scrutinizer-ci.com/g/eventespresso/event-espresso-core/issues/master/files/admin_pages/events/Events_Admin_List_Table.class.php?orderField=path&order=asc#inspectioncomment-774598275

[2015-04-30 23:48] nerrad opened #69 "Code Cleanup (variable definition)"
see https://scrutinizer-ci.com/g/eventespresso/event-espresso-core/issues/master/files/admin_pages/events/Events_Admin_List_Table.class.php?orderField=path&order=asc#inspectioncomment-774598272

see also the two comments following the above link.

Fix: variables that don't have default definitions.

[2015-04-30 23:50] nerrad opened #70 "Code Cleanup - incorrect documentation"
see https://scrutinizer-ci.com/g/eventespresso/event-espresso-core/issues/master/files/admin_pages/events/Events_Admin_Page.core.php?orderField=path&order=asc#inspectioncomment-774598329

[2015-05-01 01:15] nerrad opened #71 "incorrect method call"
see https://scrutinizer-ci.com/g/eventespresso/event-espresso-core/issues/master/files/core/db_models/EEM_Registration.model.php?orderField=path&order=asc#inspectioncomment-774600759

[2015-05-01 14:53] megabait1212 opened #72 "Custom offsite payment method"
We created custom offsite payment method. It’s working only when user return on the website after payment, but if user payed and didn’t return to the website then for payment and transaction status is abandoned. Developer manual https://developers.paysera.com/en/payments/current#integration-via-library.
code ex.
public function handle_payment_update($update_info, $transaction) {
        $payment =

[2015-05-01 16:57] mnelson4 commented on #72
I'm not very familiar with Paysera, but it sounds like they send you payment notification information on both the "Accept URL" (the URL the user is redirected to after a succcessful payment) AND the "Callback URL" (the URL Paysera sends a payment request to when a payment is made).

This is very similar to Paypal Standard: Paypal sends a payment notificaiton (IPN) to the EE transactions page, but

[2015-05-01 17:18] mnelson4 commented on #72
Sorry the documentation on https://eventespresso.com/2015/03/developers-guide-to-payment-methods-for-event-espresso-4-6/ didn't explain this so I've updated it

[2015-05-01 17:52] megabait1212 commented on #72
Thank you

[2015-05-01 19:21] #72 closed

[2015-05-01 19:21] mnelson4 commented on #72
kk let us know if you have more questions or how we could make this an easier experience for you!

[2015-05-01 19:48] megabait1212 commented on #72
I spent 2 days trying to fix this problem. I am very very grateful to you for your help. Thank you very much.

[2015-05-01 19:58] megabait1212 commented on #72
Also I am writing here some improvements because I don't know where to write them
1) In Lithuania from 1 january national currency is euro
2) It's will be good to implement search by TXN ID. Like in my case we got payment from paypal and payer email and name is different from ticket registrant, how to find ticket registrant? Only export to csv can help. Searching plugins doesn't work like Relevans

[2015-05-01 21:10] mnelson4 commented on #72
Those both sound like good points.
They would probably be best submitted to our support forum (
https://eventespresso.com/support/forums/) as separate items, because the
support guys will be more aware whether those features have been previously
requested and can help prioritize them best. Would you mind doing that?

[2015-05-15 17:47] amallory opened #74 "Import Functionality"
Hello,

Garth suggested I open an issue here and ask about importing data into EE. I have a client who has some data they would like to import into EE4 and I'm looking for info on how to accomplish this. I understand there are some issues with the current import and would like to get some insight into what the issues are with the goal of finding a work around and import this data for my client.

T

[2015-05-15 20:33] mnelson4 commented on #74
hi @amallory, where are you wanting to import the data from? From another install of EE4? If so we have a fix but it's been undergoing testing on-and-off for a few months now. You can checkout the branch here: https://github.com/eventespresso/event-espresso-core/tree/BUG-7537, but since it seems something has changed in master branch that's busted it. I'll let you know. But it would probably be ve

[2015-05-15 21:14] amallory commented on #74
Hey, @mnelson4 thanks for getting back to me so quickly. The data is coming from a system called Your Membership... But it's reformatted it into a csv in the EE4 format. Thinking this will make the import a little more straight forward. I could run a test import under that branch to give it a test. So I guess the answer is yes will beta test it.

[2015-05-15 21:31] nerrad commented on #59
closing due to lack of activity.

[2015-05-15 21:31] #59 closed

[2015-05-15 21:32] nerrad commented on #54
this was fixed and released with 4.4.9

[2015-05-15 21:32] #54 closed

[2015-05-15 21:32] nerrad commented on #67
closing due to lack of activity

[2015-05-15 21:32] #67 closed

[2015-05-15 21:33] nerrad commented on #66
closing due to lack of activity

[2015-05-15 21:33] #66 closed

[2015-05-15 21:33] nerrad commented on #64
closing due to lack of activity

[2015-05-15 21:33] #64 closed

[2015-05-15 21:34] nerrad commented on #57
closing due to lack of activity.

[2015-05-15 21:34] #57 closed

[2015-05-15 22:36] mnelson4 commented on #74
So the data is in the csv format that EE4 expects? Because EE3 had a different format. If it's in EE4's format then the importer should be able to handle it, once I've worked out this kink I just discovered

[2015-05-16 00:17] mnelson4 commented on #74
so @amallory, feel free to give the above-mentioned branch a whirl: it's in-sync with EE4 master, except re-added the buttons to export things (events, contacts, venues, etc) and to re-import them.
Here is a part of our testing checklist that we're trying to work through, if you can try some of these testcases and validate that they work for you (on a test site), then we'll be much closer to getti

[2015-05-18 12:06] jonathan-dejong opened #75 "EE template settings override my custom template code"
Hi.

I've posted an issue here: http://eventespresso.com/topic/disable-automatic-injektion-of-excerpts-and-buttons/#post-156805

But was instructed to make an issue on Github instead.

As it says in the topic above I'm having issues with EEs template settings overriding my own code on event categories archives. Strangely enough this does not occur on the base archive which uses the same theme temp

[2015-05-18 19:30] tn3rb commented on #75
Hi Jonathan,

So that is the loop from your archive-espresso_events.php template?

I'll give that a shot and see if I can recreate, but it might be best if you can either supply:

 * the complete code for the affected template (ie the full template, not just the loop)
 * or event better, access to your entire theme just in case there is some other filter somewhere you have set that is confusing EE

[2015-05-18 20:20] tn3rb commented on #75
try adding this in your functions.php:

[code]

[2015-05-19 10:12] jonathan-dejong commented on #75
Hi Brent,

Yeah I looked through some of the code in EE regarding this and it seems a bit hacky at some places.. I get why tho :)

That action seems to have done the trick for me! Thank you so much for that! Just in time for my meeting with the client too :)

On a sidenote you guys should really work on a complete categorized list of actions and hooks available in EE. I find new ones every time.

[2015-05-19 10:12] #75 closed

[2015-05-19 14:20] nerrad commented on #75
Hey Jonathan, thanks for the suggestion regarding a categorized list of actions and filter hooks available in EE.  It's something that we likely won't take time to do because at last count (using search in my IDE) there are 484 occurrences of EE filters and 332 occurrences of EE actions.

One thing that *might* help you with discovery of our actions and filters is to search in your IDE with the fo

[2015-05-19 15:05] jonathan-dejong commented on #75
Hi Darren (Yes your code is broken).

A sad day for me but I see what you mean. Altho you don't really have to make a complete list off the bat.
Just putting something up now and adding new actions and filters that are developed from this point on would maybe be a bit more manageable.. And then you host an "AfterWork" with beer and the whole shabang where everyone spend an hour or so documenting e

[2015-05-19 15:08] nerrad commented on #75
No its not.  I do the searches with the partial matches because the part coming after the prefix is dynamic.

I totally dig how it would be helpful to have some sort of index, organized and categorized.  The problem is we are not a big team and we already put in significant hours getting through the backlog of existing feature requests/bug reports etc.  I'm not saying your idea isn't a good one, i

[2015-05-19 15:18] jonathan-dejong commented on #75
I was referring to your usernames on github.. ;)

Yeah I get that, and I'm one of those annoying ppl that buggers you about FET and BUG too.

[2015-05-20 14:42] jonathan-dejong opened #76 "Database errors in a single installation on a multisite"
Hi.
If I'm supposed to put this in the EE support forum I apologize. Yell at me and I'll post it there instead. I figured that I'm usually sent here when the question is a bit more technical anyway.

I'm having some strange behaviours going on in my dev-setup of a multisite installation. EE is only activated for the main site (NOT network activated) and it runs smoothly on the prod site. Seemingly

[2015-05-20 14:48] nerrad commented on #76
What's wierd, is EE should only be running on the main site if that's the only site you have it active on.  I *think* however that the network admin is considered part of the "main site" with plugins activated.  We'll investigate and get back to you.

[2015-05-20 14:50] nerrad commented on #76
Jonathon is it possible that you have another plugin active that is doing a `switch_to_blog()` at some point and then not switching back?  It's possible that the EE queries that are running are happening while the internal WP process is set to have the "$current_blog" set to another blog (which affects all queries running then).  I'm wondering if that may be something that DB Migrate is doing whil

[2015-05-20 15:50] jonathan-dejong commented on #76
Hmm.. I'm using switch_to_blog on a few places myself within the theme (not in any of my own plugins) but I'm 100% sure I'm switching back each time (otherwise something would definitely break on the frontend). I'm also using Elasticsearch with elasticpress to do global searches and queries but I don't think that they use switch_to_blog at all since the whole point is to index sites within elastic

[2015-05-20 17:19] mnelson4 commented on #76
hi @jonathan-dejong yes that is very strange. Like @nerrad I'm also very suspicious of the blog switching.that's going on and would suggest trying to grab more info on it.
If I were in your situation I'd suggest trying to track every call to `switch_to_blog()` by echoing out something within the wp core function, possibly along with a call to `debug_backtrace(DEBUG_BACKTRACE_PROVIDE_OBJECT , 2)` t

[2015-05-20 18:20] nerrad commented on #76
the other thing you might want to check into is if there's a `switch_to_blog()` early in the request (i.e. in an init callback) and then a `restore_current_blog()` later in the request  (i.e. a later hook).

[2015-05-21 09:13] jonathan-dejong commented on #76
Since the live site didn't have these issues I figured I'd do some hard-resetting first. I completely removed all plugins from dev and imported them anew from live so to be sure they have the exact same "this could be what's messing it up" factor.

Now the issue is gone. I'm going to try a migration again just to be sure. I suppose the issue then was in one of the dev plugins I had.. hm.

[2015-05-21 09:54] jonathan-dejong opened #77 "Add content to the beginning of a manual registration in admin"
Hi,

I'm able to add a login form to the registration on the front-end using this:
[code]

I have my own WP user integration plugin which is based on your very very beta plugin before you've launched the current stable one. This means that when a user log in many fields are automatically filled in from user meta on their user. Now the client is requestion a version of this when they do a manual re

[2015-05-21 12:30] nerrad commented on #77
What about just using the same filter?  You could put the dropdown in the `else` condition block of your above example?

[2015-05-21 12:31] #76 closed

[2015-05-21 12:37] jonathan-dejong commented on #77
I don't think the filter runs in admin..
If so I'd see the stuff that's in the `else` condition now but I don't.
https://dl.dropboxusercontent.com/u/10298919/eescreen.png

[2015-05-21 12:39] nerrad commented on #77
Oh sorry, I missed that you wanted this to happen in the admin, I read that "manual registration" meant doing in the admin.

I'll get back to you at some point today.

[2015-06-04 09:18] jonathan-dejong opened #78 "Querying past events with support for this and that"
Hi!

Following up on the dev portals comments.
I've currently created a custom wpdb query with which I find past events and implement some pagination.

It's a bit of a hack and I haven't had the time to prepare the queries (they are still just a fetch so not too important). I'd love an example of how I do pretty much the same thing with the new and improved date handling in EE. In a dreamworld it'

[2015-06-04 12:33] nerrad commented on #78
Here' how you can do the above using the EE model system (with the new datetime work branch, if you want to use with current master you just substitute `time()` with `current_time()`:

[code]

Now I'm not sure what "archive" page you want this to be on, but if its the default event archive page, take a look at `core/CPTs/EE_CPT_Strategy.core.php`, that's the strategy class that works for modifying

[2015-06-04 12:35] nerrad commented on #78
Oh forgot to mention.  With my code example, in the loop, each `$past_event` is actually an `EE_Event` object.  So you can output the information you want just using the `EE_Event` methods (including any post_meta that might be attached to the event).  All other information is accessible via that object and if you need more pointers for that just let me know.

[2015-06-04 12:48] jonathan-dejong commented on #77
Just bumping this issue a bit :)

[2015-06-04 13:16] nerrad commented on #77
Hey,

Sorry I didn't get back to you that day, other issues came up needing dealt with and I forgot.

Unfortunately it doesn't look like there is an easy "action" that you can use to add your dropdown.  In the interim what you can do is filter the wrapper template used in the admin for manual registrations.

The wrapper template is `admin_pages/registrations/templates/reg_admin_register_new_attend

[2015-06-05 01:23] sumobi opened #79 "PHP Deprecated notice on plugin activation"
In case you weren't aware, the following message shows on plugin activation:

PHP Deprecated:  EE_Error::add_error() was called <strong>incorrectly</strong>. You need to provide the file name, function name, and line number that the error occurred on in order to better assist with debugging. (This message was added in version 4.6.31.rc.014 of Event Espresso. in /wp-content/plugins/event-espresso-c

[2015-06-05 01:32] sumobi opened #80 "Undefined property: EE_Template_Config::$EED_Ticket_Selector"
Master branch. When updating an event this notice appears twice:

`PHP Notice:  Undefined property: EE_Template_Config::$EED_Ticket_Selector in /wp-content/plugins/event-espresso-core/modules/ticket_selector/EED_Ticket_Selector.module.php on line 283`

Notices are also shown when viewing the event on the front-end

[2015-06-05 02:02] sumobi opened #81 "Inconsistent spacing around form elements"
Master branch

There appears to be inconsistent spacing around form elements:

![screen shot 2015-06-05 at 1 58 37 pm](https://cloud.githubusercontent.com/assets/52581/7998051/063afd44-0b8b-11e5-9c5d-d9a5607ad022.png)

This is caused by the 250px width on the elements:

`textarea.all-options, input.all-options {
    width: 250px
}`

I propose changing this width to `100%` so it looks more consiste

[2015-06-05 02:07] sumobi opened #82 "Make state and country select menus 100% width"
Master branch

![screen shot 2015-06-05 at 2 04 17 pm](https://cloud.githubusercontent.com/assets/52581/7998102/ce4562de-0b8b-11e5-8b8b-92108f75240a.png)

It seems like these 2 select menus should have the same width of 100% so they look like:

![screen shot 2015-06-05 at 2 06 22 pm](https://cloud.githubusercontent.com/assets/52581/7998123/16c1a9f0-0b8c-11e5-9430-c6e443c5b02c.png)

Related: #81

[2015-06-05 02:14] nerrad commented on #79
Thanks for reporting this.   Need a little more info:

1. Any other EE addons installed and active?
2. Was this a fresh activation?

[2015-06-05 02:19] lorenzocaum commented on #80
Thanks Andrew!

Reported in Codebase as 8298

[2015-06-05 02:27] sumobi commented on #79
@nerrad Sure thing, just EE on a fresh site of a MS installation, nothing else active

[2015-06-05 02:30] nerrad commented on #79
thanks!  Really appreciate the reports you've made recently, always great to have fresh eyes on things.

[2015-06-05 02:36] sumobi commented on #79
@nerrad You're welcome! It's always great to sit down and play with some else's plugin. We're hoping to build an EE integration for AffiliateWP.

[2015-06-05 02:40] nerrad commented on #79
That's awesome!  Definitely let us know if you have any questions about that :)

[2015-06-05 04:52] mnelson4 commented on #82
looks good to me imo

[2015-06-05 09:29] Pebblo commented on #80
Hi Andrew,

Our developers are investigating this however currently if you go to Event Espresso -> Events -> Templates (tab) - http://take.ms/dMgEy

Make no changes and simply save the settings, the notices will no longer be thrown.

[2015-06-05 12:50] nerrad commented on #82
this looks like a regression.  A while ago I had done some css cleanup that made them the same width (internal: see https://events.codebasehq.com/projects/event-espresso/tickets/8302 in codebase)

[2015-06-05 16:23] nerrad commented on #82
thanks for pointing this out.  Cleanup has been merged to master.

[2015-06-05 16:23] #82 closed

[2015-06-05 16:23] nerrad commented on #81
see #82, the commits pushed there should fix.

[2015-06-05 16:23] #81 closed

[2015-06-05 21:24] joshfeck commented on #80
The fix has been pushed to Master.

[2015-06-05 21:24] #80 closed

[2015-06-09 17:09] amallory commented on #74
@mnelson4, So my client decided not to move forward with this import which is most unfortunate. If I can find someone else who is looking to do an import I'll be happy to test this. Sorry I wasn't able to get to this in a timely manner.

[2015-06-09 17:14] mnelson4 commented on #74
yeah sorry to hear that. well let us know if you get a chance to do any of the above beta testing of the branch BUG-7537

[2015-06-09 17:14] #74 closed

[2015-06-10 17:00] richardtape opened #84 "add filters to the Price and Quantity table headers."
Have created a PR https://github.com/eventespresso/event-espresso-core/pull/83 to add extra filters to the ticket selector table headers (Available Tickets already had one, other columns did not).

[2015-06-10 17:24] tn3rb commented on #84
thanks Richard,

I'll take a look

[2015-06-10 17:53] richardtape commented on #84
:+1: Thank you!

There's possibly a few more coming as I start migrating us over to EE4. Will make them as generic as possible and fit into your coding styles, decisions and patterns.

[2015-06-10 19:22] richardtape commented on #84
OK, I made a mess. Genuinely sorry. This time I have ensured I'm up-to-date with master (github simply forked something from aaaaages ago when I made my fork...weird).

Not only that I'd made a mistake in the PR by having a _e() instead of __().

https://github.com/eventespresso/event-espresso-core/pull/85 fixes the above, can be straight merged and also adds your cherry picked esc_html__() call a

[2015-06-11 21:56] richardtape opened #87 "Add a filter to allow the complete removal of the maximum tickets purchased footnote"
https://github.com/eventespresso/event-espresso-core/pull/86 Adds a filter to be able to completely remove the footnote.

If you simply return an empty string to the existing filter, you get a paragraph tag with just a '*' character. This is unnecessary. It's possible to hide this via CSS, but having a filter to show or hide this footnote is cleaner.

[2015-06-12 16:45] richardtape opened #88 "Question: Are there any filters on registration form inputs?"
I've been looking through the way in which EE generates the markup for the questions used on the registration form. We have custom questions, but let's use the native 'Personal Information' inputs for this example.

Our users have an account on the WordPress install where EE is installed. On user registration we ask them to fill in a few details (it's required), so we have their name and email add

[2015-06-12 17:03] richardtape commented on #88
I may be starting to answer my own question. Just discovered the `FHEE__EEM_Answer__get_attendee_question_answer_value__answer_value` filter in `includes/models/EEM_Answer.model.php` which may be exactly what I need.

[2015-06-12 18:21] tn3rb commented on #88
It's not exactly clear what it is that you are asking or looking for in your first comment...
you say you are looking for where the form inputs are output...
then say you can add some filters...
filters for what exactly?

If you just want to grab a copy of the incoming attendee registration information, then I *think* you may want to look at where the attendee information is processed, which is in

[2015-06-12 18:25] richardtape commented on #88
It's the `value` property of the inputs I was after a filter. The filter I discovered does what I need. You're right, my question was vague, apologies.

The add-on you linked looks awesome. It currently only does the basic user info, we need a few other bits and pieces so the filter is invaluable.

[2015-06-12 18:25] #88 closed

[2015-06-12 18:44] tn3rb commented on #88
Do you want to get the all of the values for each of the registration form inputs upon submission?

Because if so, then I don't think that filter will do what you want, as I believe that is employed more so when you are populating a form with existing attendee info. It is really only called from \EE_SPCO_Reg_Step_Attendee_Information::reg_form_question() which is part of the form generation, not t

[2015-06-12 18:47] richardtape commented on #88
It's cool, the filter I mentioned does what I need. To pre-fill the value of the input before the user submits based on user meta stored. i.e. if we have their First and Last name stored as user meta, I want to pre-fill that information into the relevant inputs on the registration page for them, but still allow them to change it should they wish.

The filters you mention look super useful for some

[2015-06-12 18:49] nerrad commented on #88
The filter you are using for pre-populating based on user meta for logged in user is exactly what we use for the WP User Integration addon :)

[2015-06-12 18:56] tn3rb commented on #88
oh as well... re:

"The add-on you linked looks awesome. It currently only does the basic user info, "

are you basing that on the form inputs shown in the screenshots on the addon sales page?

those examples are merely using the Personal Information question group question only, it can link more data than that, and I'm sure you would find it less work to extend that addon than to reinvent the whe

[2015-06-12 18:59] richardtape commented on #88
I'm basing that on the following note in a yellow box

Is that not the case for custom user meta and custom registration questions with that add-on?

The reg form is behind a login (it's mandated in our case)

[2015-06-12 19:03] tn3rb commented on #88
my apologies, you're right.

If you are already behind the login, then you should be fine.

[2015-06-12 19:26] richardtape commented on #88
:+1: thanks both, really appreciate your input.

[2015-06-22 18:20] richardtape opened #89 "Question: Why does the SPCO clear (or not have access to) the current user object when processing a registration"
Hey folks,

I can't quite work out where this is happening (and hence don't know if it's a bug or by design) but, if I hook into  `FHEE__EE_SPCO_Reg_Step_Attendee_Information___process_registrations__pre_registration_process` and do one of the following;

`$user_id = get_current_user_id(); var_dump( $user_id );`

or

`global $current_user; var_dump( $current_user );`

I get back nothing or an empt

[2015-06-22 19:13] nerrad commented on #89
not sure what's happening in your case.  I use the same filter in our WP User Integration addon and get_current_user_id() is working fine for me.  Doublecheck the filter setup and try var_dumping ANYTHING to see if the callback is even getting called.

[2015-06-22 19:16] richardtape commented on #89
Thanks @nerrad  The callback is definitely being called (I'm adding to a log to see what's happening)

The user ID is available when the form is displayed. However, when the AJAX submission happens, the user ID is not available. (I wonder if that's an internal WP thing, because the AJAX process itself isn't attached to a user...?)

Are you saying that when you make the ajax submission that you can

[2015-06-22 19:19] nerrad commented on #89
Yes the WP User Integration uses the same filter as what you are using and the callback has access to current_user_id().

In WordPress, ajax requests run in the context of the current_user.

[2015-06-22 19:20] nerrad commented on #89
Here's a snippet from the callback in the WP User Integration addon:

[code]

[2015-06-22 19:35] richardtape commented on #89
Super, super weird.

I'm running WP 4.2.2, multisite, EE Version 4.6.32.rc.001, no other plugins other than the one I'm developing, which I've just reduced to just adding a callback to that filter thus;

```add_filter( 'FHEE__EE_SPCO_Reg_Step_Attendee_Information___process_registrations__pre_registration_process', array( $this, 'FHEE__EE_SPCO_Reg_Step_Attendee_Information___process_registrations__

[2015-06-22 19:53] richardtape commented on #89
I've worked out a way around the problem (which, frankly, is disgusting, but it'll do for now) but I'd be interesting to work out why this is happening as this work-around could do with going away as fast as possible ;)

[2015-06-22 19:59] tn3rb commented on #89
you have my curiosity peaked...

what's this disgusting work around?

[2015-06-22 20:03] richardtape commented on #89
hah.

1. Hook into `AHEE__before_spco_whats_next_buttons` to add a hidden form field with a hashed version of the User ID. (The form only displays if a user is signed in anyway)
2. Hook into `wp_ajax_process_reg_step` to get the `$_POST` of that hidden form field, dehash it, sanitize it and set it to a class property.
3. Fetch that property in `FHEE__EE_SPCO_Reg_Step_Attendee_Information___process

[2015-06-22 20:03] tn3rb commented on #89
oh and for the record:

[code]
worked for me

[2015-06-22 20:04] nerrad commented on #89
Richard, by any chance do you have any object-caching setup on the server you are testing things on (fringe thing maybe but worth a check)

[2015-06-22 20:04] tn3rb commented on #89
have you checked what other plugins you have active ?

[2015-06-22 20:05] richardtape commented on #89
No object caching. No other plugins active (including mu-plugins). Default theme.

[2015-06-22 20:06] nerrad commented on #89
yeah a puzzler, sorry we can't be more help but no reason get_current_user_id() shouldn't be available.  Is it possible elsewhere in the plugin you are developing that the global $current_user got reset?

[2015-06-22 20:07] tn3rb commented on #89
are you using Firebug or something similar?
what URL are the AJAX requests going to?

[2015-06-22 20:07] richardtape commented on #89
I reduced the plugin down to just the filter and callback.

Weird one. I'll have to live with this work around for now (deadlines, deadlines) but I *will* revisit this and get back to you. Feel free to close this thing though and I'll just report my findings in the future.

[2015-06-22 20:07] nerrad commented on #89
fwiw IF there was a problem with the this filter we'd be hearing from a lot of our users using our WP User Integration add-on :)

[2015-06-22 20:07] #89 closed

[2015-06-22 20:09] richardtape commented on #89
The AJAX requests go to the correct admin URL. I've inspected the actual AJAX requests themselves and everything looks hunkydory.

Yeah I'm entirely certain it isn't a problem with ee now after you guys have said you use the same filter elsewhere.

Thanks so much for your help, really appreciate it.

[2015-06-22 20:10] nerrad commented on #89
well I'm knocking wood, hope we don't all of a sudden get a bunch of reports from our users ;)

[2015-06-22 20:18] tn3rb commented on #84
this (or a version thereof) has been merged to master

[2015-06-22 20:18] #84 closed

[2015-06-22 20:18] tn3rb commented on #87
a version of this has been merged to master

[2015-06-22 20:18] #87 closed

[2015-06-22 20:21] tn3rb commented on #78
@jonathan-dejong
so has this issue been resolved for you?

[2015-06-22 20:22] tn3rb commented on #77
@jonathan-dejong
has this issue been resolved for you?

[2015-06-23 06:21] jonathan-dejong commented on #78
@tn3rb
I haven't had the chance to pursue this further yet as other things keep coming in between! :)
But if you want to close it for simplicity sake that's fine.

[2015-06-23 06:21] jonathan-dejong commented on #77
As far as it can be yes :)

[2015-06-23 06:21] #77 closed

[2015-06-26 16:37] richardtape opened #90 "Question: Are there any filters on the CSV output for registrations?"
Specifically, I'm looking to remove (quite a few) columns from the output. I've had a look through but can't seem to see any. Have I missed any? Ideally I'd also like to be able to inspect and modify the data before it gets passed into the export routine (to perhaps add other metadata i.e. I can get a user ID based off the fields that are submitted - everything for us is behind a log in screen).

[2015-06-26 16:52] tn3rb commented on #90
our CSV import / export systems utilizes the following classes:

 * /core/db_classes/EE_CSV.class.php
 * /core/db_classes/EE_Export.class.php
 * /core/db_classes/EE_Import.class.php

but is currently undergoing a lot of changes due to some issues.

the best recommendation for you at this point is probably to copy code out of the export class and create your own method for exporting just the conten

[2015-06-26 16:53] richardtape commented on #90
Thanks for getting back to me so quick, I really appreciate it. will
take a look at the classes you mentioned and see what our best foot
forward is.

Brent Christensen wrote:

[2015-06-26 18:33] #90 closed

[2015-06-26 22:05] richardtape opened #91 "Session/Cart cleared before getting to event registration page"
Hey folks, this is a bit of a strange one, and I'm fairly sure it's platform specific, but I was hoping you may be able to help shed some light.

We're using the Single Page Checkout - all events are free. So the process is a user sees an event, clicks to view details, then clicks 'Register Now' as there's only ever one ticket type, they're always 0-priced. They're taken to the 'event-registration

[2015-06-26 22:12] richardtape commented on #91
As a follow-up, if I do

`add_filter( 'FHEE_load_EE_Session', '__return_false' );`

locally, I get the same behaviour as on the staging environment - i.e. an empty cart always on the event-registration page.

[2015-06-26 22:36] tn3rb commented on #91
we only use the PHP Session ID as an identifier for the session data which is saved to the database via the WordPress Transient API. So as long as you have PHP sessions enabled on your system that *should* work. The main point being that transients are saved in the database and not in the session.

I would be more inclined to look into whether you have any caching active on your server, and if so,

[2015-06-26 22:43] richardtape commented on #91
I think I've just had a brain-wave.

The transients API has a max-length for the name of the transient. Our PHP session IDs are of the form

`ST-14208-KPrASc6yYqJt4mRecE33-casstgidubcca`

and so are pretty long.

If you're using that (with a prepended `ee_ssn_` too) then I'm 99% certain that it's too long for `set_transient` and it's barfing. I'll look into this now.

[2015-06-26 22:50] tn3rb commented on #91
ya that would explain it
we'll create a ticket

[2015-06-26 22:55] richardtape commented on #91
OK, yep, confirmed. That it was the length of the transient. As this is...clearly...critical for us, I'm happy to work out a PR for this.

Maybe wrap a filter around the transient name? Would that sound sensible? Perhaps I could create a method which returns the transient name which is then used in `set_` and `get_transient` which returns a filtered value.

Thoughts?

[2015-06-26 22:58] tn3rb commented on #91
I'm working on a fix right now
will post a branch as soon as I push

[2015-06-26 23:04] richardtape commented on #91
(for my testing purposes, I actually just wrapped `$this->_sid` in an `md5()` call as I know that it'll always has a length of 32 characters, then with the prepended 'ee_ssn_' it'll never be more than 42 chars which is under the limit of 45 chars. I'm not suggesting that's the way forward by the way, just wanted to let you know how I tested)

[2015-06-26 23:07] richardtape commented on #91
Oh and also, if it's decent to have some background:

https://core.trac.wordpress.org/ticket/13310

[2015-06-26 23:09] nerrad commented on #91
I've been watching that ticket for a long time richard :) You'll even see a post from me in it.  Interestingly enough, right before you mentioned the transient issue, Brent and I were talking about it being a possible cause for your issue :)  Thanks for working with us on this!

[2015-06-27 16:15] richardtape commented on #91
:+1:  My pleasure. Thanks for all your help as always :)

[2015-06-27 21:32] tn3rb commented on #91
@richardtape

plz have a look at https://github.com/eventespresso/event-espresso-core/tree/BUG-8426-session-id
for the fix for this issue

[2015-06-27 21:47] richardtape commented on #91
I love open source software. Thanks so much for doing this.

So, if I understand this correctly, you have a filter in the `_generate_session_id()` method https://github.com/eventespresso/event-espresso-core/blob/BUG-8426-session-id/core/EE_Session.core.php#L500 which is used to set the class property, and then that is used (with a new class constant) to form the name for the transient.

So, theore

[2015-06-27 21:50] tn3rb commented on #78
kk thnx
just reopen or start a new issue if required

[2015-06-27 21:50] #78 closed

[2015-06-27 21:50] tn3rb commented on #77
kk thnx

[2015-06-27 21:53] richardtape commented on #91
Actually, you already `md5()` it so it should be fine by default. Awesome. :)

[2015-06-27 21:57] tn3rb commented on #91
ya I had to leave the session id prefix outside of the filter because we use that for garbage collection. If I had allowed the full session transient key to be filtered, then the current garbage collection would not work.
So it will be up to the dev to ensure that whatever they return for the filtered session id is not ultimately truncated when used as the transient key.

plz let us know if this f

[2015-06-27 21:58] richardtape commented on #91
I absolutely will. Will probably be early next week. But I'm 99.9% certain this fix will work as it's very similar to what I did in my tests.

[2015-07-01 15:18] joshfeck commented on #91
Update: BUG-8426-session-id was merged to Master branch and deleted.

[2015-07-01 22:19] joshfeck opened #92 "Datetime Selector Planning"
These are the options that were outlined in our P2. They are for planning the next templates we build that will focus on datetime selection.

<blockquote>

<h2>Datetime Selector</h2>
Almost the same as what we have now, except the inclusion of a dropdown at the top of the Ticket Selector. The rest of the Ticket Selector is initially blank. The dropdown is filled with the Datetime options for that

[2015-07-06 11:41] vilhellem commented on #92
The datetime selector option seems most user friendly for most use cases.

[2015-07-06 17:37] richardtape commented on #91
:+1: Amazing. Thanks so much.

[2015-07-06 17:37] #91 closed

[2015-07-06 17:54] richardtape opened #93 "Question: Can question groups be checked by default within the create new event screen"
Hey folks,

Is it possible to have a custom-created question group always be checked by default when creating a new event?

I can see that if I set `QSG_system` to `1` in the esp_question_group table for my custom question group that it works like the required 'personal information' (i.e. doesn't have a checkbox) but that's sadly not going to work for us because there are *some* events where we do

[2015-07-06 19:29] nerrad commented on #93
There currently is no facility for setting the default question groups checked off when an event is created (other than making a question group a "system group" as you discovered - but that's not what should be done).

I think it's a good idea to allow for this via a filter as you described.  Feel free to do a pull request and it definitely will be considered.

Keep in mind that `espresso_events_R

[2015-07-06 20:19] richardtape commented on #93
OK, thanks for getting back to me @nerrad.

I'll get a PR up and running sometime soon. I'll bear in mind what you mentioned w.r.t the second file.

[2015-07-08 19:39] richardtape opened #94 "Hard limit on the number of question options"
Here's a fun one.

We have a custom question - a dropdown field - which has a lot of options. We require it to have around 230 options (I'll be making this a select2 field on the front-end so people can actually use this thing).

However, we've input 197 options and we're now unable to add any more.

I have a suspicion it's akin to the WordPress menu manager problem where you can run into a url qu

[2015-07-08 21:33] nerrad commented on #94
I'm not absolutely certain either, but you *may* be hitting the php `max_input_vars` limit. (see http://php.net/manual/en/info.configuration.php#ini.max-input-vars)

[2015-07-09 11:41] #68 closed

[2015-07-09 11:41] #69 closed

[2015-07-09 11:41] #70 closed

[2015-07-09 11:42] nerrad commented on #71
gonna leave these kind of tickets internal for now cause we're catching them as we work on other things.

[2015-07-09 11:42] #71 closed

[2015-07-10 12:59] cstucker25 opened #96 "WP Users Integration and SQL"
Has anyone come dealt with this scenario before? I have been working with your espresso 4 core plugin, multi registrations, WP users integration and I see some limitations. Here is what I am looking to do.

Scenario: I am looking to sell seminars that will allow for one person to register multiple people. I do see that the User Interface is great for this. I also want to capture the system questio

[2015-07-10 14:09] joshfeck commented on #96
Hi there,

You will find the answer values that you are looking for in the _esp_answer table.

[2015-07-10 19:02] richardtape commented on #94
Confirmed: It is, as you suspected @nerrad , `max_input_vars` limit being hit. It was set to 1000 on our environments. Bumping it up allowed more to be saved.

Now the question is - for you folks - what would you like to do about it? Perhaps a warning if someone tries to save something and they hit the limit?

[2015-07-10 19:09] nerrad commented on #94
Well we already do something like that on the events editor because we had customers commonly encountering that issue there.  However, its something we haven't encountered (up until you :) ) on the question editor.  If you want to take a look at what we did for the event editor you can and maybe do a pull request for the question editor.  It's unlikely to be something high on our priority list to

[2015-07-17 13:24] cstucker25 commented on #96
I see that table, but is there an _esp_answer_meta table?

[2015-07-17 13:38] nerrad commented on #96
no there isn't an esp_answer_meta table.  I'm sorry but its not very clear what you are wanting to know (or why you're asking about an `answer_meta` table).

All answers to questions are recorded in the `esp_answer` which joins with the `esp_registration` table via `REG_ID` and with the `esp_question` table via `QST_ID` and records the answer value for that intersection.

Going by what you are say

[2015-07-17 13:55] cstucker25 commented on #96
Sorry, if I am confusing.  Basically, I am creating a bunch of products in Woocommerce. When someone purchases a product individually (course), they create an account (added to the WP tables (users_meta)).  I have some custom fields, such as DOB, etc...  that are captured in this users_meta table.

I want to do something similar with Events, but I am having a hard time locating the actual user inf

[2015-07-17 14:04] nerrad commented on #96
You've listed a screenshot of every table **except** the `esp_answer` table which I explained the relationships in my reply.  It answers your question about where the answers to your custom questions are stored.

The attendee table contains answers to system questions because it saves a join when retrieving that consistent data.  But *all* custom question answers is stored in the `esp_answer` tabl

[2015-07-17 15:26] tn3rb commented on #96
@cstucker25
Only the system questions (the ones in esp_question table that have a value for QST_system) are recognized as being user properties.

You are assuming that ALL custom questions should become part of the user meta but that simply is not the case with Event Espresso. Often custom questions are used to capture a registrant's preferences for a particular event, for example: Do you want the

[2015-07-20 07:45] jonmixnblend opened #97 "Payment module integration questions"
Hi, I've recently been developing some payment methods for some friends of mine [City Soiree](http://citysoiree.co.za/) in Cape Town as a favour.

I’m almost done with the first gateway out of two, which is an integration with [PayU - South Africa](https://payu.co.za/). I just wanted to ask a few questions if possible that I can’t find in the [docs](http://developer.eventespresso.com/docs/ee4-paym

[2015-07-20 20:49] mnelson4 commented on #97
hi @jonmixnblend
Regarding "Payment Form - Customization":

before embarking on using another javascript library for performing client-side validation, I think you should know a little more about what EE4's form system can already do for you: it already handles client-side validation using jQuery validate for validating credit card numbers, CVVs, phone numbers, etc. In our documentation it tells y

[2015-07-20 20:59] jonmixnblend commented on #97
Thank you so much:)

That pretty much answered everything I needed to know. Hope you're having a good day that side.

Re: that redirection to the thank you page I will test that some more and if it is a bug rather than something stupid I am doing I will revert and submit a ticket.

Oh lastly, your guys product seems to be really well put together. Thanks, you guys really helped open up the music s

[2015-07-20 20:59] #97 closed

[2015-07-20 21:33] mnelson4 commented on #97
cool! Maybe you want to post a review on wordpress.org for the EE4 plugin? https://en-ca.wordpress.org/plugins/event-espresso-decaf/ (need to login to post a review)

Also when you're done these payment methods, consider submitting them to our third-party addons page and selling them: http://eventespresso.com/third-party-addons/ (or if you'd rather not sell them and support them, putting them on g

[2015-07-20 21:34] jonmixnblend commented on #97
I will do for sure.

Thanks again:)

best
Jon

On Mon, Jul 20, 2015 at 11:33 PM, mnelson4 <notifications@github.com> wrote:

--

*Email:* jon@mixnblend.com

*Phone: *+27 76 393 3300

*Skype: *jonbreakdesign

[2015-07-21 15:30] tn3rb commented on #96
@cstucker25
Do you have any other questions regarding this or can we close this issue?

[2015-07-22 09:37] Kenshino opened #98 "WPML"
Hello -

I made a plugin meant to integrate popular plugins with EE4. Currently it includes GravityForms and WordPress SEO by Yoast.

I have had a person ask if I could do the same with WPML. See https://wordpress.org/support/topic/wpml-integration-6?replies=2

I'd like to ask if you guys are working on it?

Cheers!

[2015-07-22 12:17] nerrad commented on #98
Hi Kenshino,

No we aren't working on a wpml integration at this time (and no immediate plans to do so either).

[2015-07-22 12:17] #98 closed

[2015-07-22 16:20] mnelson4 commented on #98
Hey kenshiro have you considered putting your plugin on our list of third party addons? http://eventespresso.com/third-party-addons/
We receive requests for those integrations rather frequently and you could probably sell support and access to them

[2015-07-22 16:24] Kenshino commented on #98
@nerrad: Thanks! I might work on WPML integration in my free time, but if we're lucky, one of my clients might request it and it'll get done immediately :dancer:

@mnelson4: Not very concerned about selling support - but actually it seems like Seth (i think from your team) has already helped me add my plugin onto the list. See https://wordpress.org/support/topic/works-pretty-well-6?view=all#post-

[2015-07-22 19:05] sewmyheadon opened #99 "Installing via Composer"
Hi Guys,

Any thoughts or plans on making EE4 installable via Composer?

We develop with Roots/Sage and, on some sites, are managing plugins and dependencies via Composer, so it would be great if we could include EE4 without having to repackage it, which is what I'm doing now.

https://roots.io/wordpress-plugins-with-composer/

Thanks!

[2015-07-22 20:40] mnelson4 commented on #98
oh cool!

[2015-07-24 15:26] tn3rb commented on #99
it actually has come up in discussion recently, but not any formal plans per se.

[2015-07-24 15:41] tn3rb commented on #99
...aaaaand looks like we already have a ticket in our system for doing so.
priority on that ticket is currently set to low, so if you need/want this sooner rather than later, then a pull request will get it into core sooner.

[2015-07-24 15:43] sewmyheadon commented on #99
Terrific - glad to hear it's on your radar.

For plugins in the wp.org repo, we're just using wpackagist.org, but for commercial plugins, we're either repackaging, or passing along license keys in our composer.json file.

A few commercial plugins that do this already:

* Advanced Custom Fields
* WP Migrate DB Pro

Here's an altered snippet from a site's composer.json file showing how I'm including

[2015-07-28 20:16] mnelson4 commented on #97
hey @jonmixnblend are you "dkoyle" on wordpress.org? was that review yours? https://wordpress.org/support/view/plugin-reviews/event-espresso-decaf?filter=5

[2015-07-29 07:22] jonmixnblend commented on #97
Hey hey

No that wasn't me. I've kind of been tied up on some development work since
I mailed you. As I said, I'm doing these gateway methods for my friends as
a favour, so I get to them when I can.

I'm going to get both of them to write a review for you though, will let
you know when they have for sure.

best
Jon

On Tue, Jul 28, 2015 at 10:16 PM, mnelson4 <notifications@github.com> wrote:

--

[2015-08-04 15:48] jonmixnblend opened #103 "Question about handling 3d Secure Enrolled Cards with Payment Method"
Hi Guys.

Hope this finds you well.

I've almost finished writing an Event Espresso payment method for use with [PAYU South Africa](https://payu.co.za/) and right at what I thought was the the end of the process I've hit a bit of a snag.

I'm using their [Enterprise API](http://help.payu.co.za/display/developers/Integration%3A+Enterprise+API) which to process transactions, which is an onsite payme

[2015-08-04 16:33] mnelson4 commented on #103
hey @jonmixnblend, ya that 3d secure definetely throws a monkey wrench in the situation doesn't it?
It sounds like really it's an OFFsite gateway, where `EE_Offsite_Gateway::set_redirection_info()` replaces `EE_Onsite_Gateway::do_direct_payment()` by sending the first API call to process the transaction. If the response indicates a redirect for 3d secure, then it does so and it's a regular offsite

[2015-08-04 16:35] jonmixnblend commented on #103
Thank you so so much for the quick response and advice.

I will get on it and let you know:)

best
Jon

On Tue, Aug 4, 2015 at 6:33 PM, mnelson4 <notifications@github.com> wrote:

--

*Email:* jon@mixnblend.com

*Phone: *+27 76 393 3300

*Skype: *jonbreakdesign

[2015-08-06 19:20] designabyss opened #105 "single_page_checkout.css is overriding theme css"
I am working with a custom theme.

Initially detected the issue while changing a css property by overriding it in theme css file.

**File:** modules/single_page_checkout/css/single_page_checkout.css
**Class:** .spco-whats-next-buttons

**Screenshot**

![image](https://cloud.githubusercontent.com/assets/8544814/9121724/8fc2b6a4-3c9d-11e5-94a3-27278f89c6fd.png)

[2015-08-06 19:36] nerrad commented on #105
Hi there, we need more info other than a title.  What theme are you seeing this with?  What css styles are being overridden? What examples do you have illustrating this?

[2015-08-06 20:05] tn3rb commented on #105
just add the class of a parent id to your css selector in your theme.css file and your styles will stick.

ie:

[code]

more specific css selectors will override less specific css selectors, so the above is more specific than the existing style set in the spco css.

PLZ NOTE, that it is more performant to use the closest selector to the element you want to affect. So for example, using :+1:

[code

[2015-08-06 20:33] designabyss commented on #105
Thank you, targeting with the ID also did the trick

[2015-08-06 20:36] #105 closed

[2015-08-07 10:10] designabyss opened #106 "Question: Where to retrieve form data at checkout?"
There are several hooks available via checkout such as the following:

**AHEE__SPCO__after_registration_steps**
**AHEE__SPCO_after_reg_step_form**
**'AHEE__$slug__reg_step_start**

*I want to perform an action just when the registration is complete and user is redirected to thank you page.* I have retrieved various types of data in past when dealing with event pages in order to add custom features

[2015-08-07 16:36] mnelson4 commented on #106
@tn3rb might have a better suggestion, but here's what I'd suggest:
use the action `AHEE__EE_SPCO_Reg_Step_Finalize_Registration__process_reg_step__completed`.
The first argument passed is the `EE_Checkout`, which has a property called `transaction` which is an `EE_Transaction` which can get you any of the registration info you're looking for (see https://github.com/eventespresso/event-espresso-co

[2015-08-10 15:52] tn3rb commented on #96
closing due to no response

[2015-08-10 15:52] #96 closed

[2015-08-10 15:54] #94 closed

[2015-08-10 15:56] tn3rb commented on #79
@nerrad
was this issue ever found in core? And is there a corresponding Codebase ticket?
I'm assuming it's within the MS addon.

[2015-08-10 15:58] tn3rb commented on #93
@richardtape
are there still plans for a pull request regarding this or can I close this issue?

[2015-08-10 16:05] nerrad commented on #79
I never tried to reproduce.  I don't think this involves the multi-site add-on because that isn't publicly released and this report outlines it just happened on core.

[2015-08-10 17:01] mnelson4 commented on #79
hey I just looked at `EEH_Debug_Tools.helper.php` line 278 and `EE_Error:add_error` is indeed being called WITHOUT the file, function and line parameters. I'll create a ticket and ask @sumobi to verify it resolves the issue ( @tn3rb feel free to take back if you like)

[2015-08-10 17:07] mnelson4 commented on #79
kk @sumobi can you try branch https://github.com/eventespresso/event-espresso-core/tree/BUG-8631-EE_Error-add_error-called-incorrectly-from-EEH_Debug_Tools to see if it removes the error for you on plugin activation?
Note: the error you saw was generating while trying to tell you about some OTHER error. So this fix will probably reveal what the other error was (so expect there to be another error

[2015-08-12 18:49] designabyss commented on #106
Hello again. Thanks for the response @mnelson4.

I tried the mentioned code but when I click on 'Proceed to Final Registration', I get the following error:

**This registration step could not be completed. Please refresh the page and try again.**
This is coming via Javascript's reg_step_error

On refreshing, the page proceeds to the attendee information step where it shows the created registration

[2015-08-12 20:44] mnelson4 commented on #106
It would help if you could attach the ajax response body when there is an error (eg use a web inspector to see what the AJAX response looks like) it might have an error in it that will tell us

[2015-08-13 00:50] designabyss commented on #106
![xhr](https://cloud.githubusercontent.com/assets/8544814/9240337/50fefb2c-417e-11e5-9259-dda34473f658.PNG)

[code]

That helps?

[2015-08-13 04:12] mnelson4 commented on #106
meuh not too much. I think it will be easier to just copy-and-paste that
code into my functions.php, along with an `add_filter(...)` call, when I
get a chance (atm we're trying to get 4.8 out the door)

[2015-08-13 16:32] tn3rb commented on #106
@designabyss
You're going to need to dig into those responses to see more info. Click on the little triangle just before where it says "Object" to see more info. Look for any errors that might be disrupting things. Other thing you can do is check your php error logs to see if there's anything in there.

[2015-08-14 17:05] designabyss opened #107 "Question: Update name in contact list rather than making new"
I am implementing a custom widget in dashboard area which shows a list of event registrations by matching the email (/username) of logged in user (attendee).

I am using get_attendee() from EEM_Attendee searching for matched email.

When a visitor registers for event using the same email used before but changes the name, it registers as a new contact ( https://eventespresso.com/features/contacts/

[2015-08-14 21:44] mnelson4 commented on #107
I think this would just require adding a filter eh?

[2015-08-15 19:51] designabyss commented on #107
@mnelson4 where would that be? :/

Tried hooking in the following doing corrections but it didn't do the trick... The real job is being done somewhere I don't know.

From Class ***EE_SPCO_Reg_Step_Attendee_Information***
[code]

[2015-08-17 15:43] mnelson4 commented on #107
Hey @designabyss can you submit a pull request which adds the filter you need?

[2015-08-18 09:12] nvphuc1989 opened #108 "Create payment method plugin using direct post method"
Hi EE team,

I'm creating an EE payment method plugin for our gateway. We should use the direct post method where the credit card info (to be input in the EE registration-checkout page) is submitted directly to gateway server instead of EE server. You can find a similar work flow here: http://developer.authorize.net/api/howitworks/dpm/.
The high level solution as below:
1. User will select a produ

[2015-08-18 16:44] mnelson4 commented on #108
hi @nvphuc1989
this sounds very similar to our vanco gateway, so it would probably be best for you to look how our vanco payment method works. do you have access to our entire github repo? here is the link to request access: http://eventespresso.com/developers/request-repo-access/

[2015-08-18 17:29] garthkoyle commented on #108
I've granted @nvphuc1989 access to the Vanco repo.

[2015-08-18 17:41] tn3rb commented on #107
@designabyss
Just some friendly advice: I think you should reconsider updating the contact info when someone uses the same email address for multiple people UNLESS you are also placing some sort of constraint or UI element in place to ensure that this doesn't happen. It is our experience that people WILL use the same email address for multiple people, families and businesses are two examples that

[2015-08-18 19:17] mnelson4 commented on #108
thanks @garthkoyle.
looking at the javascript file https://github.com/eventespresso/eea-vanco-pm/blob/master/assets/js/eea_vanco_payment_method.js should help with question # 1.
for question # 2: the order has already been created in ee when you arrive at the payment step, so again see the javascript file, and also the gateway file, payment method file, and form file located here: https://github.c

[2015-08-19 01:08] nvphuc1989 commented on #108
Thanks @mnelson4 and @garthkoyle for your quick response.
I'm getting 404 error when access the both links above. Could you please help to check?

[2015-08-19 13:42] garthkoyle commented on #108
Sorry, @nvphuc1989 you need to accept the invitation before you can access that repository.

[2015-08-19 14:24] nvphuc1989 commented on #108
Thanks @garthkoyle now I can access it.

[2015-08-20 09:29] mogmachine opened #109 "Urgent Bug: Overselling issue"
Sorry, I wouldn't normally bother devs here but support have told me to do so.

In short, EE4 is overselling all of our events regardless of what limits we set because they are in high demand and multiple people add to the cart at the same time. I have reduced the session to 10 mins, but we oversold 10 tickets by 2 last night which caused a huge issue.
In 48 hours we have a show with 3000 tickets

[2015-08-20 16:46] tn3rb commented on #109
@mogmachine

I'm working on a fix right now...
will post a branch for you to try out the moment it's ready

[2015-08-20 20:49] thread-ncraig opened #110 "Question: Extending core via hooks"
Is there any documentation on how hooks work in relation to EE_Admin_Hook.php and the Admin Page object? Im trying to extend the core with a new add-on but the hook class only fires for the Event Admin page. I need it to fire on multiple admin pages to add the pieces of the add-on to each page. (Events, registrations, venues).

[2015-08-20 20:56] nerrad commented on #110
hey there, documentation is sparse for that currently.  What is it you are wanting to do and I can point you in the right direction (hopefully).

[2015-08-20 21:28] mogmachine commented on #109
@tn3rb  thanks Brent.

[2015-08-21 12:27] thread-ncraig commented on #110
The add-on I’m writing needs to interact with the Events Admin page, the Registrations Admin page and the Venues admin page. In my add-on called ‘Services’, when I create a espresso_events_Services_Hooks.class.php it is only catches on the Events Admin page. If I try to add a second hook set, espresso_registrations_Services_Hooks.class.php it interacts with the Registrations Admin Page but the fir

[2015-08-21 13:36] nerrad commented on #110
Sounds like you were on the right path Nicholas.  It also sounds like there may be a bug with the hooks system we have but without seeing the code that's hard to know.

As an alternative, you can register your new meta-boxes directly using the core wp method for adding metaboxes.  Here's the value's you'll use for the `$screen` argument

- Event Editor: `espresso_events`
- Registration Details: `e

[2015-08-21 13:42] thread-ncraig commented on #110
Yes, that does help,  I will go that route to get the project completed, but I can send you a copy of my current beta code if you would like to see the hook system issue in action.

Regards,

Nicholas Craig
Director of Information Technology

From: Darren Ethier [mailto:notifications@github.com]
Sent: Friday, August 21, 2015 9:37 AM
To: eventespresso/event-espresso-core <event-espresso-core@norepl

[2015-08-21 13:44] nerrad commented on #110
Yah that'd be great if you could Nicholas, I'd like to determine what's going on with the hook system because if its working the way you described, its not very useful :)

[2015-08-21 13:47] nerrad commented on #110
oh forgot to mention, you can email a copy of your beta to darren at eventespresso.com

[2015-08-21 15:24] nerrad commented on #110
I'm just going to close this issue for now, feel free to reopen if there's still issues related to the original question :)

[2015-08-21 15:24] #110 closed

[2015-08-21 15:27] thread-ncraig commented on #110
thanks

Regards,

Nicholas Craig
Director of Information Technology

From: Darren Ethier [mailto:notifications@github.com]
Sent: Friday, August 21, 2015 11:24 AM
To: eventespresso/event-espresso-core <event-espresso-core@noreply.github.com>
Cc: Nicholas Craig <nick@threadgroup.com>
Subject: Re: [event-espresso-core] Question: Extending core via hooks (#110)

I'm just going to close this issue for

[2015-08-21 16:18] tn3rb commented on #109
you can take a look at the work I have in progress if you like
https://github.com/eventespresso/event-espresso-core/tree/BUG-8698-ticket-sellouts
as is it should prevent overselling
but requires some further work to release reserved tickets for any failed transactions.
just haven't pushed those commits yet.
plz DO NOT activate this branch on a production server just yet
no testing has been perform

[2015-08-21 16:26] mogmachine commented on #109
Thanks B. ..I really appreciate your time and work, ...I will not deploy this to the live site just yet ;) ..and as it is Friday night here I will be out for the next 3-4 hours, ..but then back in front of the computer after that for some potentially beer fuelled testing.
Will check back to see if you have committed the changes by then.

[2015-08-21 16:27] nvphuc1989 opened #111 "How to add custom validation on the registration-checkout page"
On the registration-checkout page, my payment method has a credit card form with some custom validations need to be done at client side such as verify card number based on selected card type, verify the combination of card expiry month and expiry year...
I tried to play with jQuery Validation but not luck. Please suggest how to add a custom validation for my billing form on the EE registration-che

[2015-08-21 17:14] mnelson4 commented on #111
hi @nvphuc1989 jQuery validate should be able to handle it. You'll just need to (1) define some custom validators (see http://jqueryvalidation.org/jQuery.validator.addMethod/), and then (2) you might want to dynamically add or remove validation rules based on events that happen in your form.

For an example of (1), our evertec gateway changes whether certain form fields are requiring dynamically.

[2015-08-21 18:48] thread-ncraig commented on #110
Hey Darren,

Quick question, where would the best place be to add the metaboxes as the hook systems not working and I don’t want to add it to the main plugin instantiation file.
I guess the next best place would be the register_addon function under admin_callback?

Regards,

Nicholas Craig
Director of Information Technology

From: Darren Ethier [mailto:notifications@github.com]
Sent: Friday, Augus

[2015-08-21 18:50] nerrad commented on #110
The best place is to register them on a callback for the `add_meta_boxes` hook.  That will work for all the cpt routes (events, venues, attendees).  However, it won't work on the non cpt routes (registrations, transactions) unless you use the current master branch of EE core (I just pushed a fix today).

If you aren't using the current master, the next best place to register the metaboxes for regi

[2015-08-21 19:46] thread-ncraig commented on #110
That makes sense, I just wasn’t sure if there was a better place to add the add_meta_boxes hook than in the additional_admin_hooks as that fires as part of the init.

For the current version im on, the hook class works for the registrations, so im handling that there, and the add/update for events and venues in the main EE_Services.class under additional_admin_hooks

Regards,

Nicholas Craig
Direc

[2015-08-21 20:51] tn3rb commented on #109
might want to hold off on your beer fuelled testing, there's a few bugs i need to work out...
I'll let you know when I push some fixes

[2015-08-21 23:15] tn3rb commented on #109
plz feel free to test out that branch

[2015-08-22 09:22] mogmachine commented on #109
I have the branch, ..but am shooting a wedding today, ..so will not be able to test until Sunday, ..but I have marked a few hours on Sunday for testing with the client and will report back.

Can you just clarify at which point is should stop the oversell ...when adding to the cart (so not possible to add if tickets are already in others cart)? I assume this, ..just checking so I know what to look

[2015-08-23 12:12] mogmachine commented on #109
First test not good I am afraid. This is what I did.

- made an event with a limit of 5.
- made a ticket with a limit of 2 for this event (often the case that the ticket limit is less than the event limit as there may be multiple ticket types).
- opened 2 new sessions in parallel and added 1 ticket to one cart and 2 to the other.
- went through the reg process in parallel one ofter the other.
- bo

[2015-08-23 12:26] mogmachine commented on #109
It continues.
- I then created a second ticket type with a limit of 3
- on the front end only 2 showed as available (because 3 of the total event capacity of 5 had been sold).

I then in different browsers added those 2 to my cart and checked out simultaneously and again oversold the ticket, ..now overselling the event total too by 2.

http://grab.mogmachine.com/JOII

So all in all, ..didn't work.

[2015-08-24 16:38] tn3rb commented on #109
@mogmachine

sorry to hear you are having troubles. I would like to clarify a few things first (and my apologies in advance if this sounds condescending in any way, but it is standard practice in these types of situations to confirm some of the basics before proceeding).

 1) Please check the version of your Event Espresso installation that you are testing. Is it version 4.8.6.rc.000? You say you

[2015-08-24 19:05] mnelson4 commented on #106
hey @designabyss I just tried adding this chunk of code to my functions.php file
[code]
(almost exactly what you had)
and it's creating users and emailing them fine. I suspect the error you were getting was temporary (probably from branch switching, or leaving a registration alone for too long, or some other unique circumstances which are hard to reproduce) and would have gone away had you tried a

[2015-08-24 19:05] #106 closed

[2015-08-24 19:09] mnelson4 commented on #79
our support guys got around to testing this as well and it was merged into 4.8.0 and released. It just would have been nice to have confirmation from you that it was resolved.

[2015-08-24 19:09] #79 closed

[2015-08-25 08:15] mogmachine commented on #109
@tn3rb  Not in anyway condescending, ..but you will need to forgive me for not being able to reply and further text immediately. I am limited internet for the next couple of days.

[2015-08-26 03:18] nvphuc1989 opened #112 ""PAY_gateway_response" is hard-coded as an empty string when processing the function "apply_payments_or_refunds""
Hi EE team,

I have added Capture and Refund features in admin transaction details for our gateway plugin. After requested the capture/refund from the gateway, it will update the current transaction by requesting an Ajax action **espresso_apply_payment**. I have found that **PAY_gateway_response** parameter is hard-coded as an empty string when processing the function **apply_payments_or_refunds**

[2015-08-26 10:45] nvphuc1989 commented on #111
Thanks Mike Nelson, it works.

[2015-08-26 16:19] mnelson4 commented on #112
hi nvphuc1989, that method you're looking at, `apply_payments_or_refunds`, is intended for just recording payments (made somehow in a separate system), but not for actually processing payments (sending information to the gateway in order for them to actually withdraw the funds from the user's account). Admin-side payment processing is a feature the payment method classes themselves should be able

[2015-08-26 16:20] mnelson4 commented on #111
great! I'd be interested to see how you implemented it when you have a chance

[2015-08-26 16:20] #111 closed

[2015-08-26 21:55] mogmachine commented on #109
Ok, .finally found some time and a good connection, ..so here goes.

1) Check: http://grab.mogmachine.com/JVdK

2) Have been using incognito windows in Chrome which usually have a new session for each, and also and now primarily, different browsers.

3) Was using it, now disabled.

4) Seen, tested and noted that it works.

Confirmed, .it is working. so I tried to turn on the MER add-on again, ..no

[2015-08-26 22:13] tn3rb commented on #109
Ya I will update this ticket when this gets merged into master.

as an FYI, we've also noticed that there are some issues with duplicating events and reserved tickets, so maybe stay away from that for a bit as well.

[2015-08-27 09:26] nvphuc1989 commented on #112
Yes Mike Nelson, our gateway supports capture (for Preauth method) and refund features in admin.
You mean I can trigger the function **process_payment/process_refund** to add payment/refund in EE_PMT_My_Gateway_Onsite.pm class?
I used the Ajax action **espresso_apply_payment** just because it handles everything such as update payment transactions, change statuses, send email notification...
Please

[2015-08-27 16:10] mnelson4 commented on #112
yes you can use those, although it would be best to go through `EE_Payment_Processor::process_payment` and `EE_Payment_Processor::process_refund` in order to invoke the related logic like sending messages, updating transactions and registrations etc.

sorry there are currently no examples of processing refunds. If you want to add support for that the following would need to be added to core:
- [ ]

[2015-08-28 10:50] nvphuc1989 commented on #112
Thanks Mike Nelson, I'm getting the error that `EE_Payment_Processor::process_payment` and `EE_Payment_Processor::process_refund` should not be called
 statically. Could you please advise?

[2015-08-28 16:28] mnelson4 commented on #112
yes they're singletons so you should actually call them as `EE_Payment_Processor::instance()->process_refund(...)` etc, ie first get the instance and then call the method on it. We have quite a lot of singletons like that in EE.

[2015-08-28 19:02] nvphuc1989 commented on #112
Work like a charm :+1:. For the notification, I have to use `apply_filters( 'FHEE__EE_Admin_Page___process_admin_payment_notification__success', FALSE, $payment );`
Thanks a ton for your support!

[2015-08-28 19:10] mnelson4 commented on #112
so have you added admin-side payment processing and payment refunds to a branch of core? If so we'd love a pull request adding those features to core.

[2015-08-29 00:16] tn3rb commented on #109
I've pushed some fixes to BUG-8698-ticket-sellouts (version 4.8.6.rc.002)
as well as fixes for MER to branch BUG-8698-ticket-sellouts (version 2.0.5.rc.000) at https://github.com/eventespresso/ee4-mer/tree/BUG-8698-ticket-sellouts

[2015-08-30 15:54] nvphuc1989 commented on #112
I have used WP function `add_meta_box` for the UI for simplicity. I need to get more understanding of EE core before adding those features to core :)

[2015-08-30 16:52] nvphuc1989 opened #113 "Wrong jQuery selector in the function show_admin_page_ajax_msg"
Please review the code at https://github.com/eventespresso/event-espresso-core/blob/master/core/templates/global_assets/scripts/espresso_core.js#L149
The declaration of a variable:

It should be:

Because of the usages of the variable:

Another way to fix is remove the jQuery selector in the usages of the variable.

[2015-08-31 18:17] tn3rb commented on #113
There are some changes to that function being tested at the moment that also correct this issue.
Thanks for pointing this out though. The changes should hopefully be merged into master soon.

[2015-08-31 18:19] mnelson4 commented on #112
ya adding those features to core isn't terribly difficult but it's certainly not a trivial job (which is why we haven't gotten around to doing it yet).
Ok well let me know if you need any more feedback on this matter (and how we could improve our documentation) and it would be nice to see what you've built once you're done.
But it sounds like this is resolved

[2015-08-31 18:19] #112 closed

[2015-09-01 17:45] tn3rb commented on #113
the changes I spoke of have been merged into master and will be part of the next release, so I'm going to close this issue as it is now invalid.

[2015-09-01 17:45] #113 closed

[2015-09-04 07:11] mogmachine commented on #109
Hi Brent,

Sorry was out of contact for a week but back in the office now. I am going to update to 4.8.6.rc.002 but am interested to know when this will be committed to a production update as I am uneasy running this on a live site and my client doesn't like the constant reminders that the license has expired.

I am going to leave the MER branch for now until it is committed to production version

[2015-09-04 13:00] joshfeck commented on #109
It will be merged to Master when testing is complete, and we generally take more than the usual amount of time to test tickets like this one. We also merge the latest changes to Master into this branch so it's for the most part in sync with the next production update.

You can disable the Plugin update engine (which adds the notices about an expired license when it's on a release candidate) by add

[2015-09-04 14:54] ty2u opened #114 "Wrong times being displayed"
Hi there,

In EE4 (premium version) on a site we have WP set to America/Toronto for the timezone and in the php.ini it's set to that as well. However in EE now when setting the start and end times for events they show properly (where they did not in a past version of EE) while editing the event, but after saving on the overview list of all events and on the event page itself when viewing the event

[2015-09-04 15:59] nerrad commented on #114
Hi there,

What's likely happening is you have another plugin (or possibly theme) that is using `date_default_timezone_set` to change the timezone which is a no-no in WordPress operating environment.

We see this from time to time with our users, here's an example http://eventespresso.com/topic/wrong-time-selector-and-posting/

[2015-09-04 17:45] ty2u commented on #114
Thank you! There was a plugin called Weekly Class Schedule using that function.

[2015-09-04 18:27] nerrad commented on #114
glad its' resolved!

[2015-09-04 18:27] #114 closed

[2015-09-04 22:50] nerrad commented on #107
closing due to inactivity

[2015-09-04 22:50] #107 closed

[2015-09-04 22:50] nerrad commented on #108
closing due to inactivity

[2015-09-04 22:50] #108 closed

[2015-09-04 22:51] nerrad commented on #103
closing due to inactivity

[2015-09-04 22:51] #103 closed

[2015-09-04 22:51] nerrad commented on #93
closing due to inactivity

[2015-09-04 22:51] #93 closed

[2015-09-06 23:58] tubiz opened #115 "AffiliateWP EventEspresso Integration"
Am currently working on an EventEspresso integration for AffiliateWP.
Will appreciate if you can share some hooks to tie into the purchase and refund process.

affiliatewp/AffiliateWP#705

[2015-09-09 15:32] tn3rb commented on #115
The checkout payment options step class can be found at:

[code]

and all payment processing begins within:

[code]

All of our hooks are prefixed with either:

 * "AHEE__" for Action Hook Event Espresso, or
 * "FHEE__"  for Filter Hook Event Espresso

so if you perform a non-whole word search for those prefixes, you will find all of our hooks.

Hope that helps

[2015-09-11 10:19] msyadav88 opened #116 "Get registration details after successfull registration"
I am trying to get the registration details after successful registration using EE_Registration::new_instance()->get_primary_registration() , but its giving me 0 value for all fields.

add_action('AHEE__EE_Registration_Processor__trigger_registration_update_notifications','createpage');
function createpage(){
	$registration = EE_Registration::new_instance()->get_primary_registration();
	$s = $regi

[2015-09-11 12:24] nerrad commented on #116
Hi there,

There's a couple errors in your example:

1. The `AHEE__EE_Registration_Processor__trigger_registration_update_notifications` action passes the registration object so no need to instantiate it.

If you look where the action is declared in `EE_Registration_Processor` you'll see this:

[code]

So the correct way to implement the action so that you get what you need is to do this:

[code]

[2015-09-11 12:46] msyadav88 commented on #116
Really this helps me lots, Thanks Nerrad

[2015-09-11 13:32] #116 closed

[2015-09-14 18:44] msyadav88 commented on #116
Hi Nerrad,

I just want a bit more help from you. I have use ( $registration->get('ATT_ID'); ) to get the value of a specific field relate to the registration , But is there any way to get the whole attendee or registration detail in an array. Because If I want to get the first name of the attendee , I have to first analyse the relation of each table and then have to query sql. I think there shoul

[2015-09-14 18:50] nerrad commented on #116
It turns out the `EE_Registration` object has a number of methods that assist with retrieving info cached on it.

If you wish to get the attendee information you can do so by:

[code]

That will return a `EE_Attendee` object for you to use and you can see all the methods in it for the accessible data.

[2015-09-16 18:11] msyadav88 opened #117 "Get event's custom field value on registration form"
Hi friends,

Please can you help me to find the actions hooks for the registration form. I am trying to do as below:
I have a custom field say “ask for create page” in an event.Admin will manually insert a value yes/no in it.I also have a question ” Do you want to create page?” for that event in question listing. Now in front, before displaying the registration form, i need to check that custom fi

[2015-09-16 18:16] nerrad commented on #117
Hi there, one thing that may help is all EE action hooks are prefixed with `AHEE__`

One thing that I usually do when I'm looking for a place to add something in EE is I check the source of the page where I want to add the item.  I look for something that I can search with (it may be a css id or class) and then I search through EE code using that search string.  That usually helps me zero on on a

[2015-09-16 18:21] joshfeck commented on #117
I can also suggest installing these two plugins:

https://wordpress.org/plugins/debug-bar/
https://wordpress.org/plugins/debug-bar-actions-and-filters-addon/

Then, when you view any WordPress page, you can click on the debug bar, then click Actions, and it will show you a list of action hooks fired on that page request.

[2015-09-17 19:53] msyadav88 opened #118 "skip a question dynamically on registration form"
I am trying to skip a specific question dynamically on the registration form. Please guide if any function is there.

[2015-09-20 17:12] msyadav88 commented on #118
Can you please add the filter hook to skip a question or question group on the registration form.

[2015-09-20 20:47] tn3rb commented on #118
have a look at the "FHEE__EE_SPCO_Reg_Step_Attendee_Information__question_group_reg_form__subsections_array" filter in \EE_SPCO_Reg_Step_Attendee_Information::_question_group_reg_form().

You'll be able to loop through each of the inputs, and using the other supplied parameters, may find the data you need to determine whether to remove a question from that array.

[2015-09-21 09:16] jonathan-dejong commented on #92
So while you're doing this, if you plan on using the same datetime selector as the one in the backend, will you also make sure it's localised?

I started a thread on the localisation of the datetime picker in admin long time ago with little interest but with this is becomes even more important. For non US countries having AM/PM times aren't working out and especially if you have lots of less tech-

[2015-09-21 09:37] jonathan-dejong opened #119 "Archive not honoring earliest(soonest) upcoming datetime"
Hi!

So what I've found is that if for example an even has three datetimes and one of them has passed. It will not be ordered in the query by it's earliest upcoming datetime but rather the latest (it seems).

More information here: http://eventespresso.com/topic/events-archive-not-honouring-earliest-upcoming-datetime/

So to clarify I'm talking about the actual query for the events in an archive.

[2015-09-21 09:40] jonathan-dejong opened #120 "BCC and CC for messages templates"
Hi!

I have a suggestion for adding BCC and CC fields for all messages templates. Currently these only support the to and from settings.

A client needs the ability to get a BCC for each registration to another email :)

I think it would be a beneficial improvement for just about anyone using EE.. Imagine someone wanting to get a BCC for whenever a registration fails to make sure they can follow u

[2015-09-21 09:43] jonathan-dejong opened #121 "Email verification in check-out"
Hi!

So let's assume all customers are idiots (seems many are) and are incapable of typing in their own email during checkout. Since there's no verification field their registration will not send out emails to the correct emailadress (registration complete for example) and the EE admins can't contact them (unless they also required a phone number).

I think a great addition to the checkout would b

[2015-09-21 12:08] nerrad commented on #120
I get the idea, it's not something that has been highly requested though.

In the meantime would it be sufficient to add a filter for the email_messenger headers so that BCC's can be added on the fly for just the outgoing messages related to EE?

[2015-09-21 12:15] jonathan-dejong commented on #120
Yeah that would suffice in the meantime :)

For my specific client this is related to an issue where they want better control of what emails have been sent etc. But I think I should create a separate issue for such a discussion.

[2015-09-21 12:48] nerrad commented on #120
as you can see I just pushed the filter to master branch.  Hope that works for this case in the meantime :)

Based on your latter comment, I don't know what "better control" means exactly, but you may be interested in taking a look at [BETA-4.9-messages-queue](https://github.com/eventespresso/event-espresso-core/tree/BETA-4.9-messages-queue) branch.  We're adding a messages queue system that will

[2015-09-21 12:48] #120 closed

[2015-09-21 13:04] jonathan-dejong commented on #120
Thank you!
So I can use that filter in the next update of EE then :)

They're essentially asking for a way to determine what emails have been sent out and to who. Like a history/record. I've taken a look at the branch but apart from looking through all the changes to each file it's hard for me to tell what exactly it'll do.. but from what you're telling me it sounds like what they want?

[2015-09-21 13:07] nerrad commented on #120
yes it sounds like the messages queue system will be what they want :)

In the meantime have you hard of the WP Mail Log plugin?  It hooks into wp_mail and records EVERY outgoing email from the WordPress system.  We use that a lot for internal testing of our messages system (for email messenger) and it works well.  It might be something your clients can use in the meantime.

[2015-09-21 13:27] jonathan-dejong commented on #120
That's great news then :)
Will it be able to sort the email log by event, type of message etc?

No I had not.. looking at it I think they need something a bit more sophisticated as they're not comfortable with checking a txt file but a quick search found me some alternatives that might work better in the meantime! Thank you very much for the tip

[2015-09-21 14:46] nerrad commented on #120
wp mail log plugin is NOT a text file  It adds a UI to the WordPress admin with a really nice interface that lists all the emails that have been sent.  There's a number of such plugins on the repo so its possible you were looking at the wrong one.. here's a direct link: https://wordpress.org/plugins/wp-mail-logging/

Regarding the new messages queue feature.  Yes users are able to filter the messa

[2015-09-21 14:51] tn3rb commented on #121
ya I think that's a great idea... will create a ticket for it

[2015-09-21 16:26] joshfeck commented on #121
No need to create a ticket @tn3rb, we already have #7744

[2015-09-21 18:19] jonathan-dejong commented on #121
@joshfeck so it's a work in progress?

[2015-09-21 18:36] jonathan-dejong commented on #120
Ahh I took your suggestion literately: https://sv.wordpress.org/plugins/wp-mail-log/
;)

I tested that plugin and it looks decent but I'm also testing some others I found because I'd like the ability to restrict which mails are being logged (like by from address). It says there's filters for developers but I can't find any documentation about it which is kinda bummer.

The new messages queue/recor

[2015-09-21 18:56] mnelson4 commented on #119
Jonathan are you familiar with writing unit tests? Can you write a test that shows the problem? I think that would be helpful.

[2015-09-21 19:02] jonathan-dejong commented on #119
Not really. I've done it some time ago but very basic.. There's usually not much use/budget for unit tests for medium large company websites ;)

But I could see if I can create a screencast demonstrating it?

[2015-09-21 21:36] mnelson4 commented on #119
Ya those would be useful too

[2015-09-22 14:27] msyadav88 commented on #118
Hi,

Thanks for your update. I have found the input to skip but when I return null the whole page is stopped at that point and shows blank. My code is as below, can you have a look at it please.

add_filter ( 'FHEE__EE_SPCO_Reg_Step_Attendee_Information___question_group_reg_form__question_group_reg_form', 'skip_createpage' );
function skip_createpage($question_group_reg_form,$registration, $questi

[2015-09-22 18:46] msyadav88 commented on #118
Hi,
It got the code working as below:
add_filter ( 'FHEE__EE_SPCO_Reg_Step_Attendee_Information__question_group_reg_form__subsections_array', 'skip_createpage' );
function skip_createpage($subsections,$registration, $question_group){
	if(array_key_exists('12',$subsections)){
		return array();
	}
        return $subsections;
}

But if I put this filter hook in some other action hook say "AHEE__Sing

[2015-09-22 18:50] msyadav88 commented on #118
Hi,

Sorry, i have used that filter hook in other action hook called "AHEE__SPCO__before_registration_steps" not "AHEE__Single_Page_Checkout___initialize_reg_step__attendee_information"

[2015-09-22 18:59] tn3rb commented on #118
ummm ... it looks like your filter callback well remove question 12 from ALL registration forms. If that's what you want to do, then you can simply remove that question from within the WordPress Admin, by going to Event Espresso > Registration Form > Question Groups tab.
then find which question group has that question added to it, and simply uncheck it.

Regarding the filter callback function not

[2015-09-23 16:41] zoee opened #122 "Inserting venue information using $wpdb->insert"
Hi I posted this on the support forum but was assed to pop it here instead, we’re doing some CRM integration for a client and I am having trouble inserting the venue information. My query is below, my variables are populated correctly as they print out fine if I echo them above this code. However the code just inserts blanks in to the database (except for the Venue ID which inserts fine!).

			$wp

[2015-09-23 16:57] mnelson4 commented on #122
hi @zoee

I see on the line
`'VNU_address2' => $venueAddress2, $venueAddress3,` should probably be `'VNU_address2' => $venueAddress2 . $venueAddress3,`. That might be causing the problem.
Also `VNU_ID` should probably be sanitized as an integer, so you should use `'%d'` for the datatypes array.

Also, are you also inserting data into the posts table? Because in Event Espresso 4 venue data is parti

[2015-09-24 08:32] zoee commented on #122
Ha! thanks - can't beleive I missed that - I changed it when I was testing and forgot to change it back!!!

All working :)

[2015-09-24 09:48] mogmachine commented on #109
Can you please confirm or deny if this functionality it part of latest 4.8.10 version of EE.

Thanks.

[2015-09-24 16:36] #122 closed

[2015-09-24 17:22] joshfeck commented on #109
There is still work left to do on this before it can be merged to Master branch and released. One of the issues that needs to be worked out is making sure an abandoned ticket is added back to what's available. For example, if someone starts a registration for 5 tickets, then gets forwarded to PayPal.com to pay, then has second thoughts and decides to close their browser window and walk away, those

[2015-09-24 23:04] mogmachine commented on #109
I had experienced exactly that issue and had to clear out incomplete transactions by hand on a couple of events.

If you remember when it is committed to let me know, ..else I will keep checking the changelogs and refrain from updating. the current version I am running seems to be working well so far apart from the above.

[2015-09-25 14:11] joshfeck commented on #109
It turns out we've been keeping this branch up to date with Event Espresso core master by merging Master into this branch. So if you want to have the latest fixes from EE core, you can pull this branch.

[2015-10-04 21:32] KinnaT opened #123 "V4 Duplicate Event Missing"
There's an old issue (#31) about what I'm experiencing.  The screenshot shows all of the options I have for events in EE4, but duplicate is not one of them. For complex events, this is proving to be troublesome.
<img width="825" alt="capture9" src="https://cloud.githubusercontent.com/assets/4543324/10270381/687daf18-6ab5-11e5-97f0-dd7bb753517e.PNG">

[2015-10-04 22:44] nerrad commented on #123
Bulk duplication is not available.  However, when you edit an event, there is a duplicate button right above the title for the event.

[2015-10-04 22:44] #123 closed

[2015-10-15 18:08] joshfeck commented on #119
This may be related to ticket #8967 where the datetime with the lowest ID is actually being used to order the events, which Brent will be committing a fix for shortly.

[2015-10-16 03:55] #115 closed

[2015-10-16 03:56] #117 closed

[2015-10-16 03:56] #118 closed

[2015-10-16 04:01] tn3rb commented on #119
so a couple of things...
first off, if visiting the event list via the CPT endpoint ​*/events/*​, then you are actually using the query params that get injected by the EE_CPT_Event_Strategy. If using a shortcode, THEN you are using EEH_Event_Query.
Turns out EE_CPT_Event_Strategy was using ` GROUP BY post.ID ` to make the event lists not show duplicate events.
So anyways, the problem is kinda an i

[2015-10-20 06:29] jonathan-dejong commented on #119
I bow my head to you Brent :+1:

This is above my head in terms of SQL but I'm glad you've worked it out and look forward to the merge!

[2015-10-20 06:29] #119 closed

[2015-10-21 21:09] joshfeck commented on #119
This is merged to master and was included in the latest release of Event Espresso 4.

[2015-10-22 00:55] gabrielmerovingi opened #124 "Adding third party gateways"
Hey everyone.

Is there any documentation on how to add in a third-party gateway for EE4? My plugin supports EE3 and I have built a new one for EE4 but I can not figure out how to get EE4 to find and recognize my gateway located in my plugin.

I followed the built-in gateways and named my file: EE_PMT_myCRED.pm.php but no luck.

[2015-10-22 00:58] joshfeck commented on #124
Hi Gabriel,

You can find documentation on how to add a third party gateway as an add-on for Event Espresso 4 here:

http://developer.eventespresso.com/docs/ee4-payment-method-development/

[2015-10-22 01:11] gabrielmerovingi commented on #124
Thank you!

[2015-10-22 02:13] #124 closed

[2015-10-22 02:16] gabrielmerovingi opened #125 "Set Gateway Label"
While I would love to show my plugins name as the payment gateway label, I really need to have the option in my gateway settings to allow EE users to set this label themselves. Is this possible?

[2015-10-22 04:06] #125 closed

[2015-10-23 21:35] tn3rb commented on #125
@gabrielmerovingi
I'm assuming you closed this because you found the answer to your own question, but just in case you didn't, Yes this is possible.

Our Payment_Method objects have properties for both a Name, which is the publicly view-able label, and an Admin Name, which only appears in the backend to help you differentiate between similar gateways.

If you go to the WP Admin and click on Event

[2015-10-27 17:20] gabrielmerovingi commented on #125
Yes, apologies for not adding a reason but just as I sent the message it dawned on me that it was infront of me all along. But appreciate your reply.

[2015-10-29 10:42] nvphuc1989 opened #126 "How to set transaction to "Failed" status in the function "do_direct_payment""
Hi EE team,

I use the function **do_direct_payment** for checking payment status from the gateway then update the statuses in EE system. When payment has been declined, I will set payment status by the following code:

then the transaction status is set to **Incomplete** by default. But we want the transaction status to be **Failed**. Could you please advise the solution?

[2015-10-29 15:57] tn3rb commented on #126
@nvphuc1989

In EE, much like in many cases in the real world, we don't kill the transaction when there is a failed payment, we simply offer the chance to attempt another payment. If you set the transaction to failed then your site visitors would have to repeat the entire registration process (choose tickets, fill out the reg form, etc) if they want to attempt another payment. It would be like sho

[2015-10-29 16:41] nvphuc1989 commented on #126
Thanks @tn3rb for the explanation and answer.

[2015-10-29 16:59] nvphuc1989 opened #127 "Please remove the note in Billing Information section when view transaction"
There is a note in Billing Information section when view transaction as below:
*Note: Card expiry dates and CCV are not stored. Only the last 4 digits of card numbers are stored.*

Because of the PCI Compliance, most payment plugins never log any credit card information even the last 4 digits of card numbers. But this note is always displayed for payments having billing information and it could ma

[2015-10-29 18:15] mnelson4 commented on #127
I can see how this is confusing if the payment method doesn't store the last 4 digits of the card number. We should probably only display this when the payment method actually stores the 4 digit

[2015-10-30 20:46] mnelson4 commented on #127
just a matter of clarification, by

did you mean most Event Espresso Payment Method Addons? Or did you mean most Wordpress plugins that accept payment data (eg Woocommerce, Wp E-Commerce, etc)?

[2015-10-31 16:53] nvphuc1989 commented on #127
I just meant the common shopping carts payment plugins, includes EE. I see the Vanco plugin for EE is an example for submitting credit card directly to the gateway without storing in EE server.
We don't need to remove the note, just provide an way to customize/change it depends on how EE payment addons store customer credit card info (full, only the last 4 digits or none...).

[2015-11-02 04:43] nvphuc1989 opened #128 "Getting error with the method EE_Payment_Processor::instance()->process_refund"
Hi EE team,

This is related to the ticket #112
I have done successfully with the method `EE_Payment_Processor::instance()->process_payment` but getting failed with the method `EE_Payment_Processor::instance()->process_refund`. Here is the steps:
1. I added a method `public function do_direct_refund($payment, $refund_info = null)` in My_Onsite.gateway.php file.
2. Then I trigger the function `EE_P

[2015-11-02 18:38] #126 closed

[2015-11-02 18:51] tn3rb commented on #128
@nvphuc1989
I've created a ticket for the issue, pushed a fix to a branch, and sent the ticket for code review.

You can view the branch and follow any changes here:
https://github.com/eventespresso/event-espresso-core/tree/BUG-9027-process-refund

we'll let you know if/when this gets merged to master.

Thanks for reporting this issue.

[2015-11-02 19:29] mnelson4 commented on #127
you can try the branch FET-9015-if-billing-info-has-no-4-digits-from-credit-card. Does that meet your needs?

[2015-11-02 21:40] mnelson4 commented on #128
@nvphuc1989 if you change the line from `ensure_is_ID` to `ensure_is_obj` does it work too?

[2015-11-03 13:55] jonathan-dejong opened #129 "Can't create new post in save_post hook with EE"
Hi!

I'v got a script setup to create a new sendpress list (newsletters) whenever a new EE event is created..
It's all pretty standard. However it does not work and I get this fatal error:
`[03-Nov-2015 13:48:08 UTC] PHP Fatal error:  Call to a member function _add_relation_to() on null in /home/cmbchalmers/public_html/wp-content/plugins/event-espresso-core-reg/caffeinated/admin/new/pricing/espres

[2015-11-03 14:10] nerrad commented on #129
Hi Jonathon,

You've discovered a bug with the EE Admin functionality that hooks into the save_post action.  In our save post callbacks we dont' check for `post_type` because our callbacks are only hooked in on EE CPT routes.  However, as you've discovered, if a plugin author adds code that executes `wp_insert_post` on the same request that one of our CPT's is loaded, then our save_post callback w

[2015-11-03 14:23] nerrad commented on #129
@jonathan-dejong if you want to test the fix I just pushed to the BUG-9030-save_post_checks branch that'd be great.  It should resolve the issue you were seeing.

We've got it up for testing now and it hopefully will be merged to master sometime today.

[2015-11-03 14:31] jonathan-dejong commented on #129
Hi Darren,

Thanks for the tip! I've used the post type specific hook before but somewhere along the line I forgot about it.. ;)

Great to hear about the fix! I'll try it out right away

[2015-11-03 14:37] jonathan-dejong commented on #129
Works like a charm!

[2015-11-03 14:37] #129 closed

[2015-11-04 14:41] nvphuc1989 commented on #128
It doesn't work too @mnelson4

[2015-11-04 17:28] mnelson4 commented on #128
@nvphuc1989 did you try the branch Brent mentioned?

[2015-11-05 04:35] nvphuc1989 commented on #128
@mnelson4 It seems I have not right to access the branch.

[2015-11-05 04:35] nvphuc1989 commented on #127
It seems I have not right to access the branch.

[2015-11-05 17:18] mnelson4 commented on #128
I think the branch got merged into master and deleted just a little while ago. So does MASTER branch work for you?

[2015-11-05 17:36] mnelson4 commented on #127
this branch also got merged into master and deleted, so please try master branch now

[2015-11-09 08:17] nvphuc1989 commented on #127
I'm fine with the change. Thanks.

[2015-11-09 17:01] #127 closed

[2015-11-13 14:58] jonathan-dejong opened #130 "Seemingly random no data is saved to a registration"
Hi!

I've got a client using EE here: kfsk.se/blog/kurs-konferens

They've got an issue where sometimes not all information is saved. To be more precise the system questions are empty (firstname, lastname, email etc.) while all extra questions still gets saved.

I've done a bit of testing (no massive unit tests just random submissions from different browsers and OS) but haven't been able to locate

[2015-11-13 17:36] mnelson4 commented on #130
Where do you see the system questions are empty? FYI for a while now, answers to system questions are stored in the esp_attendee_meta table's rows, NOT in the esp_answer table like all custom questions are.

[2015-11-14 09:42] jonathan-dejong commented on #130
The system questions answers are empty everywhere in admin. So it's not some custom output. The client is pretty quick in finding the persons and filling in the missing information so I haven't had a chance to check the esp_attendee_meta table when this has happened but I would assume they're empty :)

[2015-11-16 15:11] mnelson4 commented on #130
yeah they probably are. Can you please confirm that? Because it's possible the data IS getting saved but not being displayed. Or it's possible the system question data is getting saved to the `esp_answer` table (erroneously, because it should be in the `ep_attendee_meta` table) and so not being displayed. It would be helpful to know which.

Also, is this a problem only when using that code snippet

[2015-11-17 10:06] Petervw opened #131 "Support for more countries in Venues"
When I edit a location in the Event Espresso plugin, I'd like to select "The Netherlands". The only countries which are available are "Canada" or "United States".

This is the select field in the WP-Admin:
![image](https://cloud.githubusercontent.com/assets/7113270/11208402/45de4e44-8d1b-11e5-85ce-72e0f7ee6caa.png)

[2015-11-17 12:54] nerrad commented on #131
This guide should help: http://eventespresso.com/wiki/change-countries-used-event-espresso/

[2015-11-17 12:54] #131 closed

[2015-11-17 14:26] jonathan-dejong commented on #130
Hi Nelson,

I'm gonna see if I can check the different tables.
As for payment step or not it's hard for me to test it.. I do have a dev site where I can enable payment step but it seems to happen so randomly so it's possible I could go through any number of registrations before anything would happen.. I can't really do 50+ registrations manually :)
(This is where I should have learned better unit

[2015-11-17 20:06] jonathan-dejong commented on #130
Alright so I've found a registration that's been made on the live site.
The only value saved to esp_attendee_meta is the users email.

I searched for the ATT_ID in esp_registrations but there was none. Which means there's no REG_ID I can check against in esp_answers.

Here's some screenshots:
<img width="532" alt="esp_registrations" src="https://cloud.githubusercontent.com/assets/1508751/11223067/

[2015-11-17 22:34] mnelson4 commented on #130
do you have a copy of the email they received in this case? (Usually the site admin is CC'd)

I wonder if the requests are just timing out, and so not all the information is getting saved. In this case giving the server some more resources would help

[2015-11-17 22:48] mnelson4 commented on #130
I took a look at your plugin. I think it's probably good, but it adds a bit more processing time.
Also you mentioned the error where 5 people signed up for an event, the confirmation email was sent but the registrations weren't saved to the db. That supports my suspicion that the server is just timing out, because when 5 people signup, and we send emails for the 5 users, and admin etc, that can ta

[2015-11-18 09:20] jonathan-dejong commented on #130
Hmmm that's a good guess I think.. I'm gonna have a look att the timeout of the server. It's a custom server on Microsoft Azure so it shouldn't be a problem increasing timeout.

Here's a screenshot of the email one of the registrants received. What I find really odd is that they get a registration code but it does not exist in DB. The reason it looks completely messed up is probably because it's b

[2015-11-18 11:32] jonathan-dejong commented on #130
Btw, Is it really possible that a timeout allows for emails to be sent but the registration isn't saved?
Seems a bit backwards :)

[2015-11-18 14:43] nerrad commented on #130
Jonathan, is your dev site running in a Microsoft Azure environment.  If you're unable to reproduce then that points to it possibly being an environment issue.  What's the setup in the Azure server, are they running a Windows OS or Linux in a VM?

We haven't had much luck with windows based setups (hence why we don't support EE running on Windows based servers), there's just too many hard to troub

[2015-11-18 14:50] jonathan-dejong commented on #130
My dev site is local running in Vagrant (ubuntu).

They are running Linux in a VM. I tried to talk the client out of Azure from the very beginning but they insisted since they have everything in that license. The clients tech-guy is an old serverguy who also claims there is no difference in running linux as VM on an azure server compared to just running a pure Linux server outside of azure. Myself

[2015-11-18 15:00] nerrad commented on #130
Yeah I don't have much experience working with Azure but if Linux is running in the VM that *should* be okay.

As Mike suggested I think your first step is to see if its a timeout issue.   As for emails being sent but registrations not being saved not sure what would be going on.  How is this server setup?  Is mysql and php all running on the same box?  is mysql  being replicated so there is a mas

[2015-11-18 15:08] joshfeck commented on #130
We've seen issues like this one before and the solution ended up being they set up either the Postmark App or Mandrill Transactional Email Handling plugin to off-load the notification/email processing.

[2015-11-18 17:00] jonathan-dejong commented on #130
Yeah php, mysql etc. is running in the same box.
For emails they're using an external service already called sendgrid.net.
We're setting the SMTP server in wp-config using https://wordpress.org/plugins/global-smtp/

The problem is I don't know how to check wether this is a timeout issue. We've increased timeout, memory limit etc. on the server. I suppose the only way to try it is to setup a privat

[2015-11-19 18:44] jonathan-dejong commented on #130
@joshfeck For what reason would it be solved with an email handling plugin? Isn't the issue that the emails are being sent out before making certain a registration is saved to DB?

[2015-11-19 19:50] mnelson4 commented on #130
I think the email handling plugin would help with timeouts, if that's the issue.
But yeah, the email being sent out, with no registrations in the system, is quite puzzling. It might be a completely different issue.

It's possible that this might be an issue which was resolved in 4.8.11, where sometimes transactions would be accidentally cleaned up when they were in the middle of registering. See h

[2015-11-19 20:06] jonathan-dejong commented on #130
Hmm okay.. even tho we've disabled the transactions stage? (payment stage).
They're currently running 4.8.9

[2015-11-19 20:12] mnelson4 commented on #130
Yeah, all transactions have line items, even free ones. And so that bug affected all transactions.
And besides, if we later identify it as a different bug, and then release a bugfix, your client will need to update then anyways. So let's just update, and please also try some kind of transaction email handling for a  while to see if that fixes the problem. If neither of those do, then we have more

[2015-11-19 20:18] jonathan-dejong commented on #130
Okay I'll try and update.

Regarding updates. More often than not my translations become overwritten or obsolete when updating which is a bit frustrating. Things like the line "only <number> tickets are allowed per purchase" (shown under the ticket selector) get's some kind of minor tweak and I have to redo the translations again. I get that you sometimes need to change text strings but it would r

[2015-11-19 22:06] mnelson4 commented on #130
yeah I can see that's another issue to deal with everytime you upgrade. So
basically you need to re-check the translation strings EVERY time you
update Event Espresso (or really any plugin for that matter). Ya that's a
pain...

[2015-11-20 07:16] jonathan-dejong commented on #130
Yeah :) Especially since some strings can only be found on certain events or after performing a registration.

[2015-11-21 14:03] jimmerd opened #132 "Didn't work for me with site in folder, fixed with quick mod"
This addon was throwing an error as if JSON wasn't loaded.
With a little investigation, I found that it was looking for the URL in the wrong place.
We have WordPress and site at different URLs. The Addon was looking for the url:

mysite/WPFOLDER/wp-json/
when it needed:
mysite/wp-json/

I found line 68 in the shortcode.php file:
'api_endpoint' => get_bloginfo( 'wpurl' ) . '/wp-json/'
I changed wpu

[2015-11-23 17:06] mnelson4 commented on #132
sorry @jimmerd which addon was you talking about? This ticket is in the event espresso core repository.
From the description it sounds like you're talking about the EE4 REST API, but there's no shortcode.php file in that addon

[2015-11-24 10:54] jonathan-dejong opened #133 "Not everything translates"
Hi!

Loosely connected with this issue:
https://github.com/eventespresso/event-espresso-core/issues/130

Now that I've updated I find several strings no longer translated and I can't seem to re-translate them either.

I ran a sync with Loco translation to get the latest POT file. Then downloaded the POT file and my custom po file.

Opened the po file with poedit, synced up the POT file (found like

[2015-11-24 17:37] mnelson4 commented on #133
which strings aren't translating?

[2015-11-24 18:21] lorenzocaum commented on #133
Hi Jonathan, we recommend merging the PO file from GlotPress into your existing file. That PO file will be a combined file from our add-ons and the core plugin. You can get a copy from the language project here:

http://translate.eventespresso.com/projects/event-espresso-4

Also, double-check that there are not old files in this location:

/wp-content/plugins/event-espresso-core-reg/

Language fil

[2015-11-25 08:06] jonathan-dejong commented on #133
Hey,

If I merge the PO file from GlotPress, which PO file will get priority? I don't want my own strings to be overwritten.. :)

There's no old files and I'm adding them in the correct place so no worries. I've been using custom translations for over a year now.

I don't remember the exact strings right now (can check later if you like) but most of the strings in the ticket details (collapsing th

[2015-12-08 15:16] kishandchips opened #134 "Additional ticket availability validation required."
It is possible to exceed the limit of tickets available for a certain event when multiple users are in the checkout process at the same time.

[2015-12-08 22:46] RichardWallis opened #135 "Recommend indexes for performance improovement"
Following issues described in support request <https://eventespresso.com/topic/ee4-performance-issues/> I am looking for recommendations for applying indexes to busy large tables, especially those associated creating registrations and payments.

See my [listing of tables](https://dl.dropboxusercontent.com/u/2064477/EE4-Smarttrees%20Database.jpg) to see the sizes I am dealing with.  With certain ti

[2015-12-09 01:30] mnelson4 commented on #135
hey @RichardWallis ya those tables are starting to get pretty big.
We have a branch in testing that adds indexes that seems to have helped quite a bit in query performance. Could you give it a try (but on a test site, because like I say it's still in testing): https://github.com/eventespresso/event-espresso-core/tree/FET-8365-add-indexes

If its working for you, we can get it merged into the next

[2015-12-09 10:11] RichardWallis commented on #135
OK Will see what I can get set up.

Its first time working with the raw code so just need to confirm how I do that.  I am presuming that I duplicate my current live site so that I can test with my current data, then how do I upgrade it to include this branch?

What are the basic sanity tests I need to run to see if I haven't broken anything?

~Richard

[2015-12-09 17:30] mnelson4 commented on #135
1. deactivate the version of Event Espresso you're currently running
2. download the zip of the branch (here's the link: https://github.com/eventespresso/event-espresso-core/archive/FET-8365-add-indexes.zip)
3. use the WordPress plugin uploader to upload that zip and then activate it (in place of the version of Event Espresso you're currently running)

make sure you have turned `WP_DEBUG` to true

[2015-12-09 17:35] tn3rb commented on #134
If you have a localhost or development server available for testing that is NOT A LIVE SITE, then please feel free to help us test the following branch, which adds tracking for tickets that are in the cart:

https://github.com/eventespresso/event-espresso-core/tree/BUG-8698-ticket-sellouts

Just do not use on a live site because it has not completed testing yet nor been cleared for release

[2015-12-10 13:10] jonathan-dejong opened #136 "Start a discussion on custom booking flow"
Hi!

My client has requested that we look into the possibility to create a completely custom booking/checkout flow. It's a bit insane but we'll research is and see if it would be possible.

I was wondering wether I could discuss this with you pro devs that actually created EE!
Here's an rough example of the flow they want: https://www.dropbox.com/s/5b2mplgc2706bl4/shop.html?dl=0

I know it's an in

[2015-12-10 14:18] nerrad commented on #136
Hi jonathan, just want to make sure you know that the EE repo is public on github in case what you shared isn't intended to be publicly accessible.

Short answer, building  your own entire frontend is certainly doable.  But not easy.  You may want to wait until we get our REST API complete (with write access etc) because that will make it **much** easier to implement a custom front-end.  @mnelson4

[2015-12-10 14:26] jonathan-dejong commented on #136
Hi Darren,

Thanks. That's not an issue since it's just a mockup with dummy-content :)

The REST API does sound like it'd be pretty sweet and I've had a look at it before but as you say it did not seem to suppose any posting. I'd love to hear more about that!
Do you have a roadmap or something one can see or a timeline for the improvements to REST API?

And let's for arguments sake say we can't us

[2015-12-10 14:52] nerrad commented on #136
Jonathon I trust you understand that its not as simple as saying, "use this hook" and "use this hook" and you'll get what you'll want.  I can say that you **can** build a custom frontend and have it totally replace our checkout process using the code in EE.  But to actually tell you *how* to do that is not something we can take time to do right now.

So to answer this question:

If you build the e

[2015-12-10 19:43] jonathan-dejong commented on #136
I completely understand Darren :)

It is a bit of a shot in the dark and all I really wanted was a yes/no to the question wether it would be possible. It's great to get nuggets like looking out for the `do_action` hooks you talk about.

If and when I take this on I may ask more specific questions which I hope will be alright.
I'll look forward to @mnelson4 chiming in on the REST API

Thank you ver

[2015-12-10 19:55] mnelson4 commented on #136
I'm actually working on integrating the EE4 REST API into EE4 core, and then putting basic write functionality into it. However at least initially it will require authentication before you can write anything to do the database. That means that only site admins will be able to register folks, not just anyone (which is currently the case with SPCO). So would you want only admins to sign folks up? Or

[2015-12-10 22:31] jonathan-dejong commented on #136
Since (for us) it would replace the entire front-end of EE we'd need anyone to be able to write/sign up..
However I'm thinking that it should be possible to circumvent this by actually doing the writing as an administrator if it's possible to authenticate manually. Hope I'm being clear :)

So the REST API would have to be able to write to a new registration with all that entails (multiple tickets,

[2015-12-10 23:28] mnelson4 commented on #136
seeing how the EE4 API is built on top of the Wordpress REST API that might be more of an issue to explore with them. If that doesn't work out you could do some server-side tweaking to allow certain requests through.

So while I expect to have authenticated write access available soon (as in the next few weeks or possibly months), having UN-authenticated write access has a lot more uncertainty inv

[2015-12-11 02:28] tn3rb commented on #136
@jonathan-dejong

I don't mean to let any wind out of your sails, but considering the EE API doesn't yet currently have any write capabilities, and surely won't have complex enough write capabilities to handle the entire checkout and registration process anytime soon (although I could be wrong)... I think you may have to learn to navigate your way through the internal PHP classes to do what you ar

[2015-12-11 08:53] jonathan-dejong commented on #136
@tn3rb Thank you! I am now equally fascinated and horrified ;)
What percentage of truth vs gag is in this? :fearful:

I'm doing this all as a research-step and am going to have to present a timeframe later this month. Your estimate is probably a lot better than mine that's why I'm asking.

Luckily they won't need any sort of payment processing as they do that completely internally in a different s

[2015-12-14 11:47] DavidSteinbauer opened #137 "Translation missing in Checkout Steps"
Please add translation as the following:
![2015-12-14 at 12 47](https://cloud.githubusercontent.com/assets/3392092/11780248/cc70eb24-a260-11e5-8249-cbcc70d46963.png)

[2015-12-14 12:53] nerrad commented on #137
I closed the pull request, you can see my explanation there.

[2015-12-14 12:53] #137 closed

[2015-12-14 12:57] nerrad commented on #137
In case you're wondering, I'm fairly certain the value for `$reg_step->name()` is already translated.  That value is retrieved from the `$_name` property on the `EE_SPCP_Reg_Step` child classes.  For example, if you look at `EE_SPCO_Reg_Step_Attendee_Information` you'll see this defined in it's constructor:

[code]

[2015-12-14 17:25] tn3rb commented on #136
I wouldn't put much value on my time estimate because I am unaware of the extent of your plans nor your coding style (fast n loose vs slow and cautious). It's possible somebody could produce a "functioning" frontend in a few months, whereas a well planned and tested UX with significant security and defensive programming measures taken would take much much longer.

When you say you are "deregister

[2015-12-15 19:08] jonathan-dejong commented on #136
Puh okay this is a lot of information to take in!
I'm very grateful for your insight @tn3rb

Yes we're currently disabling/removing the final payment step through that code and they will not have any payment in our custom solution. I would say I'm a fairly cautious coder but not necessarily slow.. this is however a bit out of my comfort zone as I have not built something so extensive with controll

[2015-12-15 21:03] gabrielmerovingi opened #139 "_has_billing_form = false not honoured"
I am adding support for Event Espresso for my plugin by using an Online gateway. I am, as described in the documentation using _has_billing_form = false since all a user needs to do to pay with points is to be logged in.

But when I checkout, I get an error:
"EE_SPCO_Reg_Step_Payment_Options - _billing_form_is_valid - 1255"

It seems that even with _has_billing_form set to false, it is not being h

[2015-12-15 21:25] mnelson4 commented on #139
This sounds like a bug to me and your fix sounds like a good one.
Although, is there a reason you aren't making your payment method an OFFLINE payment method? Because if your payment method isn't communicating with any remote server that sounds like a better fit

[2015-12-15 21:27] gabrielmerovingi commented on #139
Maybe I misunderstood the documentation as I was under the impression that you should use Offline gateways if you need to redirect users to complete a payment and handle IPN calls etc. Since users pay using points that are stored as a custom user meta, I only need them to be logged in to charge their account.

[2015-12-15 21:38] mnelson4 commented on #139
Aha, I think we're getting terms mixed up.
There are 3 basic types of payment methods: ON-site(where the user enters payment information on the wordpress/event-espresso website), OFF-site(what you're describing, where the user is redirected to a separate site where they enter payment information), and off-LINE (where payments aren't processed online via event espresso at all, instead it's mostly j

[2015-12-15 21:40] gabrielmerovingi commented on #139
Ah! I will look at going offline then. Thank you.

[2015-12-15 21:50] mnelson4 commented on #139
ok. Although regardless, we are looking into applying your fix. Because what you did should have been ok

[2015-12-15 22:41] gabrielmerovingi commented on #139
Yeah, it would also allow me to at least release the online version, which is working, while I have time to re-write things for an offline version.

[2015-12-15 23:10] tn3rb commented on #136
@jonathan-dejong

ya absolutely. That was the assumption I made when writing my first response where I listed a bunch of object records that you would need to create ( 1 transaction, 1 registration, etc ).

no shouldn't be. All of the appropriate model classes should be loaded for you by the time your module runs, so to create a new transaction you can simply do something like:

[code]

I guess if

[2015-12-15 23:48] mnelson4 commented on #139
yeah neat. That sounds like an addon that's been requested a few times that we've just never gotten around to adding. Maybe consider submitting it to our 3rd party addons page.

[2015-12-16 00:45] gabrielmerovingi commented on #139
myCRED has supported Event Espresso just over a year now. But with the re-write of the gateway setup the old gateway no longer works. My users will be happy to hear that support is back. I will make a submission once I have updated things.

[2015-12-16 07:08] jonathan-dejong commented on #136
My guess is that if we go ahead with this I won't get the time to do it properly but rather we'd end up with something like the above where we just post to the DB.

I'm pretty sure regardless of what I do it'll be at least 5 000 lines of code. As you say the client hits that "sweet spot" where he knows to request things but not how horrible it'll be for me to do it ;)

I'm also going to look into

[2015-12-18 21:47] MikeiLL opened #140 "Conflicts with mz-mindbody-api"
Looks like a great plugin! I'm having a jQuery conflict with the jquery modal popup in my plugin. Looks like the scripts are being loaded even on pages which aren't showing the schedule. Is that the case?

[2015-12-18 22:24] nerrad commented on #140
Hi there,

Unfortunately you haven't given enough information for us to know exactly what the issue is.

What jquery modal popup are you talking about?

Are you able to give an example console message that indicates the conflict?

When you refer to "schedule" what exactly are you referring to?

We'd like to help, but we'll need more info before we can.

Thanks!

[2015-12-21 17:59] #128 closed

[2015-12-23 12:06] womp2 commented on #92
Hi Josh

How is this progressing ?

I believe the Datetime selector offers the best solution, simple/intuitive and would sit alongside other tickets without confusion.

details of my personal situation are in the following post
https://eventespresso.com/topic/ticket-with-date-selector/

[2015-12-28 22:55] MikeiLL commented on #140
Thanks for the reply, Dave.

I’m referring to the jQuery modal pop-up in my plugin.

If I disable all of the event-espresso plugins except on pages where they are being used:

		'espresso-calendar/espresso-calendar.php',
		'espresso-custom-templates/index.php',
		'espresso-members/espresso-members.php',
		'espresso-permissions-basic/espresso-permissions.php',
		'espresso-recurring/espresso-recurri

[2015-12-28 23:21] nerrad commented on #140
It's Darren actually,

Mike, unfortunately it's still not clear to me what exactly your issue is.  We can't really help you until we know the answers to the question I originally asked.

In WordPress it is _normal_ for a plugin's main file to be loaded, that's how WordPress plugins work.  So your response doesn't really help at all.  At the very least, can you give me more specifics about what "jQ

[2015-12-29 02:13] MikeiLL commented on #140
Hi Darren.

You’re totally right. What I meant to suggest was only loading plugin assets on pages where they were needed, and I’m not completely sure which plugins are loading which assets, as I have neither the premium plugins nor access to the server they are running on.

The conflict I’m seeing is in the console:

	TypeError: $ is not a function

Which I believe is common in jQuery conflicts.

[2015-12-29 02:29] joshfeck commented on #140
When you look at the console, there should also be a filename with a line number that points to where it's throwing the TypeError: $ is not a function error.

I took a look and it appears that you can avoid conflicts in your plugin's JavaScript files by changing it everywhere you have this:

`$(document).ready(function($) {`

to this instead:

`jQuery(document).ready(function($) {`

See also:

htt

[2015-12-29 04:06] MikeiLL commented on #140
Of course! I had used:

	(function($) {

		//using $(document).ready(function($) here

	})( jQuery );

in some places, but forgot it in others.

Thank you very much.

Is it possible for me to get development copies of the event-espresso plugins for testing or do I need to wait (one week) until the client returns from holiday?

Mike

Michael Kilmer
Media Zen Organic Outreach
Music, Theater, Multime

[2015-12-29 13:23] nerrad commented on #140
We offer some copies of our plugins (but not all add-ons) via public repos listed here: https://github.com/eventespresso

If you need access to anything that is not available via a public repo you will have to contact our sales team via the contact form on our website:  https://eventespresso.com/contact

[2015-12-29 13:23] #140 closed

[2016-01-12 23:14] hoandang opened #141 "How to display questions for Additional Registrants?"
Hi there,

I am trying to programmatically query the questions from a particular event.

So far, I can retrieve the questions by the invoke the method question_groups() (according to this doc http://code.eventespresso.com/class-EE_Event.html). However, the method doesn’t seem to differentiate which one is the main question group, which one is the additional question group?

Ultimately, I am trying

[2016-01-12 23:42] mnelson4 commented on #141
hi @hoandang
if you have an `EE_Event` object, say in a variable like `$event`, you could do teh following:

[code]
If you want help with displaying html form inputs for each question, note that on branch BUG-9165-use-forms-system-isntead I just added a convenience method on `EE_Question` called `generate_form_input` which will create a `EE_Form_Input_Base` child from the question (exactly like ho

[2016-01-13 00:35] hoandang commented on #141
@mnelson4 Thanks for a very quick response.

The given snippet was fine for displaying single form, but in this situation I would like to display 2  different forms. For example, in this event

<img width="284" alt="screen shot 2016-01-13 at 11 04 32 am" src="https://cloud.githubusercontent.com/assets/1758446/12280945/0e626174-b9e6-11e5-9fea-9eb125084a62.png">

If I choose "Title and Organisation

[2016-01-13 01:08] mnelson4 commented on #141
oh I see, you want to get the question groups for the primary registration, or for the secondary registrations.
If you set a variable of `$is_primary` equal to `true` if you want question groups for the primary registrations, and `false` if you want question groups for secondary registrations, then you could do `$event->question_groups( array( array( 'Event_Question_Group.EQG_primary' => $primary

[2016-01-14 00:00] hoandang commented on #141
This is brilliant, thanks heaps.

[2016-01-14 00:00] #141 closed

[2016-01-14 17:59] mnelson4 commented on #141
great! Feel free to chime in on the plugin's wordpress.org profile at https://wordpress.org/support/view/plugin-reviews/event-espresso-decaf if you want eh

[2016-01-16 16:31] #136 closed

[2016-01-16 16:31] #139 closed

[2016-01-16 16:32] nerrad commented on #134
closing for lack of activity... feel free to reopen if there's an update.

[2016-01-16 16:32] #134 closed

[2016-01-16 16:33] nerrad commented on #135
closing due to lack of activity, this work was merged to master.

[2016-01-16 16:33] #135 closed

[2016-01-16 16:34] nerrad commented on #132
closing due to lack of activity.

[2016-01-16 16:34] #132 closed

[2016-01-16 16:35] nerrad commented on #130
closing due to lack of activity, feel free to reopen if there is an update.

[2016-01-16 16:35] #130 closed

[2016-01-16 16:37] nerrad commented on #121
There's a ticket for it so its on our radar.  No ETA on delivery though because we've got a lot of other higher priority things in the queue.  Pull requests are welcome though :)

[2016-01-27 11:12] rheator opened #142 "custom offsite gateway return URL"
Hi,

I have been integrating a offsite gateway and so far managed to have the payment go through on the gateway end, but when the gateway redirects the customer back to the site, nothing gets processed on event espresso end.

The gateway requires me to have a return URL, which I have specified as the transactions page.
Is that the right URL?

handle_payment_update() function as follows:

[code]
ga

[2016-01-27 23:29] mnelson4 commented on #142
Is that the right URL?
if I understand you right: no, that is not the right url.
You can look at paypal standard's `EEG_Paypal_Standard::set_redirection_info()` for reference: https://github.com/eventespresso/event-espresso-core/blob/master/payment_methods/Paypal_Standard/EEG_Paypal_Standard.gateway.php.
Notice how the method is passed in a `$return_url` and a `$notify_url`? That `$return_url` is

[2016-01-28 10:20] rheator commented on #142
Hi!

Yes that does clear things up for me.
The issue I have is that I cannot pass $return_url and $notify_url to the gateway, nor is there a point in passing it. The gateway does not take the return url from the post variables sent during transaction. Instead, the url is set on the gateway end and does not change.

I'm not sure about the separate request part, but the POST that comes back from the

[2016-01-29 14:46] rheator commented on #142
Hi,

I couldn't find anything on $notify_url and $return_url, so I'm just going to ask this:

If the payment gateway does not allow you to pass the $return_url, what can you do?

[2016-01-29 22:25] mnelson4 commented on #142
hi sorry I didn't get back to you earlier @rheator.
Yes in cases where you can't pass the return url or notify url to the gateway dynamically, your suggested workaround is probably the next best thing.
Basically, you should add some code outside of the EE payment methods system to detect when a request is sent to the notify url or the return url, and then redirect them to the urls the EE payment m

[2016-01-29 22:37] mnelson4 commented on #142
It looks like it might be an easy fix for the payment methods to handle IPNs using a static notify_url, but static return_urls might be trickier. Until we have something better, I think you're best using some old fashioned wp actions to detect a return or notify request from the gateway and redirect the request to the urls the EE4 payment methods system is expecting

[2016-02-11 04:53] syedshussaini commented on #142
Hi @mnelson4, I am running through the similar problem.
I am developing the offline payment method, so far I am able to redirect the user to the gateway, make payment and the customer is returned to the EE thank you page, but the payment remains pending.

I am working on merchant warrior payment gateway which allows return & notify URLs. I have made the return url to go to the default one..
Right

[2016-02-11 05:40] mnelson4 commented on #142
hey @syedshussaini, I think your situation might be different because merchant warrior DOES accept dynamic return and notify urls. Can you please create a separate ticket for your issue?

[2016-02-11 06:30] syedshussaini opened #143 "EE4 Custom offsite gateway return url issue."
Hi @mnelson4, I am running through the similar problem.
I am developing the offline payment method, so far I am able to redirect the user to the gateway, make payment and the customer is returned to the EE thank you page, but the payment remains pending.

I am working on merchant warrior payment gateway which allows return & notify URLs. I have made the return url to go to the default one..
Right

[2016-02-11 06:31] syedshussaini commented on #142
Thanks for the reply.. I created a new issue here..
[https://github.com/eventespresso/event-espresso-core/issues/143](url)

[2016-02-11 17:33] mnelson4 commented on #143
First I think the line that says
[code]
should be
[code]
right? Because the `$notify_url` variable passed into `set_redirection_info` has the correct URL for receiving IPNs.

Also, I believe mwarrior sends the payment data to the notify url, right? If so, make sure you've set `$this->_uses_separate_IPN_request = true;` in the gateway class' constructor, otherwise it will expect payment data when r

[2016-02-11 19:19] thenovacreator opened #144 "Wrong Calculated Prices"
I have tickets that have a price of 64 after the tax is added. But if i buy 5 of them the Result is not 320 as it should be but its 319.99. This is a rounding issue that i corrected in my local version of ee and i want to contribute that solution. How can i do this?

[2016-02-11 20:02] mnelson4 commented on #144
Please create a pull request. (here's some documentation: https://help.github.com/articles/creating-a-pull-request/; I've found it easiest if I first fork the repo, make the desired changes in my forked version of the repo on the master branch, then create a pull request).
What base price and tax do you have? Are there any other price modifiers?

[2016-02-11 23:16] syedshussaini commented on #143
I have made the changes to the notify url & the `_uses_seperate_IPN_request = true; ` in the construct
but am still getting transactions as pending, I think that the gateway is receiving `txn_id_chq_nmbr` as empty. on outputting EE_Payment object I got this..

`EE_Payment Object
(
    [_props_n_values_provided_in_constructor:protected] => Array
        (
            [PAY_ID] => 60
            [TXN

[2016-02-11 23:21] syedshussaini commented on #143
The IPN data I am getting is just the following without any of the return data:
[code]

[2016-02-12 00:45] mnelson4 commented on #143
Yeah it sounds like they aren't sending the IPNs to the notify_url you're supplying them.
That IPN data looks like what gets logged when the user returns from the gateway website, not what gets logged when receiving an IPN.
So either they're not sending IPNs at all, or there's something misconfigured on your end, or maybe you're receiving the IPNs but but aren't processing them properly and just h

[2016-02-12 02:25] PunchRockgroin opened #145 "Cannot reach v4.8.33 endpoint"
We are trying to implement a custom app to use the new v4.8.33 endpoint for registration check in, however, we cannot seem to reach it as our app returns 404 on /ee/v4.8.33/registrations/{REG_ID}/toggle_checkin_to_datetime/{DTT_ID}

We are certain we are up to date on the plugin as we can see core/libraries/rest_api/controllers/rpc/Checkin.php and the version the system shows is ee_version
4.8.33.

[2016-02-12 05:10] syedshussaini commented on #143
@mnelson4, I did it exactly the way to suggested & its working in case of notify URL
1 - The payment is going through when I am manually doing a POST using the notify url
but one problem with notify URL is MW returns the response in XML format as shown below -
`<mwResponse>
<responseCode>0</responseCode>
<responseMessage>Transaction	approved</responseMessage>
<transactionID>1-918490ae-9a1c-11de-86

[2016-02-12 16:57] tn3rb commented on #144
sounds like tax is being applied after the ticket price is multiplied by quantity, ie:

[code]

whereas your fix probably does:

[code]

[2016-02-12 18:22] mnelson4 commented on #145
try adding `define( 'EE_REST_API_DEBUG_MODE', true );` in your `wp-config.php` file. I suspect I forgot to make sure the EE routes get refreshed on updates

[2016-02-12 18:26] mnelson4 commented on #145
yeah I just reproduced locally- when I upgraded from anything before 4.8.29 to 4.8.33, and didn't define `EE_REST_API_DEBUG_MODE`, I got the same problem. Working on a fix for the next release

[2016-02-12 18:47] PunchRockgroin commented on #145
Yep, that works for now. Thanks!

[2016-02-12 18:56] mnelson4 commented on #145
Thanks for reporting this. I have a fix that will hopefully be merged into 4.8.34

[2016-02-12 18:56] #145 closed

[2016-02-12 19:14] PunchRockgroin commented on #145
Sorry, to cap this, the developer docs at http://developer.eventespresso.com/docs/ee4-rest-api-rpc-style-endpoints/ should be updated looks like the Check In route should be toggle_checkin_**for**_datetime:

`/ee/v4.8.33/registrations/{REG_ID}/toggle_checkin_to_datetime/{DTT_ID}`
should be
`/ee/v4.8.33/registrations/{REG_ID}/toggle_checkin_for_datetime/{DTT_ID}`

[2016-02-12 19:22] mnelson4 commented on #143
but one problem with notify URL is MW returns the response in XML format

I don't follow why MW's xml formatted response is a problem. Your code just needs to parse the XML and read whether the payment was approved or not (eg you could use http://www.w3schools.com/php/php_xml_simplexml_read.asp). You might need to look at the raw post data too (eg maybe use http://php.net/manual/en/wrappers.php.ph

[2016-02-12 19:25] mnelson4 commented on #145
thanks!

[2016-02-16 00:04] syedshussaini commented on #143
Hi, I have been trying this but I am unable to figure out where exactly the EE is getting the post data.
for testing I am emailing my self the POST data
[code]

and getting empty array. I have placed this code in handle_payment_update(); am I placing this inside a wrong function.? not sure where to grab the post data inside EE. can you please point me to right direction.. as how to get the post da

[2016-02-16 00:42] tn3rb commented on #143
**\EE_Offsite_Gateway::handle_payment_update()** (or your child class's version of it)  is called by  **\EE_PMT_Base::handle_ipn()**, which is called by **\EE_Payment_Processor::process_ipn()**.

That last method is most likely called from within the ESPRESSO_TXN_PAGE shortcode, from the
**\EES_Espresso_Txn_Page::run()** method, but could also be called from **\EE_SPCO_Reg_Step_Payment_Options::_p

[2016-02-16 00:52] syedshussaini commented on #143
I am getting the following value for the $update_info

[code]

[2016-02-16 05:30] mnelson4 commented on #143
hey @syedshussaini, you can learn more about what the IPN data should look like by trying the skeleton new addon located here https://github.com/eventespresso/event-espresso-core/tree/master/tests/mocks/addons/new-payment-method. Just put that folder in your `wp-content/plugins` as it's a regular plugin. Activate it, then go to payment methods page and then activate the "New payment method Offsite

[2016-02-16 06:23] syedshussaini commented on #143
@mnelson4 I've set the uses_separate_IPN_request to true as you suggested.. here's the gateway class

[code]

[2016-02-17 02:44] syedshussaini commented on #143
hey.. I am getting the step/action/spco_txn in the IPN data when I have set the Use Separate IPN option to "yes" in the payment method "New payment method Office" :
[https://drive.google.com/file/d/0BxTyAOUoblzEUmFjUldkSnZGMk0/view?usp=sharing](url)

[2016-02-17 03:32] syedshussaini commented on #143
@mnelson4.. Here's the entire gateway class

[code]
I have re installed all the plugins from scratch.. now one more strange thing happening - After making transaction using MW.. **I cant see the transaction in the logs**, but I can see in the transaction tab but as payment pending.

[2016-02-17 21:09] mnelson4 commented on #143
hi @syedshussaini ya on initial glance that looks ok. I'd need to run it and debug it myself as the next step but I'm not sure I'll manage to get around to doing that anytime too soon. Did you try using the skeleton offsite payment method that I suggested? Using that as a baseline to confirm what EE payment method is supposed to work and how logs are supposed to be logged might help

[2016-02-18 01:13] syedshussaini commented on #143
Thanks @mnelson4..! & Yes I have tried using the skeleton method & got the whole process.. & I understand the I need to parse the XML returned by the MW gateway..
I am still unable to figure out in EE where/how to grab the data send by MW so that I can use it & parse the XML.. & may be pass it to the $update_info then.?

another thing I noticed...
When I am setting the uses_separate_IPN to **false

[2016-02-18 06:33] tn3rb commented on #143
you don't have to do that... the $update_info var **IS** the $_REQUEST data, so anything sent from MW via POST or GET will be in the $update_info array

you definitely want **uses_separate_IPN** to be set to **true**

I wonder if your problem is this bit of code near the top of handle_payment_update()

[code]

you shouldn't be returning the payment if you have not updated it yet unless the IPN dat

[2016-02-18 06:38] tn3rb commented on #143
One other question...
is "transactionID" a property that is set by MW and then sent back with their response ?
or do you have to set that value as part of the $order array that gets passed to EE_Payment::set_redirect_args() ?

[2016-02-18 06:44] syedshussaini commented on #143
@tn3rb...
**transactionID** is property set by MW & sent back in the response xml ...  here's the sample response :

[code]

[2016-02-22 19:34] thenovacreator commented on #144
Well i just pushed up the number of diggets that is used for calculation.
But this could be a good solution too. I think it could be even a better
Solution. I will take a look at this if i find some time.

2016-02-12 17:57 GMT+01:00 Brent Christensen <notifications@github.com>:

--
Novacreator
Kolja Berlau
Waldstraße 31
24939 Flensburg

[2016-02-26 07:33] rheator commented on #142
Hi,

Sorry for the long absence, been away for a while.

I got the gateway provider to change the static url to a page with the redirect code on it.
Currently, it redirects to the payment processed page properly, but it does not complete the payment.

Here is the code:
[code]
The gateway returns with the variables in the URL.

[2016-02-26 08:42] rheator commented on #142
Cleaned up a bit.

[code]
Just to make things clear, this is placed in a new page which the gateway will redirect to once it has processed the transaction.

From what I see, handle_payment_update was never called when the redirect happened.
Am I going about this wrong?

[2016-02-27 08:12] PunchRockgroin opened #146 "Show Registration's share of transaction and payments in CSV Report"
When exporting to CSV registrations for an event, those registrants that have registered for multiple events, some free some not, are showing Amount Paid as 0 in the CSV, as well as Transaction Amount Due as 0.

However, in the WP admin and via API, the transactions are marked paid or show TXN_total and TXN_paid as matching.

This seems to only happen with those registrants who purchase multiple e

[2016-02-27 14:23] rheator commented on #142
Is there a way to know what handle_payment_update has received?

[2016-02-27 20:01] mnelson4 commented on #143
it sounds like MW isn't sending an IPN, or sending it to the transactions page (where IPNs should go).
Regardless of how you've set up your gateway, whenever a request goes to the transaction page that has the `$_REQUEST['e_reg_url_link']` set, it should be creating a log for the request.
So maybe MW isn't sending an IPN, sending the IPN to the wrong URL, or sending it without the needed 'e_reg_ur

[2016-02-27 20:13] mnelson4 commented on #146
hi @PunchRockgroin currently in EE only the primary registration has a value for the "Transaction Amount Due" and "Amount Paid" because these values are transaction-wide, at when the Registration CSV report was created we weren't recording which payments were for which registration, and nor did we have a good way to figure exactly how much a single registration owed on a transaction (it got tricky

[2016-02-28 07:47] rheator commented on #142
Never mind, figured out why. Didn't save the transactions. The post was working correctly.

[2016-03-01 22:45] mnelson4 commented on #142
glad you found it. Sorry I wasn't able to be of more help, been busy with some deadlines

[2016-03-01 22:45] #142 closed

[2016-03-04 19:19] thenovacreator commented on #144
Hi Folks,

since the change of the calculationorder does not fix the problem i came along with a patch that makes ee using more digits for calculation.

[2016-03-04 22:50] garthkoyle commented on #115
The Event Espresso and Affiliate WP integration is now available: https://eventespresso.com/product/eea-affiliatewp/

[2016-03-08 12:24] nerrad commented on #146
closing due to lack of activity.

[2016-03-08 12:26] nerrad commented on #144
Hi just letting you know we've seen this, will look when we can.

[2016-03-09 18:08] mnelson4 commented on #144
Hey @thenovacreator,
I'm not sure if we want to introduce that level of precision; instead we've been doing a round-as-you-go approach, so that no line item in EE has a partial penny amount. This is good for when we send line items off to gateways, for example.
For example, let's say the ticket-and-tax-and-discounts combine to make it so a ticket's final price is $3.33333333. And someone orders 3

[2016-03-10 19:46] mnelson4 commented on #144
re-mind again actually: in my case 319.99 is right because is applied onto the pretax total then rounded, not applied to individual items then rounded (which does give 320.00)

[2016-03-11 15:19] thenovacreator commented on #144
Well use the base price of 2689.08 or 2689.07 and tax amount of 19% and try to get an endprice of 3200.

[2016-03-16 20:59] mnelson4 commented on #144
@thenovacreator I'm confused at what the issue is you're trying to address. At first I thought the issue was the seemingly incorrect calculations when multiple tickets are purchased (eg  5 $53.78 tickets with 19% tax equals $319.99, not $320 like you had expected and our user interface suggests it should) but now you want to have a specific final price on a single ticket when taxes are applied. Wh

[2016-03-17 03:23] tenxor105 opened #148 "Local Payment Gateway Submits Form From JS but Gets Blocked by _billing_form_is_valid"
Hi,

A local payment gateway requires the following code. I have already written an onsite payment method plugin but encountered a problem.
[code]

First, I got to add data-encrypt tags in the credit card fields. Then JS would pick them up then add another field to the post body called encryptedCardData which is a long random string (to be decoded later in the payment gateway server). SubmitForm s

[2016-03-17 18:13] mnelson4 commented on #148
So this is an ONsite gateway right? Ie, this form will be submitted to the same server that showed the content right?

Normally you, the gateway integration developer, wouldn't declare the form tag, usually Event Espresso does that. So if you're overriding where the form is being submitted that's tinkering with EE's normal onsite payment handling and likely to break things. So ideally your code sh

[2016-03-17 19:41] thenovacreator commented on #144
Well in my tests you can adress both Problems with the same solution. So it's about both Problems. So I agree with the second statement.

[2016-03-22 11:20] tenxor105 commented on #148
Hi, have read your documentation and actually did some coding already.

First issue - the html_other_attributes for EE_Credit_Card_Month_Input and EE_Credit_Card_Year_Input don't work. Can you please check that? My solution to this was to use EE_Text_Input instead but would be great if I could make it work for select tags.

Second issue - to clarify my original question, I have written the followi

[2016-03-22 17:42] jonathan-dejong opened #149 "h3 tags inside p tags on thank you page"
Heyo,

Trying to modify the thank you page using `FHEE__thank_you_page_overview_template__order_conf_desc`.

I checked the source code and it looks like this:
[code]
Seems a bit strange to me to wrap a h3 inside a p tag. It results in this kind of markup:
[code]

Its a mess!

[2016-03-22 17:50] jonathan-dejong opened #150 "Regarding overriding templates"
Hi,

So. Some of EEs templates can be overridden by placing a copy in the uploads folder.
However it seems to be very spontaneous which works and which does not.

I've had some success with files located in core/modules but no luck with templates in core/shortcodes for example. Is there a strategy to this?

As an example I've been attempting to modify the thank you page pretty heavily. I can make

[2016-03-22 20:51] mnelson4 commented on #149
sorry to change the amusing ticket title, but I think this is a bit more descriptive ;). But I think it's a good find

[2016-03-23 00:36] mnelson4 commented on #148
you're right, we hadn't ever used "other_html_attributes" on any input other than text inputs. I've made a ticket to address that, should be quickfix. Actually if you want to try branch BUG-9533-most-display-strategies-ignore-other-html-attributes, it should allow all the inputs to use the "other_html_attributes".

Also instead of using `EE_Billing_Attendee_Info_Form` and excluding most of the fie

[2016-03-23 18:44] joshfeck opened #151 "Compatibility Request: Fix WP Spamshield so it doesn't block PayPal's IPN"
If you install and activate the WP Spamshield plugin and then try to post a payment back to Event Espresso using PayPal's IPN, it seems that WP Spamshield blocks the IPN. The result is the payment status for the registration is not updated as expected. This can be remedied by going to WP Spamshield's settings and checking a checkbox for "Disable anti-spam for miscellaneous forms." Once that's disa

[2016-03-23 18:52] nerrad commented on #151
Just adding my two cents:

I think this was a poor path to take from a user perspective.  This option they have enabled by default should be _disabled_ by default with clear instructions on what _may_ break if user's enable it (i.e. if you have any plugins that do ecommerce, it's possible enabling this option will prevent those transactions from completing).

Hopefully, someone in the EE community

[2016-03-23 19:10] nerrad commented on #151
Yeah likely WP_Spam_Shield is doing its thing really early.  So those methods haven't probably even been called yet.  It's possible we'd have to add this filter really early in the request as soon as we know we are processing an IPN (I'm not sure atm where that would be).

[2016-03-23 20:32] RedSandSD commented on #151
Hey guys,

Author of WP-SpamShield here. I'll be happy to help with the compatibility.

Using the hooks are very easy. Ridiculously easy, really.

The hook you'll need bypass the miscellaneous form spam checks in WP-SpamShield is: 'wpss_misc_form_spam_check_bypass'. Just add the filter when your plugin is doing its thing (during a specific action or process) and needs a bypass. (In your case, the

[2016-03-23 20:39] nerrad commented on #151
Thanks for posting here Scott.  Speaking as a user of your plugin (I've used it on a number of sites), I really appreciate the work you've put into it and it works really well.  However, I'm kinda baffled why you have this new feature enabled by default.  Since it WILL break behaviour for users of your plugin who also have other plugins doing e-commerce, api calls and/or other misc forms happening

[2016-03-23 20:46] RedSandSD commented on #151
Just to answer a couple of your concerns...

Regarding this:

From a spam and security perspective, this type of thing _has to be enabled by default_. WP-SpamShield is the only anti-spam plugin that can work to_ protect any form_ on a WordPress website without having code built specifically for it. Just think about that for a second. It literally works with every single contact form plugin out the

[2016-03-23 20:48] RedSandSD commented on #151
Hey nerrad,

I'm glad you like! I think my post above will answer your question on that. :)

[2016-03-23 21:07] joshfeck commented on #151
You might look into the possibility that there are sites that use SSL that have the issue. This is because the site I use for testing uses SSL. We have found that the PayPal IPN is blocked when "Disable anti-spam for miscellaneous forms" isn't checked, even with the entire site loading as https.

[2016-03-23 21:23] RedSandSD commented on #151
`You might look into the possibility that there are sites that use SSL that have the issue. This is because the site I use for testing uses SSL. We have found that the PayPal IPN is blocked when "Disable anti-spam for miscellaneous forms" isn't checked, even with the entire site loading as https.`

Will do. That is quite odd though. We have different testing criteria for SSL/non-SSL. We've never s

[2016-03-24 08:41] tenxor105 commented on #148
Hey, just dropped by to say your input was very helpful. Extending the billing form and overriding the validate function was the way to go! Thanks brother! I'll close this question now.

[2016-03-24 09:59] #148 closed

[2016-03-24 14:56] mnelson4 commented on #148
Right on! Feel free to give us some stars at https://wordpress.org/support/view/plugin-reviews/event-espresso-decaf

[2016-03-25 15:39] tn3rb commented on #150
can you provide some code to show what you are attempting to do, that way I can trouble shoot it.
as far as I know, any template can be overridden, but maybe there is a bug preventing that from happening with your implementation. I;ll need to see some code though plz.

[2016-03-25 15:40] tn3rb commented on #149
the filter was probably moved from somewhere else... so no drunkenness involved... just copy pasta

[2016-03-25 16:32] tn3rb commented on #149
here's a fix you can test:
https://github.com/eventespresso/event-espresso-core/tree/BUG-9540-thnx-page-html

[2016-03-25 17:22] tn3rb commented on #149
going to change that fix actually, so that the translated strings don't change

[2016-03-28 08:10] PrafullaKumarSahu opened #152 "want to remove the alt text below the image"
http://realwaymedia.info/aiwa-stage2/events/event-registration/?ee=88

Book Cover image // want to remove this

This is a caption

Any help ?

[2016-03-28 08:25] nerrad commented on #152
That has nothing to do with Event Espresso.  The caption for the image is being added by your theme.

[2016-03-28 08:25] #152 closed

[2016-03-28 09:39] PrafullaKumarSahu commented on #152
Can you please tell , where can I configure
[code]
 of registration_page_display.php page

[2016-03-28 10:13] PrafullaKumarSahu opened #153 "need to modify event_desc"
Can you please tell , where can I configure

[code]

of registration_page_display.php page

which page data is displayed here and where it is set ?

[2016-03-28 10:39] nerrad commented on #153
Hi there,

`registration_page_display.php` is not a template file bundled with Event Espresso 4 and `espresso_format_content` is not a function in Event Espresso 4.  This repository is for Event Espresso 4 development and it _looks_ like your question is more directed to Event Espresso 3 usage.

Just to be sure I did a quick search using the github search box for this repo to see if anything turne

[2016-03-28 10:39] #153 closed

[2016-03-28 10:40] nerrad commented on #153
You might want to try the [Event Espresso Support Forums](eventespresso.com/support/forums) or the [User Documentation](https://eventespresso.com/support/documentation/)

[2016-03-28 10:45] PrafullaKumarSahu commented on #153
yes, my question is related to EE 3 .

[2016-03-28 10:46] PrafullaKumarSahu commented on #153
your Event Espresso Support Forums  link is a 404 page ?

[2016-03-28 11:07] nerrad commented on #153
sorry, a typo. it's been corrected.

[2016-03-28 11:07] PrafullaKumarSahu commented on #153
I have just posted it on https://eventespresso.com/topic/need-some-change-in-registration-page/

[2016-03-28 11:58] PrafullaKumarSahu opened #154 "Can you please tell me where I can modify / customize [caption] shorcode ?"
I got the problem . It is because

[code]

using the image alt attribute as caption and there is another caption .

Can you help me to remove this caption generated from image alt attribute ?

[2016-03-28 12:41] nerrad commented on #154
`[caption]` is NOT a shortcode found in Event Espresso 4 (which is this repository).  Please do at least a bit of checking before you post an issue.  Thanks.

[2016-03-28 12:41] #154 closed

[2016-03-28 12:46] nerrad commented on #154
Also, please read the document (README.md) found https://github.com/eventespresso/event-espresso-core before posting another issue.  Any further issues posted by you `PrafullaKumarSahu` that are not related to this repository and follow the guidelines in that doc will be simply closed with no response.

[2016-03-28 13:14] PrafullaKumarSahu commented on #154
Sorry for that, I got it that, it is not belongs to EE, sorry for that.

[2016-03-28 15:00] jonathan-dejong commented on #150
Sure, I'll post the example tomorrow!

[2016-03-28 18:47] PunchRockgroin opened #155 "str.replace is not a function"
Greetings!

Running into an issue across all browsers regarding the new is_email function. Looks like the "Loop through each sub" test is somehow passing a function instead of a string to the test, causing the test to fail on any valid email.

I've added console.logs in the str_trim function to illustrate:

![2016-03-28 12_41_50-clipboard](https://cloud.githubusercontent.com/assets/1855836/1408654

[2016-03-28 19:14] nerrad commented on #155
I just took a quick gander at the code.  The only way I could see this maybe happening is if you have javascript loading before this particular js that defines a `test` function.  That in turn may be what is triggering this.  Are you able to confirm whether that is the case in your environment?

We are unable to reproduce on our test sites while trying to validate `test@test.com`

[2016-03-28 22:24] nerrad commented on #155
actually my theory is incorrect as well... from your console.log dump it looks like it's already looped through `test` and `com`

[2016-03-28 22:27] nerrad commented on #155
I think it's likely this has something do with this method being in the scope of the `jQuery.ready` callback and the usage of `$`

[2016-03-29 07:31] jonathan-dejong commented on #150
Alright!

So I attempt to modify the `thank-you-page-overview.template.php` file.
I've created a copy in `uploads/espresso/templates/shortcodes/espresso_thank_you/templates/` which I think would be the correct directory.

EE isn't reading in that file at all.

[2016-03-30 13:16] PrafullaKumarSahu opened #156 "Is there any way to get event excerpt and display in custom event listing template ?"
get_the_excerpt();  does not retieve the excerpt , please let me know if there is any other function to achieve it.

event_list_display.php

[code]

[2016-03-30 13:21] nerrad commented on #156
As has been stated multiple times to you already, this repository is for EE4 not EE3

[2016-03-30 13:21] #156 closed

[2016-03-30 13:25] PrafullaKumarSahu commented on #156
It is my request, Can you please let me know, if there is any repository for EE3 ?

[2016-03-30 13:32] PrafullaKumarSahu commented on #156
thank you got it https://github.com/eventespresso/event-espresso-legacy/issues/2

[2016-04-01 07:08] thenovacreator commented on #144
Du you have some updates for the status?

[2016-04-01 16:23] mnelson4 commented on #144
Hi @thenovacreator, here's what's holding things up:

* it would be helpful to have a set of tests that clearly show what dollar amounts currently cause problems and that this change resolves this (php unit tests are ideal, but if not then screenshots showing the exact base prices, price modifiers, taxes, and quantities)
* these changes don't affect how prices are stored in the database, so we're

[2016-04-01 18:19] thenovacreator commented on #144
Yes. I will put you some things together.

[2016-04-04 22:25] tn3rb commented on #155
@PunchRockgroin

I've pushed a potential fix for this issue for you. If you have a testing site, can you please checkout the https://github.com/eventespresso/event-espresso-core/tree/BUG-9564-forms-js-str.replace branch and test if this fixes the reported issue for you ?

Please always back up your database before performing any kinds of activations, upgrades, etc.

thank you

[2016-04-04 22:37] PunchRockgroin commented on #155
@tn3rb

Tested and working!

Thanks!

[2016-04-06 07:45] jonathan-dejong commented on #150
@tn3rb
Any input on this? :)

[2016-04-06 07:57] jonathan-dejong opened #157 "One questions answer overwrites others randomly when registering."
### Is this a bug report?
- [x] yes
- [ ] no
### What branch did this occur in?

Master (v 4.8.35.p)
### What version of WordPress is on the site this issue happened?

4.4.2
### Outline the steps to reproduce

Unclear as it happens at random. But the client has a few custom questions in the personal question group in which an answer to one question overwrites the answers to some of the others.

So

[2016-04-06 07:58] jonathan-dejong commented on #157
I've checked the changelog for later versions changes/fixes but can't really see anything related.

[2016-04-06 12:05] nerrad commented on #157
Thanks for checking the changelog to see if anything related might have fixed.  However, if possible it'd still be good to setup a test site with a copy of this site's db and upgrade to the latest version of EE and see if the issue still persists.  We only troubleshoot/attempt to reproduce on the latest versions of EE.

[2016-04-06 12:06] nerrad commented on #157
any ideas here @mnelson4 or @tn3rb ?

[2016-04-06 13:11] jonathan-dejong commented on #157
Yeah I will also update the live site to the latest version as soon as I can.
We have a staging-site which is basically a copy of the live one. So I'll also sync up the DB there and do some testing.

[2016-04-06 19:02] mnelson4 commented on #157
hey @jonathan-dejong regarding the screenshot: the problem might be just in how the info is being displayed on that page in the admin. Can you also give a screenshot of the related rows in the database ? (this query would do the trick: `SELECT * FROM wp_esp_answer where REG_ID=$reg_id` where `$reg_id` is the ID of the registration) That would help us to know if the data in the database is incorrec

[2016-04-06 21:53] tn3rb commented on #157
@jonathan-dejong

Another possibility for something that could cause this, although it doesn't appear to be the case from the details you have provided so far, is that the way our questions and question groups work, you can NOT reuse the same question in multiple question groups within the same registration form.

So for example, if you took our email question, which is normally part of the Person

[2016-04-07 18:06] joshfeck commented on #149
The fix was included in the last release update (4.8.39)

[2016-04-07 18:06] #149 closed

[2016-04-10 23:49] ammist opened #158 "Addon Development question: How do database tables get created?"
Hi there,

I hope this is the right place to put this question.

I'm building an addon to allow people to add things like T-shirts, etc, to a registration.  I started with the Mock Addon you provided (which was super-helpful), but now I'm getting to the point where I have to create my own database tables when someone installs the addon.

Do I have to create these manually in {addon}/core/data_migr

[2016-04-11 13:04] nerrad commented on #158
Hi Anca,

Yes, you're on the right track with the dms.  Here's some sample code from an unreleased add-on that I have which creates tables.

[code]

The above is in a file named `EE_DMS_Saas_Solution_0_0_1.dms.php`

And the file path is registered via the arguments sent into `EE_Register_Addon` in the `dms_paths` argument. Here's the snippet:

[code]

So the important things are:

1. The file name

[2016-04-11 16:16] ammist commented on #158
Thanks for the help!  I created the migration script, and, once I updated the plugin version, the tables were created.

Cheers,

Anca.

[2016-04-11 16:16] #158 closed

[2016-04-18 12:28] jonathan-dejong commented on #157
Hi,

@mnelson4 yeah they're the same in the DB as well: https://dl.dropboxusercontent.com/u/10298919/Sk%C3%A4rmavbild%202016-04-18%20kl.%2014.25.49.png

@tn3rb I get that :) In this case you're right tho. we're not using the same questions in multiple groups for the same registrations.

I'm currently updating the staging site and am going to try some registrations to see if it replicates there. Ha

[2016-04-19 09:33] jonathan-dejong opened #159 "Cost to sponsor feature remove registrant from registration"
### Is this a bug report?

* [ ] yes
* [x] no

I know you guys are able to work in specific features faster if they're being sponsored.

My client wants to know what it'd take to be able to remove a single registrant from a registration of multiple registrants. I can see how it might be a lot more difficult removing the primary registrant so perhaps an estimate for just additional registrants as w

[2016-04-20 18:40] garthkoyle commented on #159
I'm not sure GitHub is the best place to have this discussion, so after a brief discussion here and you still want to pursue this then we can evaluate it further over email.

Can you describe the situation that is caused when one registration out of a group of registrations wants to attend and others will not, or visa versa?

When an attendee is part of a group of registrations, you can edit a sin

[2016-04-20 18:51] nerrad commented on #159
Does canceling a registration in this group not work for the described use case?

[2016-04-24 04:54] RedSandSD commented on #151
Any luck implementing this?

[2016-04-24 12:23] nerrad commented on #151
Scott, thanks for checking in.  However, the way I see it, this is not something EE should be fixing but something better fixed in your plugin.  EE works without WP Spam Shield, but when users activate WP Spam Shield then Paypal with EE ceases to work.  From the perspective of users, its not EE introducing broken behaviour, it is WP Spam Shield.

I find it odd that you are insisting we implement a

[2016-04-24 22:54] RedSandSD commented on #151
Hi Darren,

I think you misunderstand the situation. **We provided this fix for your benefit, not ours.** You guys requested our help, not the other way around. **We provided an easy fix that is 4 lines of code.** Other plugin authors have been happy to implement this and have been grateful for our help. If you don't want to implement 4 lines of code, that is up to you. _We provided that as a cour

[2016-04-25 13:55] joshfeck commented on #151
Did you happen to look at the log I emailed you?

[2016-04-25 16:41] ammist opened #160 "Questions about adding things to the cart programmatically"
I'm working on developing an addon, so this is just a question.

My addon allows people to sell things like Tshirts and other schwag as part of a purchase.  I've figured out how to create the "Ticket Extras" and now i'm tackling the other end of the process, which would be paying for them.

I'm trying to figure out the best way to do this, and I've come up with a couple:
1. Extend the "Line Item"

[2016-04-25 19:38] mnelson4 commented on #160
heya @ammist ya that sounds great. This is a feature we had quasi planned on, but you'll probably find there are a few EE core changes that will need to happen for fully make this happen. But we'll see.

Hopefully, the key should just be having your code hook into creating the line items at the correct time, and then putting the line items in the right place in the tree, and then everything else s

[2016-04-26 01:17] ammist commented on #160
The more I read through the code, the more places it seems this could hook into, depending on how we want the registration, and the "extras" to work.

The specific use case I want to solve for is a convention, where each attendee can sign up for workshops that have additional materials fees.  In addition, each convention attendee gets to purchase memorabilia (a T-shirt, a figurine, a pen, or all t

[2016-04-26 07:47] jonathan-dejong commented on #159
@garthkoyle I will check with the user and get back to you.

@nerrad the option to cancel a registration wasn't there a while back? I'm going to ask that they try it to see if that's what they where after..

[2016-04-26 13:06] nerrad commented on #159
It's always been possible to change the status of registrations to cancelled from the Registration List table.  However somewhat recently (in the past year?) we added some features that took care of correcting transaction totals etc when a registration was cancelled.  Part of this feature also enabled keeping track of how much each registration owes for the transaction so calculations are adjusted

[2016-04-26 13:59] joshfeck commented on #160
Hi Anca,

It turns out Brent put together a code snippet that shows how to add line items to the cart, where the item is based on the selection of an answer from the registration form. You can follow the code example here:

https://github.com/eventespresso/ee-code-snippet-library/blob/master/checkout/bc_ee_apply_transaction_surcharge.php

Hope that helps!

[2016-04-26 16:47] tn3rb commented on #160
Hi Anca,

That code snippet that Josh posted (thnx Josh!) should hopefully give you an idea of what you need, or at least get you pretty close to it. Plz note that that snippet is for adding a charge to the entire transaction, whereas I think you want to add additional line items for various registrants. The one thing I can think that may be missing for you, is a way to associate the selected memo

[2016-04-26 17:36] ammist commented on #160
Wow, this is great!  I'm taking a look now and will get back to you with more questions / info.

What I see here will definitely make this work for the project I'm doing now - where we are restricting registrations to one person each (yay, simplicity!), and getting this to work with help me figure out the rest of the process to make this usable by others.

[2016-04-27 14:39] jonathan-dejong commented on #150
So I saw this in the latest changelog:

Guessing you've fixed this?

[2016-04-29 10:02] mcrisci opened #161 "Messages seem to be getting stuck in the "queue_for_sending" status."
When submitting an issue, please follow this rough guideline for your report.

### Is this a bug report?

* [x] yes
* [ ] no

### What branch did this occur in?

4.9.0.rc.010

### What version of WordPress is on the site this issue happened?
4.5.1

### Outline the steps to reproduce

The mail are scheduled, but the automatic trigger that should send them did not activate.

Any specific place to lo

[2016-04-29 11:49] nerrad commented on #161
Hi there, thanks for your report.  Unfortunately theres not enough information here for me to know exactly what your issue is.  Are you able to add any more details?  I'm aware it has something to do with the message system but its not clear what  is wrong with the messages system.

[2016-04-29 12:27] mcrisci commented on #161
Thanks for reply Nerrad, maybe i didn't explain in a good way.

The issue is : message are not sent, they are Queued For Sending, but actually i have some test message queued from several hours

[2016-04-29 12:31] nerrad commented on #161
If you click the "Send Immediately" action, does the message get sent?

Also:

- Is this happening for all message types?
- What message type and messenger IS this happening for?
- Is wp-cron disabled on your site?

[2016-04-29 12:48] mcrisci commented on #161
if i click send immediatly the mail are sent, so the plugin is working

- actually i got in queue only 'Registration Pending Payment' kind of mail (because i'am testing)
- wp-cron is enable, because all other plugin are making their things

i've dumped also my wp-cron, but the only thing related to EE are the automatic check for plugin update every 86400 seconds, nothing related to the message sys

[2016-04-29 13:30] nerrad commented on #161
Yes that sounds odd if there isn't a cron schedule for messages in your dump.  If you install a plugin like [wp-crontrol](https://en-ca.wordpress.org/plugins/wp-crontrol/), you can use that to see any set schedules and even trigger them in advance.

You should see two scheduled events for the messages system: `AHEE__EE_Messages_Scheduler__generation` and `AHEE__EE_Messages_Scheduler__sending`.  If

[2016-04-29 13:33] mcrisci commented on #161
ok, i'll dig a little with that plugin and make also some other test

when (and if .... heheheh ) i find the soulution i'll report it there

many thanks for your support

[2016-04-29 13:58] nerrad commented on #161
Thanks for the report!  It's a critical system so we definitely want to make sure we catch any bugs.

[2016-04-29 14:10] Pebblo commented on #150
Hi Jonathan,

This item within the changelog:

Just added a hook to allow you to display the exact location of the template being used.

For example, you now can use something like this:

https://gist.github.com/Pebblo/07381ce848c74786676f5bb7bb495a8e

To display the location a template is loading from, however it doesn't really help you with the above. It enables us to find out where a users outp

[2016-04-29 14:16] mcrisci commented on #161
QUICK UPDATE:

manually adding the events AHEE__EE_Messages_Scheduler__generation and AHEE__EE_Messages_Scheduler__sending, with 'wp-crontrol' do the job.

That resolved my issue, i think that in my configuration, when updating to the latest EE, some plugin/custom code/anything else was preventing the setup of that cronjobs

If i got some other information i'll report back

Many thanks again

[2016-04-29 14:26] nerrad commented on #161
Great thanks.  Before we release this version it'd be nice to know if this could be fixed alternatively as well.  If you're able to reset your testing environment to when it wasn't working, does deactivating/reactivating Event Espresso add the schedules?

[2016-04-29 14:41] joshfeck commented on #161
Is there a specific plugin or some custom code that you suspect would have caused the issue? The reason I ask is because it'd be good to know and we can investigate further.

[2016-04-29 15:13] mcrisci commented on #161
in my staging site i have all the plugin that i use on the live site.

mail related plugin i use are:
- wpMandrill for sending trough their service
- Email Log : to log exiting mail

Also my installation of EE start from EE3 so maybe there are some issue during several update, in the next few day i can try a clean installation and see if the problem keep presenting.

For sure the issue was that th

[2016-04-29 15:18] nerrad commented on #161
okay I'm going to close this issue then.  If you discover any more specifics that can potentially help us please feel free to add to the ticket.  Thanks.

[2016-04-29 15:18] #161 closed

[2016-04-29 15:37] nerrad commented on #161
So one theory I have in your case is that EE creates a custom schedule for usage by its events using the `cron_schedules` hook.  That's the same hookpoint that can be used to change the EE custom schedule to something else.  However, its very easy for other plugins/themes/customcode to wipe out any schedules that are set by also using that filter hook and failing to return all the schedules.

In W

[2016-05-04 10:17] jonathan-dejong commented on #150
Hi Pebblo,

So what you're saying is basically instead of putting my overriding files in uploads I should put them in my theme? Seems like a strange priority-list to first check the root of current theme, then absolute path and then the overriding location that's recommended.. and if checking in the theme, why not in an "espresso" folder in the theme like everybody else does it (read woocommerce)?

[2016-05-05 09:52] Pebblo commented on #150
Yes, that is what I am saying, it is the most reliable location for all templates passed to locate_template()

The idea behind this is to move away from placing .php within /wp-content/uploads/espresso/

That location has been used since EE3 so we stuck with it, however some hosts will simply delete php files located there, some security plugins will also either delete or empty the file (which mea

[2016-05-05 11:43] jonathan-dejong commented on #150
Thank you for the very extensive answers :)

Now that you've explained the uploads folder as a remnant of EE3 it makes sense.. I am however pretty sure I've seen the information about putting the template files there in your documentation somewhere but at the moment I can't remember where. It might've changed too because it was probably about a year ago I learnt this. At that time there was also n

[2016-05-16 21:03] sgodkin opened #162 "Query events via REST doesn't seem to allow filtering by date"
I'm trying to query events after a particular date.  I'm using Chrome Postman for a proof of concept and can filter by other columns, but filtering by event start date seems to always return everything.  As a side note, the documentation references a section that lists entities but I can't find it.  My goal is to find all the events after a start date sorted in order of start date.

As suggested i

[2016-05-16 21:10] mnelson4 commented on #162
Here's a query that uses our demo site to find events before August 4th 2016 @ 11 pm.
http://demoee.org/demo/wp-json/ee/v4.8.36/events?where[Datetime.DTT_EVT_start][]=<&where[Datetime.DTT_EVT_start][]=2016-08-04T23:00:00&include=Datetime

So you need to switch "Event.DTT_EVT_start" with "Datetime.DTT_EVT_start"; and I think switch ">" for "<" to get events BEFORE the specified date

[2016-05-16 21:49] sgodkin commented on #162
Here is the full url I'm sending using chrome postman.  This is a fresh install of wordpress and EE decaf, a sandbox install to play around with.  I only have 2 events, one starts 2016-05-14T08:00:00 and the other 2016-06-15T19:00:00.  I'm looking to see events starting on May 15th or later so it should return only 1 event but always returns 2.  I've tried numerous syntaxes but none seem to do any